.approvalIndex{

  .el-form-item{
    margin-bottom:10px;
    .el-form-item__label{
      width: 100px;
    }
  }
  
  .el-card__body {
    padding: 0px;
    margin-left:15px;
    margin-right:15px;
  }
  .el-col{
    padding: 5px;
    .el-form-item__label{
      width: 88px;
      // text-align-last: justify;
      text-align: right;
    }
    .el-form-item {
      margin-bottom:0px;
    }
  }
  .card{
    // background-color: #F0F8FF;
    border-radius: 15px;
  }
}

.color-span {
  line-height: 24px; 
  height: 24px; 
  width: 60px; 
  display: inline-block;
}
.square-class {
  float:right;
  line-height: 24px;
  height: 24px; 
  display:flex;
  span {
    margin-right:5px; 
    line-height: 24px;
    height: 24px; 
    align-self:center;
  }
}
.red-color {
  color: #F56C6C;
}

.purple-color {
  color: #800080;
}
.red-background {
  background: #F56C6C;
}
.purple-background {
  background: #800080;
}
