/* 屏幕小于1440px */
@media screen and (max-width: 1440px) {

	// ---------------------------------------------mydaily.scss开始-------------------------------------
	.my_daily_css{
		.el-calendar__body {
				padding: 12px 20px 35px;
				background: #83A3B4;
				font-size: 10px;
				color: #797979;
				border-radius: 0 0 5px 5px
		}
		
		.el-calendar__header {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding: 12px 20px;
				border-bottom: 1px solid #EBEEF5;
				background: #D9E0E1;
				color: white;
				border-radius:5px 5px 0 0
		}
		
		.el-calendar-table thead th {
				padding: 12px 0;
				color: white;
				font-weight: 400;
		}
		
		.el-calendar-table .el-calendar-day {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding: 8px;
				height: 85px;
				background: #ECF5FF;
				font-size: 10px;
		}
			
	}

	.tag-title{
			font-size: 10px;
			border: 3px;
			height: unset;
			font-weight: bold;
			padding: 3px;
			padding-left: 8px;
			padding-right: 8px;
			// 样式一
			background: #83A3B4;
			color: white;
	}

	// ---------------------------------------------work-date-manager.scss开始-------------------------------------
	.work_date_css{
		.el-calendar__body {
				padding: 12px 20px 35px;
				background: rgb(96, 111, 143);
				font-size: 10px;
				color: #010111;
				border-radius: 0 0 5px 5px
		}
		
		.el-calendar__header {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding: 12px 20px;
				border-bottom: 1px solid #EBEEF5;
				background: rgb(206, 211, 216);
				color: white;
				border-radius:5px 5px 0 0
		}
		
		.el-calendar-table thead th {
				padding: 12px 0;
				color: white;
				font-weight: 400;
		}
		
		.el-calendar-table .el-calendar-day {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding: 8px;
				height: 85px;
				background: rgb(247, 249, 252);
				font-size: 10px;
		}
		
	}

	// ---------------------------------------------quotation开始-------------------------------------
	.qutation{
		.qutation-text{
			width: 200px;
			margin: 5px 0;
			text-align: left;
			padding-left: 5px;
			display: inline-block;
			border: 1px solid rgba(212, 208, 208, 0.774);
		}
		.qutation-h3{
			font-size: 1.07em;
			font-weight: bold;
			margin-bottom: 5px;
			margin-top: 5px
		}
		.qutation-h4{
			font-size: 0.9em;
			font-weight: bold;
		}
		.query-content{
			padding: 10px 25px 15px 15px;
		}
		.search-title-content {
			padding: 15px 25px 0px 15px;
			font-size: 10px;
			text-align: left;
			.el-card__body {
				padding-bottom: 0px;
			}
			.search-input-class{
				width: 230px;
			}
			.search-select-class{
				width: 230px;
			}
		}
		.stock-content {
			min-height: 500px;
			border-radius: 4px;
			border: 1px solid #E4E7ED;
			padding: 10px;
		}
		.base-content {
			min-height: 500px;
			padding: 10px;
			border: 1px solid #E4E7ED;
			border-radius: 4px;
		}
		.el-divider--horizontal {
			margin: 5px 0;
		}
		.col-class {
			height: 20px;
		}
		.el-form-item__label {
			width: 70px;
			text-align: right;
		}
		.el-button--mini.is-round {
			padding: 3px 3px;
		}
		
		.el-button--medium.is-round {
			padding: 8px 8px;
		}
		.stock-content-body {
			margin-bottom: 100px;
		}
	}

	// ---------------------------------------------base-index开始-----------------------------------------
	/**
		<div class="base-index">
			// 个性化内容
			<div class="search-title-content"> // 查询模块样式
				// 输入框样式
				<el-input class="search-input-class" type="text" size="small" placeholder="请输入" round clearable />
				// 下拉选择框样式
				<el-select class="search-select-class" size="small" placeholder="请选择" clearable />
				// 日期选择组件样式
				<el-date-picker class="search-date-picker-class" type="daterange" size="small" range-separator="-"start-placeholder="开始日期" end-placeholder="结束日期"/>
			</div>
		</div>
	*/
	.message_div {
		.el-scrollbar{
			.el-scrollbar__wrap{
				overflow-x: hidden;
			}
		}
	}
	.base-index{
		.el-button--mini {
			padding: 4px 8px;
			font-size: 10px;
			border-radius: 3px;
		}
		.vxe-table .vxe-body--expanded-cell {
			padding-top: 5px;
    	padding-right: 5px;
    	padding-bottom: 10px;
    	padding-left: 10px;
		}
		.el-button--mini.is-circle {
			padding: 2px;
		}
		
		.vxe-table.size--mini {
			font-size: 10px;
		}

		.vxe-table.size--mini .vxe-body--column.col--ellipsis, .vxe-table.size--mini .vxe-footer--column.col--ellipsis, .vxe-table.size--mini .vxe-header--column.col--ellipsis, .vxe-table.vxe-editable.size--mini .vxe-body--column {
			line-height: 24px;
			height: 24px;
			padding: 2px 0px 2px 2px;
		}
		
		.vxe-table.size--mini .vxe-body--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-footer--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-header--column:not(.col--ellipsis) {
			padding: 2px 0px 2px 2px;
		}
		
		.vxe-checkbox .vxe-checkbox--label, .vxe-radio-button .vxe-radio--label, .vxe-radio .vxe-radio--label, .vxe-table .vxe-body--column.col--ellipsis:not(.col--actived)>.vxe-cell, .vxe-table .vxe-footer--column.col--ellipsis:not(.col--actived)>.vxe-cell, .vxe-table .vxe-header--column.col--ellipsis:not(.col--actived)>.vxe-cell {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 24px;
			height: 24px;
			padding: 2px 0px 2px 2px;
	  }
	
		.vxe-header--row {
			color: rgba(26,24,24,0.938);
			background-color: #edf1f3;
			padding: 6px;
			font-size: 10px;
		}

		.el-tabs__item {
      font-size: 10px;
      height: 24px;
      line-height: 24px;
		}
		
		.sum {
			width: 80px;
			font-size: 10px;
		}

		.detail {
			width: 45px;
			font-size: 12px;
		}

		.list {
			width: 70px;
		}
		.long {
			width: 70px;
		}
		.clause {
			width: 70px;
		}

		.el-form-item__label {
			width: 80px;
			text-align: right;
			font-size: 10px;
		}
		.base-text{
			width: 200px;
			margin: 5px 0;
			text-align: left;
			padding-left: 5px;
			display: inline-block;
			border: 1px solid rgba(212, 208, 208, 0.774);
		}
		.radio-item /deep/ .el-radio__inner {
			height: 24px;
		}
		.radio-item /deep/ .el-radio__label {
			height: 24px;
		}	
		.el-input--mini .el-input__inner {
			height: 24px;
			line-height: 24px;
		}
		.el-range-editor--mini.el-input__inner {
			height: 24px;
		}
		
		.base-h3{
			font-size: 0.8em;
			font-weight: bold;
			margin-bottom: 5px;
			margin-top: 5px;
		}
		.el-checkbox__label {
			font-size: 10px;
		}
		// .base-h4{
		//   font-size: 1em;
		//   font-weight: bold;
		// }
		.list-content{
			padding: 0px 15px;
			.el-form-item__label {
				width: 120px;
				text-align: right;
				font-size: 10px;
				line-height: 24px;
			}
			.el-form-item {
				margin-bottom: 0px;
			}
			.hx-div {
				.el-form-item {
					margin-bottom: 2px;
				}
			}
			.el-radio__label {
				font-size: 10px;
				padding-left: 10px;
			}
		}
		.card-text-display{
			padding: 10px 15px 0px 15px;
			.el-col{
				padding: 5px;
				.el-form-item__label{
					width: 88px;
					// text-align-last: justify;
					text-align: right;
					font-size: 10px;
				}
				.el-form-item {
					margin-bottom:0px;
				}
			}
		}
		.search-title-content {
			padding: 10px 15px 0px 15px;
			font-size: 10px;
			text-align: left;
			.el-card__body {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.search-input-class{
				width: 215px;
			}
			.search-select-class{
				width: 215px;
			}
			.search-date-picker-class {
				width: 215px;
			}
			.el-form-item {
				margin-bottom: 0px;
				vertical-align: middle;
			}
			.el-form-item--small .el-form-item__label {
				margin: 4px 0px;
				line-height: 24px;
				font-size: 10px;
			}
		}
		.position-right-bottom {
			right:25px;
			bottom:25px;
			position:fixed;
		}
	}

	// ---------------------------------------------base-info开始-----------------------------------------
	.html{
		font-size: 10px;
	}
	.base-h3 {
		font-size: 0.9em;
		font-weight: bold;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.base-h4{
		font-size: 0.7em;
		font-weight: bold;
	}
	table {
		border-collapse: collapse;
		border: 1px;
	}
	td.table-td-title {
		line-height: 24px;
		width: 130px;
		font-size: 10px;
		background-color: #F0F8FF;
	}
	td.table-td-content {
		width: 160px;
		line-height: 24px;
		font-size: 10px;
	}
	 
	td.table-td-content-no-pad {
		width: 250px;
		line-height: 24px;
		font-size: 10px;
	}

	// ---------------------------------------------publicStyle开始-----------------------------------------
	.public-container{
		padding: 10px 15px 0px 15px;
		.el-card{
			border-radius: 10px;
			.el-card__body {
				padding: 5px;
			}
		}
		.el-form{
			.el-form-item__label{
				width: 80px;
				font-size: 10px;
			}
			.operation-button{
				float: right;
			}
			.el-form-item{
				margin-bottom: 0px;
				vertical-align: middle;
				.el-input{
					width: 220px;
				}
				.el-range-editor--mini{
					width: 220px;
				}
				.el-icon-class {
					font-size: 10px;
					color: #337AB7;
					cursor: pointer;
				}
				.max-select-class{
					.el-input{
						width:300px;
					}
				}
				.max-select-class-apply{
					.el-input{
						width:523px;
					}
				}      
			}
		}
	}
	.public-table{
		padding: 5px 15px;
		.vxe-toolbar{
			.el-button--small{
				margin:0px;
			}
		}
	}
  .public-container-transfer{
		padding: 10px 15px 0px 15px;
		.el-card{
			border-radius: 10px;
			.el-card__body {
				padding: 5px;
			}
		}
		.el-form{
			.el-form-item__label{
				width: 80px;
				font-size: 10px;
			}
			.operation-button{
				float: right;
			}
			.el-form-item{
				margin-bottom: 0px;
				vertical-align: middle;
				.el-input{
					width: 250px;
				}
				.el-range-editor--mini{
					width: 250px;
				}
				.el-icon-class {
					font-size: 10px;
					color: #337AB7;
					cursor: pointer;
				}
				.max-select-class{
					.el-input{
						width:300px;
					}
				}
				.max-select-class-apply{
					.el-input{
						width:523px;
					}
				}      
			}
		}
	}
	// ---------------------------------------------dialogStyle开始-----------------------------------------
	.public-dialog{
		.el-dialog__header{
			height: 28px;
			line-height: 28px;
			background-color: #2ba6f3;
			margin-bottom: 5px;
			.el-dialog__title{
				height: 28px;
				line-height: 28px;
				color:white;
				font-size: 12px;
			}
			.el-dialog__headerbtn{
				height: 28px;
				line-height: 28px;
				background-color: white;
				width: 20px;
			}
		}
		.el-dialog__body{
			padding: 10px 10px;
			font-size: 10px;
			.consult-edit-form {
				.el-form-item__label {
					font-size: 10px;
				}
			}
		}
	}
	.msg-dialog {
		.el-dialog__body {
			padding: 0px;
		}
	}

	// ---------------------------------------------homepage开始-----------------------------------------
	.home-container{
		padding:10px 20px;
		.el-card img{
				width:100%;
				padding: 10px 10px 0px 10px;
		}
		.card-one{
			width:49.5%;
			height:40vh;
			float:left;
			clear:both;
		}
		.box{
			width: 50px;
			text-align: center;
			font-size: 10px;
			margin-left: 20px;
			margin-top: 15px;
			float: left;
			font-weight: bold;
		}
		.box:hover{
			color: #FF6A00;
			// font-weight: bold;
		}
		icon{
			clear:both;
		}
		.commmon-use{
			border-left-style:solid;
			border-color: #FF6A00;
			padding-left: 5px;
			font-size: 10px;
			font-weight: bold;
		}
		.backlog{
			border-left-style:solid;
			border-color: #0076BD;
			padding-left: 5px;
			font-size: 10px;
			font-weight: bold;
		}
		.notice{
			border-left-style:solid;
			border-color: #1f9c96;
			padding-left: 5px;
			font-size: 10px;
			font-weight: bold;
		}
		.apply{
			border-left-style:solid;
			border-color: #99bd37;
			padding-left: 5px;
			font-size: 10px;
			font-weight: bold;
		}
	}

	// ---------------------------------------------product开始-----------------------------------------
	.product-detail-class {
		padding: 10px 15px;
		.bg-purple-light {
			line-height: 24px;
			background: #e7e9ec;
			padding: 0 5px;
		}
		.product-base-content-body {
			padding: 0 20px;
		}
		.el-form-item--mini.el-form-item {
			line-height: 24px;
			margin-right: 0;
		}
		.el-dropdown-link {
			color: #337AB7;
			cursor: pointer;
		}
		.collapse-title-class {
			color: #337AB7;
			height: 30px;
			vertical-align: center;
			line-height: 24px;
			font-weight: bold;
		}
		.el-input--mini .el-input__inner {
			padding: 0 5px !important;
		}
		.product-price-table {
			border: 1px solid silver;
			border-collapse: collapse;
			line-height: 24px;
			th {
				width: 150px;
				padding-left: 5px;
				background-color: #F0F8FF;
			}
		}
		.el-col {
			padding: 5px 0px;
		}
		.el-form-item--mini.el-form-item {
			margin-bottom: 0px;
		}
		.tips-content {
			text-align: center;
			padding: 10px;
			color: #909399;
		}
		.invent-table-class {
			margin: 10px 10px 10px 10px;
			.vxe-table .vxe-body--expanded-cell {
				padding: 10px;
			}
		}
		.el-icon-class {
			cursor: pointer;
			color: #337AB7;
		}
		.el-divider--horizontal {
			margin: 5px 0;
		}
		.el-button--mini.is-round {
			padding: 5px 5px;
		}
		.col-class {
			width: 24%;
			border-bottom: 1px dashed #E4E7ED;
		}
		.form-col-class {
			width: 200px;
		}
		.custom-tree-node {
			flex: 1;
			display: flex;
			align-items: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			justify-content: space-between;
			font-size: 10px !important;
			padding-right: 8px;
		}
	}

	// ---------------------------------------------consult开始-----------------------------------------
	.consult-tab {
		.el-tabs__item {
			height: 24px !important;
			line-height: 24px !important;
		}
		.el-tabs__header {
			margin: 0px 0px 5px 0;
		}
		.el-tabs--border-card > .el-tabs__content {
			padding-top: 5px;
		}
	}
	.primary-table-line {
		.vxe-header--row {
			padding: 5px;
		}
	}
}

// ------------------------------------------------approval-------------------------------------------------
.approvalIndex{

  .el-form-item{
    margin-bottom:10px;
    .el-form-item__label{
      width: 100px;
    }
  }
  
  .el-card__body {
    padding: 0px;
    margin-left:15px;
    margin-right:15px;
  }
  .el-col{
    padding: 5px;
    .el-form-item__label{
      width: 88px;
      // text-align-last: justify;
      text-align: right;
    }
    .el-form-item {
      margin-bottom:0px;
    }
  }
  .card{
    // background-color: #F0F8FF;
    border-radius: 15px;
  }
}

.color-span {
  line-height: 24px; 
  height: 24px; 
  width: 60px; 
  display: inline-block;
}
.square-class {
  float:right;
  line-height: 24px;
  height: 24px; 
  display:flex;
  span {
    margin-right:5px; 
    line-height: 24px;
    height: 24px; 
    align-self:center;
  }
}
.red-color {
  color: #F56C6C;
}

.purple-color {
  color: #800080;
}
.red-background {
  background: #F56C6C;
}
.purple-background {
  background: #800080;
}

