.form-content{
  .el-form-item{
    margin-bottom: 15px;
    .el-input{
      width:100% !important;
    }
    .el-select {
      display: inline-block;
      width: 100%;
      position: relative;
    }
  }
}