.home-container{
  padding:10px 20px;
  .el-card__header {
    height: 30px;
    background-color: #F0F8FF;
    padding: 8px 20px;
    border-bottom: 1px solid #EBEEF5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
  }

  .el-card img{
      width:100%;
      padding: 10px 10px 0px 10px;
  }
  .card-one{
    width:49.5%;
    height:40vh;
    float:left;
    clear:both;
  }
  .box{
    width: 50px;
    text-align: center;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
    font-weight: bold;
  }
  .box:hover{
    color: #FF6A00;
    // font-weight: bold;
  }
  icon{
    clear:both;
  }
  .commmon-use{
    border-left-style:solid;
    border-color: #FF6A00;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .backlog{
    border-left-style:solid;
    border-color: #0076BD;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .notice{
    border-left-style:solid;
    border-color: #1f9c96;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .title{
    padding-left: 3px;
    font-size: 1.6vh;
    font-weight: bold;
  }
  .apply{
    border-left-style:solid;
    border-color: #99bd37;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
  }
}
