<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.batchdao.AddBatchOrderInventoryLogDao">


  <insert id="batchInsertOrderBatchOrderInventoryLog"  parameterType="List" useGeneratedKeys="false">
    INSERT INTO ops_order_inventory_log( order_id, order_item,inventory_id, qty, inventory_table_type,cre_time, modelno, order_qty) values
    <foreach item="item" index="index" collection="list"
             separator=",">
      ( #{item.orderId,jdbcType=VARCHAR}, #{item.orderItem,jdbcType=VARCHAR},
      #{item.inventoryId,jdbcType=BIGINT}, #{item.qty,jdbcType=INTEGER}, #{item.inventoryTableType,jdbcType=VARCHAR},
      #{item.creTime,jdbcType=TIMESTAMP}, #{item.modelno,jdbcType=VARCHAR}, #{item.orderQty,jdbcType=INTEGER})
    </foreach>
  </insert>

</mapper>