<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.CurrencyMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.Currency">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="AbbrName" jdbcType="VARCHAR" property="abbrname" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="Updator" jdbcType="NVARCHAR" property="updator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, AbbrName, Name, Updatetime, Updator
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.CurrencyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.currency
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.currency
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dbo.currency
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.CurrencyExample">
    delete from dbo.currency
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.Currency">
    insert into dbo.currency (Id, AbbrName, Name, 
      Updatetime, Updator)
    values (#{id,jdbcType=VARCHAR}, #{abbrname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updator,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.Currency">
    insert into dbo.currency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="abbrname != null">
        AbbrName,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="updatetime != null">
        Updatetime,
      </if>
      <if test="updator != null">
        Updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="abbrname != null">
        #{abbrname,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.CurrencyExample" resultType="java.lang.Long">
    select count(*) from dbo.currency
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.currency
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.abbrname != null">
        AbbrName = #{record.abbrname,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        Updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updator != null">
        Updator = #{record.updator,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.currency
    set Id = #{record.id,jdbcType=VARCHAR},
      AbbrName = #{record.abbrname,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      Updator = #{record.updator,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.Currency">
    update dbo.currency
    <set>
      <if test="abbrname != null">
        AbbrName = #{abbrname,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        Updator = #{updator,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.Currency">
    update dbo.currency
    set AbbrName = #{abbrname,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      Updator = #{updator,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>