<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.InventoryPropertyViewMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.InventoryPropertyView">
    <result column="inventory_id" jdbcType="BIGINT" property="inventoryId" />
    <result column="inventory_table_type" jdbcType="VARCHAR" property="inventoryTableType" />
    <result column="inventory_property_id" jdbcType="BIGINT" property="inventoryPropertyId" />
    <result column="inventory_type_code" jdbcType="VARCHAR" property="inventoryTypeCode" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inventory_id, inventory_table_type, inventory_property_id, inventory_type_code, warehouse_code
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.InventoryPropertyViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.inventory_property_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.InventoryPropertyViewExample">
    delete from dbo.inventory_property_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.InventoryPropertyView">
    insert into dbo.inventory_property_view (inventory_id, inventory_table_type, inventory_property_id, 
      inventory_type_code, warehouse_code)
    values (#{inventoryId,jdbcType=BIGINT}, #{inventoryTableType,jdbcType=VARCHAR}, #{inventoryPropertyId,jdbcType=BIGINT}, 
      #{inventoryTypeCode,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.InventoryPropertyView">
    insert into dbo.inventory_property_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inventoryId != null">
        inventory_id,
      </if>
      <if test="inventoryTableType != null">
        inventory_table_type,
      </if>
      <if test="inventoryPropertyId != null">
        inventory_property_id,
      </if>
      <if test="inventoryTypeCode != null">
        inventory_type_code,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inventoryId != null">
        #{inventoryId,jdbcType=BIGINT},
      </if>
      <if test="inventoryTableType != null">
        #{inventoryTableType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryPropertyId != null">
        #{inventoryPropertyId,jdbcType=BIGINT},
      </if>
      <if test="inventoryTypeCode != null">
        #{inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.InventoryPropertyViewExample" resultType="java.lang.Long">
    select count(*) from dbo.inventory_property_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.inventory_property_view
    <set>
      <if test="record.inventoryId != null">
        inventory_id = #{record.inventoryId,jdbcType=BIGINT},
      </if>
      <if test="record.inventoryTableType != null">
        inventory_table_type = #{record.inventoryTableType,jdbcType=VARCHAR},
      </if>
      <if test="record.inventoryPropertyId != null">
        inventory_property_id = #{record.inventoryPropertyId,jdbcType=BIGINT},
      </if>
      <if test="record.inventoryTypeCode != null">
        inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.inventory_property_view
    set inventory_id = #{record.inventoryId,jdbcType=BIGINT},
      inventory_table_type = #{record.inventoryTableType,jdbcType=VARCHAR},
      inventory_property_id = #{record.inventoryPropertyId,jdbcType=BIGINT},
      inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>