<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.MigInventoryMoveMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.MigInventoryMove">
    <result column="orderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="poNo" jdbcType="VARCHAR" property="pono" />
    <result column="poItemNo" jdbcType="INTEGER" property="poitemno" />
    <result column="customerNo" jdbcType="VARCHAR" property="customerno" />
    <result column="modelNo" jdbcType="VARCHAR" property="modelno" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="inventory_type_code" jdbcType="VARCHAR" property="inventoryTypeCode" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="inventory_status" jdbcType="VARCHAR" property="inventoryStatus" />
    <result column="preReceiveDate" jdbcType="DATE" property="prereceivedate" />
    <result column="invoiceNo" jdbcType="VARCHAR" property="invoiceno" />
    <result column="supplierId" jdbcType="VARCHAR" property="supplierid" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderNo, poNo, poItemNo, customerNo, modelNo, quantity, inventory_type_code, warehouse_code, 
    inventory_status, preReceiveDate, invoiceNo, supplierId, inserttime
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.MigInventoryMoveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.mig_inventory_move
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.MigInventoryMoveExample">
    delete from dbo.mig_inventory_move
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.MigInventoryMove">
    insert into dbo.mig_inventory_move (orderNo, poNo, poItemNo, 
      customerNo, modelNo, quantity, 
      inventory_type_code, warehouse_code, inventory_status, 
      preReceiveDate, invoiceNo, supplierId, 
      inserttime)
    values (#{orderno,jdbcType=VARCHAR}, #{pono,jdbcType=VARCHAR}, #{poitemno,jdbcType=INTEGER}, 
      #{customerno,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{inventoryTypeCode,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{inventoryStatus,jdbcType=VARCHAR}, 
      #{prereceivedate,jdbcType=DATE}, #{invoiceno,jdbcType=VARCHAR}, #{supplierid,jdbcType=VARCHAR}, 
      #{inserttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.MigInventoryMove">
    insert into dbo.mig_inventory_move
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="pono != null">
        poNo,
      </if>
      <if test="poitemno != null">
        poItemNo,
      </if>
      <if test="customerno != null">
        customerNo,
      </if>
      <if test="modelno != null">
        modelNo,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="inventoryTypeCode != null">
        inventory_type_code,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="inventoryStatus != null">
        inventory_status,
      </if>
      <if test="prereceivedate != null">
        preReceiveDate,
      </if>
      <if test="invoiceno != null">
        invoiceNo,
      </if>
      <if test="supplierid != null">
        supplierId,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="pono != null">
        #{pono,jdbcType=VARCHAR},
      </if>
      <if test="poitemno != null">
        #{poitemno,jdbcType=INTEGER},
      </if>
      <if test="customerno != null">
        #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="inventoryTypeCode != null">
        #{inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="inventoryStatus != null">
        #{inventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="prereceivedate != null">
        #{prereceivedate,jdbcType=DATE},
      </if>
      <if test="invoiceno != null">
        #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.MigInventoryMoveExample" resultType="java.lang.Long">
    select count(*) from dbo.mig_inventory_move
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.mig_inventory_move
    <set>
      <if test="record.orderno != null">
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.pono != null">
        poNo = #{record.pono,jdbcType=VARCHAR},
      </if>
      <if test="record.poitemno != null">
        poItemNo = #{record.poitemno,jdbcType=INTEGER},
      </if>
      <if test="record.customerno != null">
        customerNo = #{record.customerno,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        modelNo = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryTypeCode != null">
        inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inventoryStatus != null">
        inventory_status = #{record.inventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.prereceivedate != null">
        preReceiveDate = #{record.prereceivedate,jdbcType=DATE},
      </if>
      <if test="record.invoiceno != null">
        invoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierid != null">
        supplierId = #{record.supplierid,jdbcType=VARCHAR},
      </if>
      <if test="record.inserttime != null">
        inserttime = #{record.inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.mig_inventory_move
    set orderNo = #{record.orderno,jdbcType=VARCHAR},
      poNo = #{record.pono,jdbcType=VARCHAR},
      poItemNo = #{record.poitemno,jdbcType=INTEGER},
      customerNo = #{record.customerno,jdbcType=VARCHAR},
      modelNo = #{record.modelno,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      inventory_status = #{record.inventoryStatus,jdbcType=VARCHAR},
      preReceiveDate = #{record.prereceivedate,jdbcType=DATE},
      invoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      supplierId = #{record.supplierid,jdbcType=VARCHAR},
      inserttime = #{record.inserttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>