<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.MtWarehousedeptconfigMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.MtWarehousedeptconfig">
    <result column="deptNoTwo" jdbcType="VARCHAR" property="deptnotwo" />
    <result column="deptName" jdbcType="NVARCHAR" property="deptname" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="newWarehouse" jdbcType="VARCHAR" property="newwarehouse" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    deptNoTwo, deptName, warehouse, newWarehouse
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.MtWarehousedeptconfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.mt_warehouseDeptConfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.MtWarehousedeptconfigExample">
    delete from dbo.mt_warehouseDeptConfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.MtWarehousedeptconfig">
    insert into dbo.mt_warehouseDeptConfig (deptNoTwo, deptName, warehouse, 
      newWarehouse)
    values (#{deptnotwo,jdbcType=VARCHAR}, #{deptname,jdbcType=NVARCHAR}, #{warehouse,jdbcType=VARCHAR}, 
      #{newwarehouse,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.MtWarehousedeptconfig">
    insert into dbo.mt_warehouseDeptConfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptnotwo != null">
        deptNoTwo,
      </if>
      <if test="deptname != null">
        deptName,
      </if>
      <if test="warehouse != null">
        warehouse,
      </if>
      <if test="newwarehouse != null">
        newWarehouse,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptnotwo != null">
        #{deptnotwo,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null">
        #{deptname,jdbcType=NVARCHAR},
      </if>
      <if test="warehouse != null">
        #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="newwarehouse != null">
        #{newwarehouse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.MtWarehousedeptconfigExample" resultType="java.lang.Long">
    select count(*) from dbo.mt_warehouseDeptConfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.mt_warehouseDeptConfig
    <set>
      <if test="record.deptnotwo != null">
        deptNoTwo = #{record.deptnotwo,jdbcType=VARCHAR},
      </if>
      <if test="record.deptname != null">
        deptName = #{record.deptname,jdbcType=NVARCHAR},
      </if>
      <if test="record.warehouse != null">
        warehouse = #{record.warehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.newwarehouse != null">
        newWarehouse = #{record.newwarehouse,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.mt_warehouseDeptConfig
    set deptNoTwo = #{record.deptnotwo,jdbcType=VARCHAR},
      deptName = #{record.deptname,jdbcType=NVARCHAR},
      warehouse = #{record.warehouse,jdbcType=VARCHAR},
      newWarehouse = #{record.newwarehouse,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>