<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsCtcUpdateModelnoLogMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsCtcUpdateModelnoLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logid" jdbcType="INTEGER" property="logid" />
    <result column="modelno" jdbcType="VARCHAR" property="modelno" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="statuscode" jdbcType="CHAR" property="statuscode" />
    <result column="message" jdbcType="NVARCHAR" property="message" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="typeid" jdbcType="VARCHAR" property="typeid" />
    <result column="classification" jdbcType="NVARCHAR" property="classification" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, logid, modelno, inserttime, statuscode, message, updatetime, typeid, classification
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_ctc_update_modelno_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_ctc_update_modelno_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dbo.ops_ctc_update_modelno_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLogExample">
    delete from dbo.ops_ctc_update_modelno_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLog">
    insert into dbo.ops_ctc_update_modelno_log (id, logid, modelno, 
      inserttime, statuscode, message, 
      updatetime, typeid, classification
      )
    values (#{id,jdbcType=INTEGER}, #{logid,jdbcType=INTEGER}, #{modelno,jdbcType=VARCHAR}, 
      #{inserttime,jdbcType=TIMESTAMP}, #{statuscode,jdbcType=CHAR}, #{message,jdbcType=NVARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{typeid,jdbcType=VARCHAR}, #{classification,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLog">
    insert into dbo.ops_ctc_update_modelno_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logid != null">
        logid,
      </if>
      <if test="modelno != null">
        modelno,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
      <if test="statuscode != null">
        statuscode,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="classification != null">
        classification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logid != null">
        #{logid,jdbcType=INTEGER},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null">
        #{statuscode,jdbcType=CHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLogExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_ctc_update_modelno_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_ctc_update_modelno_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.logid != null">
        logid = #{record.logid,jdbcType=INTEGER},
      </if>
      <if test="record.modelno != null">
        modelno = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.inserttime != null">
        inserttime = #{record.inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statuscode != null">
        statuscode = #{record.statuscode,jdbcType=CHAR},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=NVARCHAR},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.typeid != null">
        typeid = #{record.typeid,jdbcType=VARCHAR},
      </if>
      <if test="record.classification != null">
        classification = #{record.classification,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_ctc_update_modelno_log
    set id = #{record.id,jdbcType=INTEGER},
      logid = #{record.logid,jdbcType=INTEGER},
      modelno = #{record.modelno,jdbcType=VARCHAR},
      inserttime = #{record.inserttime,jdbcType=TIMESTAMP},
      statuscode = #{record.statuscode,jdbcType=CHAR},
      message = #{record.message,jdbcType=NVARCHAR},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      typeid = #{record.typeid,jdbcType=VARCHAR},
      classification = #{record.classification,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLog">
    update dbo.ops_ctc_update_modelno_log
    <set>
      <if test="logid != null">
        logid = #{logid,jdbcType=INTEGER},
      </if>
      <if test="modelno != null">
        modelno = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null">
        statuscode = #{statuscode,jdbcType=CHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsCtcUpdateModelnoLog">
    update dbo.ops_ctc_update_modelno_log
    set logid = #{logid,jdbcType=INTEGER},
      modelno = #{modelno,jdbcType=VARCHAR},
      inserttime = #{inserttime,jdbcType=TIMESTAMP},
      statuscode = #{statuscode,jdbcType=CHAR},
      message = #{message,jdbcType=NVARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      typeid = #{typeid,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>