<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsCustomerNineIndustrycodeMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsCustomerNineIndustrycode">
    <result column="CustomerNo" jdbcType="VARCHAR" property="customerno" />
    <result column="OrderNumber" jdbcType="INTEGER" property="ordernumber" />
    <result column="IndustryMediamCode" jdbcType="VARCHAR" property="industrymediamcode" />
    <result column="Industry4" jdbcType="CHAR" property="industry4" />
    <result column="Industry56" jdbcType="CHAR" property="industry56" />
    <result column="IndustryPercent" jdbcType="INTEGER" property="industrypercent" />
    <result column="CreatedUser" jdbcType="VARCHAR" property="createduser" />
    <result column="CreatedTime" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="UpdatedUser" jdbcType="VARCHAR" property="updateduser" />
    <result column="UpdatedTime" jdbcType="TIMESTAMP" property="updatedtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CustomerNo, OrderNumber, IndustryMediamCode, Industry4, Industry56, IndustryPercent, 
    CreatedUser, CreatedTime, UpdatedUser, UpdatedTime
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsCustomerNineIndustrycodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_customer_nine_industryCode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsCustomerNineIndustrycodeExample">
    delete from dbo.ops_customer_nine_industryCode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsCustomerNineIndustrycode">
    insert into dbo.ops_customer_nine_industryCode (CustomerNo, OrderNumber, IndustryMediamCode, 
      Industry4, Industry56, IndustryPercent, 
      CreatedUser, CreatedTime, UpdatedUser, 
      UpdatedTime)
    values (#{customerno,jdbcType=VARCHAR}, #{ordernumber,jdbcType=INTEGER}, #{industrymediamcode,jdbcType=VARCHAR}, 
      #{industry4,jdbcType=CHAR}, #{industry56,jdbcType=CHAR}, #{industrypercent,jdbcType=INTEGER}, 
      #{createduser,jdbcType=VARCHAR}, #{createdtime,jdbcType=TIMESTAMP}, #{updateduser,jdbcType=VARCHAR}, 
      #{updatedtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsCustomerNineIndustrycode">
    insert into dbo.ops_customer_nine_industryCode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerno != null">
        CustomerNo,
      </if>
      <if test="ordernumber != null">
        OrderNumber,
      </if>
      <if test="industrymediamcode != null">
        IndustryMediamCode,
      </if>
      <if test="industry4 != null">
        Industry4,
      </if>
      <if test="industry56 != null">
        Industry56,
      </if>
      <if test="industrypercent != null">
        IndustryPercent,
      </if>
      <if test="createduser != null">
        CreatedUser,
      </if>
      <if test="createdtime != null">
        CreatedTime,
      </if>
      <if test="updateduser != null">
        UpdatedUser,
      </if>
      <if test="updatedtime != null">
        UpdatedTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerno != null">
        #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="ordernumber != null">
        #{ordernumber,jdbcType=INTEGER},
      </if>
      <if test="industrymediamcode != null">
        #{industrymediamcode,jdbcType=VARCHAR},
      </if>
      <if test="industry4 != null">
        #{industry4,jdbcType=CHAR},
      </if>
      <if test="industry56 != null">
        #{industry56,jdbcType=CHAR},
      </if>
      <if test="industrypercent != null">
        #{industrypercent,jdbcType=INTEGER},
      </if>
      <if test="createduser != null">
        #{createduser,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateduser != null">
        #{updateduser,jdbcType=VARCHAR},
      </if>
      <if test="updatedtime != null">
        #{updatedtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsCustomerNineIndustrycodeExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_customer_nine_industryCode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_customer_nine_industryCode
    <set>
      <if test="record.customerno != null">
        CustomerNo = #{record.customerno,jdbcType=VARCHAR},
      </if>
      <if test="record.ordernumber != null">
        OrderNumber = #{record.ordernumber,jdbcType=INTEGER},
      </if>
      <if test="record.industrymediamcode != null">
        IndustryMediamCode = #{record.industrymediamcode,jdbcType=VARCHAR},
      </if>
      <if test="record.industry4 != null">
        Industry4 = #{record.industry4,jdbcType=CHAR},
      </if>
      <if test="record.industry56 != null">
        Industry56 = #{record.industry56,jdbcType=CHAR},
      </if>
      <if test="record.industrypercent != null">
        IndustryPercent = #{record.industrypercent,jdbcType=INTEGER},
      </if>
      <if test="record.createduser != null">
        CreatedUser = #{record.createduser,jdbcType=VARCHAR},
      </if>
      <if test="record.createdtime != null">
        CreatedTime = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateduser != null">
        UpdatedUser = #{record.updateduser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedtime != null">
        UpdatedTime = #{record.updatedtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_customer_nine_industryCode
    set CustomerNo = #{record.customerno,jdbcType=VARCHAR},
      OrderNumber = #{record.ordernumber,jdbcType=INTEGER},
      IndustryMediamCode = #{record.industrymediamcode,jdbcType=VARCHAR},
      Industry4 = #{record.industry4,jdbcType=CHAR},
      Industry56 = #{record.industry56,jdbcType=CHAR},
      IndustryPercent = #{record.industrypercent,jdbcType=INTEGER},
      CreatedUser = #{record.createduser,jdbcType=VARCHAR},
      CreatedTime = #{record.createdtime,jdbcType=TIMESTAMP},
      UpdatedUser = #{record.updateduser,jdbcType=VARCHAR},
      UpdatedTime = #{record.updatedtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>