<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsHandoverMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsHandover">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="invoiceNo" jdbcType="VARCHAR" property="invoiceno" />
    <result column="hand_date" jdbcType="TIMESTAMP" property="handDate" />
    <result column="do_id" jdbcType="VARCHAR" property="doId" />
    <result column="modelNo" jdbcType="VARCHAR" property="modelno" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="caseno" jdbcType="VARCHAR" property="caseno" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="cre_time" jdbcType="TIMESTAMP" property="creTime" />
    <result column="creator" jdbcType="NVARCHAR" property="creator" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="fromWarehouseCode" jdbcType="VARCHAR" property="fromwarehousecode" />
    <result column="toWarehouseCode" jdbcType="VARCHAR" property="towarehousecode" />
    <result column="logisticsCode" jdbcType="NVARCHAR" property="logisticscode" />
    <result column="expressCode" jdbcType="VARCHAR" property="expresscode" />
    <result column="invoice_id" jdbcType="BIGINT" property="invoiceId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, invoiceNo, hand_date, do_id, modelNo, qty, caseno, barcode, cre_time, creator, 
    modify_time, modifier, delflag, fromWarehouseCode, toWarehouseCode, logisticsCode, 
    expressCode, invoice_id
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsHandoverExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_handover
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_handover
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo.ops_handover
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsHandoverExample">
    delete from dbo.ops_handover
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsHandover">
    insert into dbo.ops_handover (id, invoiceNo, hand_date, 
      do_id, modelNo, qty, 
      caseno, barcode, cre_time, 
      creator, modify_time, modifier, 
      delflag, fromWarehouseCode, toWarehouseCode, 
      logisticsCode, expressCode, invoice_id
      )
    values (#{id,jdbcType=BIGINT}, #{invoiceno,jdbcType=VARCHAR}, #{handDate,jdbcType=TIMESTAMP}, 
      #{doId,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, 
      #{caseno,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, #{creTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=NVARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=NVARCHAR}, 
      #{delflag,jdbcType=INTEGER}, #{fromwarehousecode,jdbcType=VARCHAR}, #{towarehousecode,jdbcType=VARCHAR}, 
      #{logisticscode,jdbcType=NVARCHAR}, #{expresscode,jdbcType=VARCHAR}, #{invoiceId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsHandover">
    insert into dbo.ops_handover
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="invoiceno != null">
        invoiceNo,
      </if>
      <if test="handDate != null">
        hand_date,
      </if>
      <if test="doId != null">
        do_id,
      </if>
      <if test="modelno != null">
        modelNo,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="caseno != null">
        caseno,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="fromwarehousecode != null">
        fromWarehouseCode,
      </if>
      <if test="towarehousecode != null">
        toWarehouseCode,
      </if>
      <if test="logisticscode != null">
        logisticsCode,
      </if>
      <if test="expresscode != null">
        expressCode,
      </if>
      <if test="invoiceId != null">
        invoice_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="invoiceno != null">
        #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="handDate != null">
        #{handDate,jdbcType=TIMESTAMP},
      </if>
      <if test="doId != null">
        #{doId,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="caseno != null">
        #{caseno,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="fromwarehousecode != null">
        #{fromwarehousecode,jdbcType=VARCHAR},
      </if>
      <if test="towarehousecode != null">
        #{towarehousecode,jdbcType=VARCHAR},
      </if>
      <if test="logisticscode != null">
        #{logisticscode,jdbcType=NVARCHAR},
      </if>
      <if test="expresscode != null">
        #{expresscode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsHandoverExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_handover
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_handover
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.invoiceno != null">
        invoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="record.handDate != null">
        hand_date = #{record.handDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.doId != null">
        do_id = #{record.doId,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        modelNo = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.qty != null">
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.caseno != null">
        caseno = #{record.caseno,jdbcType=VARCHAR},
      </if>
      <if test="record.barcode != null">
        barcode = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.creTime != null">
        cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.fromwarehousecode != null">
        fromWarehouseCode = #{record.fromwarehousecode,jdbcType=VARCHAR},
      </if>
      <if test="record.towarehousecode != null">
        toWarehouseCode = #{record.towarehousecode,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticscode != null">
        logisticsCode = #{record.logisticscode,jdbcType=NVARCHAR},
      </if>
      <if test="record.expresscode != null">
        expressCode = #{record.expresscode,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceId != null">
        invoice_id = #{record.invoiceId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_handover
    set id = #{record.id,jdbcType=BIGINT},
      invoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      hand_date = #{record.handDate,jdbcType=TIMESTAMP},
      do_id = #{record.doId,jdbcType=VARCHAR},
      modelNo = #{record.modelno,jdbcType=VARCHAR},
      qty = #{record.qty,jdbcType=INTEGER},
      caseno = #{record.caseno,jdbcType=VARCHAR},
      barcode = #{record.barcode,jdbcType=VARCHAR},
      cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=NVARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=NVARCHAR},
      delflag = #{record.delflag,jdbcType=INTEGER},
      fromWarehouseCode = #{record.fromwarehousecode,jdbcType=VARCHAR},
      toWarehouseCode = #{record.towarehousecode,jdbcType=VARCHAR},
      logisticsCode = #{record.logisticscode,jdbcType=NVARCHAR},
      expressCode = #{record.expresscode,jdbcType=VARCHAR},
      invoice_id = #{record.invoiceId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsHandover">
    update dbo.ops_handover
    <set>
      <if test="invoiceno != null">
        invoiceNo = #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="handDate != null">
        hand_date = #{handDate,jdbcType=TIMESTAMP},
      </if>
      <if test="doId != null">
        do_id = #{doId,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        modelNo = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="caseno != null">
        caseno = #{caseno,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="fromwarehousecode != null">
        fromWarehouseCode = #{fromwarehousecode,jdbcType=VARCHAR},
      </if>
      <if test="towarehousecode != null">
        toWarehouseCode = #{towarehousecode,jdbcType=VARCHAR},
      </if>
      <if test="logisticscode != null">
        logisticsCode = #{logisticscode,jdbcType=NVARCHAR},
      </if>
      <if test="expresscode != null">
        expressCode = #{expresscode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        invoice_id = #{invoiceId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsHandover">
    update dbo.ops_handover
    set invoiceNo = #{invoiceno,jdbcType=VARCHAR},
      hand_date = #{handDate,jdbcType=TIMESTAMP},
      do_id = #{doId,jdbcType=VARCHAR},
      modelNo = #{modelno,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      caseno = #{caseno,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=NVARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=NVARCHAR},
      delflag = #{delflag,jdbcType=INTEGER},
      fromWarehouseCode = #{fromwarehousecode,jdbcType=VARCHAR},
      toWarehouseCode = #{towarehousecode,jdbcType=VARCHAR},
      logisticsCode = #{logisticscode,jdbcType=NVARCHAR},
      expressCode = #{expresscode,jdbcType=VARCHAR},
      invoice_id = #{invoiceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>