<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsInventoryMatchConfigMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsInventoryMatchConfig">
    <id column="inventory_match_code" jdbcType="VARCHAR" property="inventoryMatchCode" />
    <result column="description" jdbcType="NVARCHAR" property="description" />
    <result column="match_warehouse_type_code" jdbcType="VARCHAR" property="matchWarehouseTypeCode" />
    <result column="match_inventory_status" jdbcType="VARCHAR" property="matchInventoryStatus" />
    <result column="mathch_pre_rec_date" jdbcType="BIT" property="mathchPreRecDate" />
    <result column="inventory_type_code" jdbcType="VARCHAR" property="inventoryTypeCode" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="cre_time" jdbcType="TIMESTAMP" property="creTime" />
    <result column="creator" jdbcType="NVARCHAR" property="creator" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="match_inventory_risk" jdbcType="BIT" property="matchInventoryRisk" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inventory_match_code, description, match_warehouse_type_code, match_inventory_status, 
    mathch_pre_rec_date, inventory_type_code, delflag, cre_time, creator, modify_time, 
    modifier, match_inventory_risk
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_inventory_match_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_inventory_match_config
    where inventory_match_code = #{inventoryMatchCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dbo.ops_inventory_match_config
    where inventory_match_code = #{inventoryMatchCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfigExample">
    delete from dbo.ops_inventory_match_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfig">
    insert into dbo.ops_inventory_match_config (inventory_match_code, description, 
      match_warehouse_type_code, match_inventory_status, 
      mathch_pre_rec_date, inventory_type_code, delflag, 
      cre_time, creator, modify_time, 
      modifier, match_inventory_risk)
    values (#{inventoryMatchCode,jdbcType=VARCHAR}, #{description,jdbcType=NVARCHAR}, 
      #{matchWarehouseTypeCode,jdbcType=VARCHAR}, #{matchInventoryStatus,jdbcType=VARCHAR}, 
      #{mathchPreRecDate,jdbcType=BIT}, #{inventoryTypeCode,jdbcType=VARCHAR}, #{delflag,jdbcType=INTEGER}, 
      #{creTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=NVARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=NVARCHAR}, #{matchInventoryRisk,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfig">
    insert into dbo.ops_inventory_match_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inventoryMatchCode != null">
        inventory_match_code,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="matchWarehouseTypeCode != null">
        match_warehouse_type_code,
      </if>
      <if test="matchInventoryStatus != null">
        match_inventory_status,
      </if>
      <if test="mathchPreRecDate != null">
        mathch_pre_rec_date,
      </if>
      <if test="inventoryTypeCode != null">
        inventory_type_code,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="matchInventoryRisk != null">
        match_inventory_risk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inventoryMatchCode != null">
        #{inventoryMatchCode,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="matchWarehouseTypeCode != null">
        #{matchWarehouseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="matchInventoryStatus != null">
        #{matchInventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="mathchPreRecDate != null">
        #{mathchPreRecDate,jdbcType=BIT},
      </if>
      <if test="inventoryTypeCode != null">
        #{inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="matchInventoryRisk != null">
        #{matchInventoryRisk,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfigExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_inventory_match_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_inventory_match_config
    <set>
      <if test="record.inventoryMatchCode != null">
        inventory_match_code = #{record.inventoryMatchCode,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=NVARCHAR},
      </if>
      <if test="record.matchWarehouseTypeCode != null">
        match_warehouse_type_code = #{record.matchWarehouseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.matchInventoryStatus != null">
        match_inventory_status = #{record.matchInventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.mathchPreRecDate != null">
        mathch_pre_rec_date = #{record.mathchPreRecDate,jdbcType=BIT},
      </if>
      <if test="record.inventoryTypeCode != null">
        inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.creTime != null">
        cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.matchInventoryRisk != null">
        match_inventory_risk = #{record.matchInventoryRisk,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_inventory_match_config
    set inventory_match_code = #{record.inventoryMatchCode,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=NVARCHAR},
      match_warehouse_type_code = #{record.matchWarehouseTypeCode,jdbcType=VARCHAR},
      match_inventory_status = #{record.matchInventoryStatus,jdbcType=VARCHAR},
      mathch_pre_rec_date = #{record.mathchPreRecDate,jdbcType=BIT},
      inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      delflag = #{record.delflag,jdbcType=INTEGER},
      cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=NVARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=NVARCHAR},
      match_inventory_risk = #{record.matchInventoryRisk,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfig">
    update dbo.ops_inventory_match_config
    <set>
      <if test="description != null">
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="matchWarehouseTypeCode != null">
        match_warehouse_type_code = #{matchWarehouseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="matchInventoryStatus != null">
        match_inventory_status = #{matchInventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="mathchPreRecDate != null">
        mathch_pre_rec_date = #{mathchPreRecDate,jdbcType=BIT},
      </if>
      <if test="inventoryTypeCode != null">
        inventory_type_code = #{inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="matchInventoryRisk != null">
        match_inventory_risk = #{matchInventoryRisk,jdbcType=BIT},
      </if>
    </set>
    where inventory_match_code = #{inventoryMatchCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsInventoryMatchConfig">
    update dbo.ops_inventory_match_config
    set description = #{description,jdbcType=NVARCHAR},
      match_warehouse_type_code = #{matchWarehouseTypeCode,jdbcType=VARCHAR},
      match_inventory_status = #{matchInventoryStatus,jdbcType=VARCHAR},
      mathch_pre_rec_date = #{mathchPreRecDate,jdbcType=BIT},
      inventory_type_code = #{inventoryTypeCode,jdbcType=VARCHAR},
      delflag = #{delflag,jdbcType=INTEGER},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=NVARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=NVARCHAR},
      match_inventory_risk = #{matchInventoryRisk,jdbcType=BIT}
    where inventory_match_code = #{inventoryMatchCode,jdbcType=VARCHAR}
  </update>
</mapper>