<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsOrderDispatchViewMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsOrderDispatchView">
    <result column="do_id" jdbcType="VARCHAR" property="doId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_item" jdbcType="VARCHAR" property="orderItem" />
    <result column="modelno" jdbcType="VARCHAR" property="modelno" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="gather_warehouse_code" jdbcType="VARCHAR" property="gatherWarehouseCode" />
    <result column="wait_type_desc" jdbcType="VARCHAR" property="waitTypeDesc" />
    <result column="wait_type" jdbcType="VARCHAR" property="waitType" />
    <result column="do_state" jdbcType="VARCHAR" property="doState" />
    <result column="do_state_detail" jdbcType="VARCHAR" property="doStateDetail" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="out_qty" jdbcType="INTEGER" property="outQty" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    do_id, order_id, order_item, modelno, num, warehouse_code, gather_warehouse_code, 
    wait_type_desc, wait_type, do_state, do_state_detail, qty, out_qty, finish_time
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsOrderDispatchViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_order_dispatch_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsOrderDispatchViewExample">
    delete from dbo.ops_order_dispatch_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsOrderDispatchView">
    insert into dbo.ops_order_dispatch_view (do_id, order_id, order_item, 
      modelno, num, warehouse_code, 
      gather_warehouse_code, wait_type_desc, wait_type, 
      do_state, do_state_detail, qty, 
      out_qty, finish_time)
    values (#{doId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{orderItem,jdbcType=VARCHAR}, 
      #{modelno,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{warehouseCode,jdbcType=VARCHAR}, 
      #{gatherWarehouseCode,jdbcType=VARCHAR}, #{waitTypeDesc,jdbcType=VARCHAR}, #{waitType,jdbcType=VARCHAR}, 
      #{doState,jdbcType=VARCHAR}, #{doStateDetail,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, 
      #{outQty,jdbcType=INTEGER}, #{finishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsOrderDispatchView">
    insert into dbo.ops_order_dispatch_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doId != null">
        do_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderItem != null">
        order_item,
      </if>
      <if test="modelno != null">
        modelno,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="gatherWarehouseCode != null">
        gather_warehouse_code,
      </if>
      <if test="waitTypeDesc != null">
        wait_type_desc,
      </if>
      <if test="waitType != null">
        wait_type,
      </if>
      <if test="doState != null">
        do_state,
      </if>
      <if test="doStateDetail != null">
        do_state_detail,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="outQty != null">
        out_qty,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doId != null">
        #{doId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderItem != null">
        #{orderItem,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="gatherWarehouseCode != null">
        #{gatherWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="waitTypeDesc != null">
        #{waitTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="waitType != null">
        #{waitType,jdbcType=VARCHAR},
      </if>
      <if test="doState != null">
        #{doState,jdbcType=VARCHAR},
      </if>
      <if test="doStateDetail != null">
        #{doStateDetail,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="outQty != null">
        #{outQty,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsOrderDispatchViewExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_order_dispatch_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_order_dispatch_view
    <set>
      <if test="record.doId != null">
        do_id = #{record.doId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderItem != null">
        order_item = #{record.orderItem,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        modelno = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gatherWarehouseCode != null">
        gather_warehouse_code = #{record.gatherWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.waitTypeDesc != null">
        wait_type_desc = #{record.waitTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.waitType != null">
        wait_type = #{record.waitType,jdbcType=VARCHAR},
      </if>
      <if test="record.doState != null">
        do_state = #{record.doState,jdbcType=VARCHAR},
      </if>
      <if test="record.doStateDetail != null">
        do_state_detail = #{record.doStateDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.qty != null">
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.outQty != null">
        out_qty = #{record.outQty,jdbcType=INTEGER},
      </if>
      <if test="record.finishTime != null">
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_order_dispatch_view
    set do_id = #{record.doId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      order_item = #{record.orderItem,jdbcType=VARCHAR},
      modelno = #{record.modelno,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      gather_warehouse_code = #{record.gatherWarehouseCode,jdbcType=VARCHAR},
      wait_type_desc = #{record.waitTypeDesc,jdbcType=VARCHAR},
      wait_type = #{record.waitType,jdbcType=VARCHAR},
      do_state = #{record.doState,jdbcType=VARCHAR},
      do_state_detail = #{record.doStateDetail,jdbcType=VARCHAR},
      qty = #{record.qty,jdbcType=INTEGER},
      out_qty = #{record.outQty,jdbcType=INTEGER},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>