<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsRoBakMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsRoBak">
    <id column="ro_id" jdbcType="VARCHAR" property="roId" />
    <result column="ro_source" jdbcType="VARCHAR" property="roSource" />
    <result column="bind_order_id" jdbcType="VARCHAR" property="bindOrderId" />
    <result column="ro_type" jdbcType="VARCHAR" property="roType" />
    <result column="sub_order_id" jdbcType="VARCHAR" property="subOrderId" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="ro_status" jdbcType="INTEGER" property="roStatus" />
    <result column="carried" jdbcType="VARCHAR" property="carried" />
    <result column="express_code" jdbcType="VARCHAR" property="expressCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="cre_time" jdbcType="TIMESTAMP" property="creTime" />
    <result column="creator" jdbcType="NVARCHAR" property="creator" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="trans_type" jdbcType="VARCHAR" property="transType" />
    <result column="wms_status" jdbcType="INTEGER" property="wmsStatus" />
    <result column="match_pco_id" jdbcType="VARCHAR" property="matchPcoId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_item" jdbcType="VARCHAR" property="orderItem" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ro_id, ro_source, bind_order_id, ro_type, sub_order_id, warehouse_code, ro_status, 
    carried, express_code, remark, delflag, cre_time, creator, modify_time, modifier, 
    customer_no, invoice_no, supplier_id, trans_type, wms_status, match_pco_id, version, 
    order_id, order_item
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsRoBakExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_ro_bak
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_ro_bak
    where ro_id = #{roId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dbo.ops_ro_bak
    where ro_id = #{roId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsRoBakExample">
    delete from dbo.ops_ro_bak
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsRoBak">
    insert into dbo.ops_ro_bak (ro_id, ro_source, bind_order_id, 
      ro_type, sub_order_id, warehouse_code, 
      ro_status, carried, express_code, 
      remark, delflag, cre_time, 
      creator, modify_time, modifier, 
      customer_no, invoice_no, supplier_id, 
      trans_type, wms_status, match_pco_id, 
      version, order_id, order_item
      )
    values (#{roId,jdbcType=VARCHAR}, #{roSource,jdbcType=VARCHAR}, #{bindOrderId,jdbcType=VARCHAR}, 
      #{roType,jdbcType=VARCHAR}, #{subOrderId,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, 
      #{roStatus,jdbcType=INTEGER}, #{carried,jdbcType=VARCHAR}, #{expressCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{delflag,jdbcType=INTEGER}, #{creTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=NVARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=NVARCHAR}, 
      #{customerNo,jdbcType=VARCHAR}, #{invoiceNo,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, 
      #{transType,jdbcType=VARCHAR}, #{wmsStatus,jdbcType=INTEGER}, #{matchPcoId,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{orderItem,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsRoBak">
    insert into dbo.ops_ro_bak
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roId != null">
        ro_id,
      </if>
      <if test="roSource != null">
        ro_source,
      </if>
      <if test="bindOrderId != null">
        bind_order_id,
      </if>
      <if test="roType != null">
        ro_type,
      </if>
      <if test="subOrderId != null">
        sub_order_id,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="roStatus != null">
        ro_status,
      </if>
      <if test="carried != null">
        carried,
      </if>
      <if test="expressCode != null">
        express_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="customerNo != null">
        customer_no,
      </if>
      <if test="invoiceNo != null">
        invoice_no,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="wmsStatus != null">
        wms_status,
      </if>
      <if test="matchPcoId != null">
        match_pco_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderItem != null">
        order_item,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roId != null">
        #{roId,jdbcType=VARCHAR},
      </if>
      <if test="roSource != null">
        #{roSource,jdbcType=VARCHAR},
      </if>
      <if test="bindOrderId != null">
        #{bindOrderId,jdbcType=VARCHAR},
      </if>
      <if test="roType != null">
        #{roType,jdbcType=VARCHAR},
      </if>
      <if test="subOrderId != null">
        #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="roStatus != null">
        #{roStatus,jdbcType=INTEGER},
      </if>
      <if test="carried != null">
        #{carried,jdbcType=VARCHAR},
      </if>
      <if test="expressCode != null">
        #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="wmsStatus != null">
        #{wmsStatus,jdbcType=INTEGER},
      </if>
      <if test="matchPcoId != null">
        #{matchPcoId,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderItem != null">
        #{orderItem,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsRoBakExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_ro_bak
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_ro_bak
    <set>
      <if test="record.roId != null">
        ro_id = #{record.roId,jdbcType=VARCHAR},
      </if>
      <if test="record.roSource != null">
        ro_source = #{record.roSource,jdbcType=VARCHAR},
      </if>
      <if test="record.bindOrderId != null">
        bind_order_id = #{record.bindOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.roType != null">
        ro_type = #{record.roType,jdbcType=VARCHAR},
      </if>
      <if test="record.subOrderId != null">
        sub_order_id = #{record.subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.roStatus != null">
        ro_status = #{record.roStatus,jdbcType=INTEGER},
      </if>
      <if test="record.carried != null">
        carried = #{record.carried,jdbcType=VARCHAR},
      </if>
      <if test="record.expressCode != null">
        express_code = #{record.expressCode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.creTime != null">
        cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.customerNo != null">
        customer_no = #{record.customerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceNo != null">
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.transType != null">
        trans_type = #{record.transType,jdbcType=VARCHAR},
      </if>
      <if test="record.wmsStatus != null">
        wms_status = #{record.wmsStatus,jdbcType=INTEGER},
      </if>
      <if test="record.matchPcoId != null">
        match_pco_id = #{record.matchPcoId,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderItem != null">
        order_item = #{record.orderItem,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_ro_bak
    set ro_id = #{record.roId,jdbcType=VARCHAR},
      ro_source = #{record.roSource,jdbcType=VARCHAR},
      bind_order_id = #{record.bindOrderId,jdbcType=VARCHAR},
      ro_type = #{record.roType,jdbcType=VARCHAR},
      sub_order_id = #{record.subOrderId,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      ro_status = #{record.roStatus,jdbcType=INTEGER},
      carried = #{record.carried,jdbcType=VARCHAR},
      express_code = #{record.expressCode,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      delflag = #{record.delflag,jdbcType=INTEGER},
      cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=NVARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=NVARCHAR},
      customer_no = #{record.customerNo,jdbcType=VARCHAR},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      trans_type = #{record.transType,jdbcType=VARCHAR},
      wms_status = #{record.wmsStatus,jdbcType=INTEGER},
      match_pco_id = #{record.matchPcoId,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      order_item = #{record.orderItem,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsRoBak">
    update dbo.ops_ro_bak
    <set>
      <if test="roSource != null">
        ro_source = #{roSource,jdbcType=VARCHAR},
      </if>
      <if test="bindOrderId != null">
        bind_order_id = #{bindOrderId,jdbcType=VARCHAR},
      </if>
      <if test="roType != null">
        ro_type = #{roType,jdbcType=VARCHAR},
      </if>
      <if test="subOrderId != null">
        sub_order_id = #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="roStatus != null">
        ro_status = #{roStatus,jdbcType=INTEGER},
      </if>
      <if test="carried != null">
        carried = #{carried,jdbcType=VARCHAR},
      </if>
      <if test="expressCode != null">
        express_code = #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="customerNo != null">
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="wmsStatus != null">
        wms_status = #{wmsStatus,jdbcType=INTEGER},
      </if>
      <if test="matchPcoId != null">
        match_pco_id = #{matchPcoId,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderItem != null">
        order_item = #{orderItem,jdbcType=VARCHAR},
      </if>
    </set>
    where ro_id = #{roId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsRoBak">
    update dbo.ops_ro_bak
    set ro_source = #{roSource,jdbcType=VARCHAR},
      bind_order_id = #{bindOrderId,jdbcType=VARCHAR},
      ro_type = #{roType,jdbcType=VARCHAR},
      sub_order_id = #{subOrderId,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      ro_status = #{roStatus,jdbcType=INTEGER},
      carried = #{carried,jdbcType=VARCHAR},
      express_code = #{expressCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      delflag = #{delflag,jdbcType=INTEGER},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=NVARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=NVARCHAR},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=VARCHAR},
      wms_status = #{wmsStatus,jdbcType=INTEGER},
      match_pco_id = #{matchPcoId,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_item = #{orderItem,jdbcType=VARCHAR}
    where ro_id = #{roId,jdbcType=VARCHAR}
  </update>
</mapper>