<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsRoBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsRoBarcode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ro_id" jdbcType="VARCHAR" property="roId" />
    <result column="ro_item" jdbcType="INTEGER" property="roItem" />
    <result column="InvoiceNo" jdbcType="VARCHAR" property="invoiceno" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="barCode" jdbcType="VARCHAR" property="barcode" />
    <result column="package_code" jdbcType="VARCHAR" property="packageCode" />
    <result column="modelno" jdbcType="VARCHAR" property="modelno" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="itemNo" jdbcType="INTEGER" property="itemno" />
    <result column="splitItemNo" jdbcType="INTEGER" property="splititemno" />
    <result column="SN" jdbcType="VARCHAR" property="sn" />
    <result column="scan" jdbcType="INTEGER" property="scan" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="cre_time" jdbcType="TIMESTAMP" property="creTime" />
    <result column="creator" jdbcType="NVARCHAR" property="creator" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="scanTime" jdbcType="TIMESTAMP" property="scantime" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="ass_num" jdbcType="INTEGER" property="assNum" />
    <result column="invoiceId" jdbcType="BIGINT" property="invoiceid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ro_id, ro_item, InvoiceNo, warehouse_code, barCode, package_code, modelno, qty, 
    orderNo, itemNo, splitItemNo, SN, scan, delflag, cre_time, creator, modify_time, 
    modifier, scanTime, num, ass_num, invoiceId
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsRoBarcodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_ro_barcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_ro_barcode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo.ops_ro_barcode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsRoBarcodeExample">
    delete from dbo.ops_ro_barcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsRoBarcode">
    insert into dbo.ops_ro_barcode (id, ro_id, ro_item, 
      InvoiceNo, warehouse_code, barCode, 
      package_code, modelno, qty, 
      orderNo, itemNo, splitItemNo, 
      SN, scan, delflag, 
      cre_time, creator, modify_time, 
      modifier, scanTime, num, 
      ass_num, invoiceId)
    values (#{id,jdbcType=BIGINT}, #{roId,jdbcType=VARCHAR}, #{roItem,jdbcType=INTEGER}, 
      #{invoiceno,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, 
      #{packageCode,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, 
      #{orderno,jdbcType=VARCHAR}, #{itemno,jdbcType=INTEGER}, #{splititemno,jdbcType=INTEGER}, 
      #{sn,jdbcType=VARCHAR}, #{scan,jdbcType=INTEGER}, #{delflag,jdbcType=INTEGER}, 
      #{creTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=NVARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=NVARCHAR}, #{scantime,jdbcType=TIMESTAMP}, #{num,jdbcType=INTEGER}, 
      #{assNum,jdbcType=INTEGER}, #{invoiceid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsRoBarcode">
    insert into dbo.ops_ro_barcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roId != null">
        ro_id,
      </if>
      <if test="roItem != null">
        ro_item,
      </if>
      <if test="invoiceno != null">
        InvoiceNo,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="barcode != null">
        barCode,
      </if>
      <if test="packageCode != null">
        package_code,
      </if>
      <if test="modelno != null">
        modelno,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="itemno != null">
        itemNo,
      </if>
      <if test="splititemno != null">
        splitItemNo,
      </if>
      <if test="sn != null">
        SN,
      </if>
      <if test="scan != null">
        scan,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="scantime != null">
        scanTime,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="assNum != null">
        ass_num,
      </if>
      <if test="invoiceid != null">
        invoiceId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roId != null">
        #{roId,jdbcType=VARCHAR},
      </if>
      <if test="roItem != null">
        #{roItem,jdbcType=INTEGER},
      </if>
      <if test="invoiceno != null">
        #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="itemno != null">
        #{itemno,jdbcType=INTEGER},
      </if>
      <if test="splititemno != null">
        #{splititemno,jdbcType=INTEGER},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="scan != null">
        #{scan,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="scantime != null">
        #{scantime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="assNum != null">
        #{assNum,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        #{invoiceid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsRoBarcodeExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_ro_barcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_ro_barcode
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roId != null">
        ro_id = #{record.roId,jdbcType=VARCHAR},
      </if>
      <if test="record.roItem != null">
        ro_item = #{record.roItem,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceno != null">
        InvoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.barcode != null">
        barCode = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.packageCode != null">
        package_code = #{record.packageCode,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        modelno = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.qty != null">
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.orderno != null">
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.itemno != null">
        itemNo = #{record.itemno,jdbcType=INTEGER},
      </if>
      <if test="record.splititemno != null">
        splitItemNo = #{record.splititemno,jdbcType=INTEGER},
      </if>
      <if test="record.sn != null">
        SN = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.scan != null">
        scan = #{record.scan,jdbcType=INTEGER},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.creTime != null">
        cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.scantime != null">
        scanTime = #{record.scantime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.assNum != null">
        ass_num = #{record.assNum,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceid != null">
        invoiceId = #{record.invoiceid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_ro_barcode
    set id = #{record.id,jdbcType=BIGINT},
      ro_id = #{record.roId,jdbcType=VARCHAR},
      ro_item = #{record.roItem,jdbcType=INTEGER},
      InvoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      barCode = #{record.barcode,jdbcType=VARCHAR},
      package_code = #{record.packageCode,jdbcType=VARCHAR},
      modelno = #{record.modelno,jdbcType=VARCHAR},
      qty = #{record.qty,jdbcType=INTEGER},
      orderNo = #{record.orderno,jdbcType=VARCHAR},
      itemNo = #{record.itemno,jdbcType=INTEGER},
      splitItemNo = #{record.splititemno,jdbcType=INTEGER},
      SN = #{record.sn,jdbcType=VARCHAR},
      scan = #{record.scan,jdbcType=INTEGER},
      delflag = #{record.delflag,jdbcType=INTEGER},
      cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=NVARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=NVARCHAR},
      scanTime = #{record.scantime,jdbcType=TIMESTAMP},
      num = #{record.num,jdbcType=INTEGER},
      ass_num = #{record.assNum,jdbcType=INTEGER},
      invoiceId = #{record.invoiceid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsRoBarcode">
    update dbo.ops_ro_barcode
    <set>
      <if test="roId != null">
        ro_id = #{roId,jdbcType=VARCHAR},
      </if>
      <if test="roItem != null">
        ro_item = #{roItem,jdbcType=INTEGER},
      </if>
      <if test="invoiceno != null">
        InvoiceNo = #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        barCode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        package_code = #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        modelno = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="orderno != null">
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="itemno != null">
        itemNo = #{itemno,jdbcType=INTEGER},
      </if>
      <if test="splititemno != null">
        splitItemNo = #{splititemno,jdbcType=INTEGER},
      </if>
      <if test="sn != null">
        SN = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="scan != null">
        scan = #{scan,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="scantime != null">
        scanTime = #{scantime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="assNum != null">
        ass_num = #{assNum,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        invoiceId = #{invoiceid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsRoBarcode">
    update dbo.ops_ro_barcode
    set ro_id = #{roId,jdbcType=VARCHAR},
      ro_item = #{roItem,jdbcType=INTEGER},
      InvoiceNo = #{invoiceno,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      barCode = #{barcode,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      modelno = #{modelno,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      orderNo = #{orderno,jdbcType=VARCHAR},
      itemNo = #{itemno,jdbcType=INTEGER},
      splitItemNo = #{splititemno,jdbcType=INTEGER},
      SN = #{sn,jdbcType=VARCHAR},
      scan = #{scan,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=INTEGER},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=NVARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=NVARCHAR},
      scanTime = #{scantime,jdbcType=TIMESTAMP},
      num = #{num,jdbcType=INTEGER},
      ass_num = #{assNum,jdbcType=INTEGER},
      invoiceId = #{invoiceid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>