<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsRoPostMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsRoPost">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ro_id" jdbcType="VARCHAR" property="roId" />
    <result column="modelno" jdbcType="VARCHAR" property="modelno" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="inventory_type" jdbcType="VARCHAR" property="inventoryType" />
    <result column="receive_code" jdbcType="VARCHAR" property="receiveCode" />
    <result column="scan_type" jdbcType="VARCHAR" property="scanType" />
    <result column="invoiceNo" jdbcType="VARCHAR" property="invoiceno" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="creator" jdbcType="NVARCHAR" property="creator" />
    <result column="cre_time" jdbcType="TIMESTAMP" property="creTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="receiveTime" jdbcType="TIMESTAMP" property="receivetime" />
    <result column="username" jdbcType="NVARCHAR" property="username" />
    <result column="invoiceId" jdbcType="BIGINT" property="invoiceid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ro_id, modelno, warehouse_code, qty, inventory_type, receive_code, scan_type, 
    invoiceNo, msg_id, delflag, creator, cre_time, modify_time, modifier, receiveTime, 
    username, invoiceId
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsRoPostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_ro_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_ro_post
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo.ops_ro_post
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsRoPostExample">
    delete from dbo.ops_ro_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsRoPost">
    insert into dbo.ops_ro_post (id, ro_id, modelno, 
      warehouse_code, qty, inventory_type, 
      receive_code, scan_type, invoiceNo, 
      msg_id, delflag, creator, 
      cre_time, modify_time, modifier, 
      receiveTime, username, invoiceId
      )
    values (#{id,jdbcType=BIGINT}, #{roId,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, 
      #{warehouseCode,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, #{inventoryType,jdbcType=VARCHAR}, 
      #{receiveCode,jdbcType=VARCHAR}, #{scanType,jdbcType=VARCHAR}, #{invoiceno,jdbcType=VARCHAR}, 
      #{msgId,jdbcType=VARCHAR}, #{delflag,jdbcType=INTEGER}, #{creator,jdbcType=NVARCHAR}, 
      #{creTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=NVARCHAR}, 
      #{receivetime,jdbcType=TIMESTAMP}, #{username,jdbcType=NVARCHAR}, #{invoiceid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsRoPost">
    insert into dbo.ops_ro_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roId != null">
        ro_id,
      </if>
      <if test="modelno != null">
        modelno,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="inventoryType != null">
        inventory_type,
      </if>
      <if test="receiveCode != null">
        receive_code,
      </if>
      <if test="scanType != null">
        scan_type,
      </if>
      <if test="invoiceno != null">
        invoiceNo,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="receivetime != null">
        receiveTime,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="invoiceid != null">
        invoiceId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roId != null">
        #{roId,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="inventoryType != null">
        #{inventoryType,jdbcType=VARCHAR},
      </if>
      <if test="receiveCode != null">
        #{receiveCode,jdbcType=VARCHAR},
      </if>
      <if test="scanType != null">
        #{scanType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceno != null">
        #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="receivetime != null">
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=NVARCHAR},
      </if>
      <if test="invoiceid != null">
        #{invoiceid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsRoPostExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_ro_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_ro_post
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roId != null">
        ro_id = #{record.roId,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        modelno = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.qty != null">
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryType != null">
        inventory_type = #{record.inventoryType,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveCode != null">
        receive_code = #{record.receiveCode,jdbcType=VARCHAR},
      </if>
      <if test="record.scanType != null">
        scan_type = #{record.scanType,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceno != null">
        invoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="record.msgId != null">
        msg_id = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.creTime != null">
        cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.receivetime != null">
        receiveTime = #{record.receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=NVARCHAR},
      </if>
      <if test="record.invoiceid != null">
        invoiceId = #{record.invoiceid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_ro_post
    set id = #{record.id,jdbcType=BIGINT},
      ro_id = #{record.roId,jdbcType=VARCHAR},
      modelno = #{record.modelno,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      qty = #{record.qty,jdbcType=INTEGER},
      inventory_type = #{record.inventoryType,jdbcType=VARCHAR},
      receive_code = #{record.receiveCode,jdbcType=VARCHAR},
      scan_type = #{record.scanType,jdbcType=VARCHAR},
      invoiceNo = #{record.invoiceno,jdbcType=VARCHAR},
      msg_id = #{record.msgId,jdbcType=VARCHAR},
      delflag = #{record.delflag,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=NVARCHAR},
      cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=NVARCHAR},
      receiveTime = #{record.receivetime,jdbcType=TIMESTAMP},
      username = #{record.username,jdbcType=NVARCHAR},
      invoiceId = #{record.invoiceid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsRoPost">
    update dbo.ops_ro_post
    <set>
      <if test="roId != null">
        ro_id = #{roId,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        modelno = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="inventoryType != null">
        inventory_type = #{inventoryType,jdbcType=VARCHAR},
      </if>
      <if test="receiveCode != null">
        receive_code = #{receiveCode,jdbcType=VARCHAR},
      </if>
      <if test="scanType != null">
        scan_type = #{scanType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceno != null">
        invoiceNo = #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="receivetime != null">
        receiveTime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=NVARCHAR},
      </if>
      <if test="invoiceid != null">
        invoiceId = #{invoiceid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsRoPost">
    update dbo.ops_ro_post
    set ro_id = #{roId,jdbcType=VARCHAR},
      modelno = #{modelno,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      inventory_type = #{inventoryType,jdbcType=VARCHAR},
      receive_code = #{receiveCode,jdbcType=VARCHAR},
      scan_type = #{scanType,jdbcType=VARCHAR},
      invoiceNo = #{invoiceno,jdbcType=VARCHAR},
      msg_id = #{msgId,jdbcType=VARCHAR},
      delflag = #{delflag,jdbcType=INTEGER},
      creator = #{creator,jdbcType=NVARCHAR},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=NVARCHAR},
      receiveTime = #{receivetime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=NVARCHAR},
      invoiceId = #{invoiceid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>