<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsReqPoMappingMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsReqPoMapping">
    <id column="RequestPurchaseId" jdbcType="BIGINT" property="requestpurchaseid" />
    <id column="PurchaseOrderNo" jdbcType="VARCHAR" property="purchaseorderno" />
    <result column="RequestOrderno" jdbcType="VARCHAR" property="requestorderno" />
    <result column="RequestItemno" jdbcType="INTEGER" property="requestitemno" />
    <result column="RequestSplitItemNo" jdbcType="INTEGER" property="requestsplititemno" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RequestPurchaseId, PurchaseOrderNo, RequestOrderno, RequestItemno, RequestSplitItemNo, 
    UpdateTime
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsReqPoMappingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_req_po_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsReqPoMappingKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_req_po_mapping
    where RequestPurchaseId = #{requestpurchaseid,jdbcType=BIGINT}
      and PurchaseOrderNo = #{purchaseorderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsReqPoMappingKey">
    delete from dbo.ops_req_po_mapping
    where RequestPurchaseId = #{requestpurchaseid,jdbcType=BIGINT}
      and PurchaseOrderNo = #{purchaseorderno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsReqPoMappingExample">
    delete from dbo.ops_req_po_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsReqPoMapping">
    insert into dbo.ops_req_po_mapping (RequestPurchaseId, PurchaseOrderNo, 
      RequestOrderno, RequestItemno, RequestSplitItemNo, 
      UpdateTime)
    values (#{requestpurchaseid,jdbcType=BIGINT}, #{purchaseorderno,jdbcType=VARCHAR}, 
      #{requestorderno,jdbcType=VARCHAR}, #{requestitemno,jdbcType=INTEGER}, #{requestsplititemno,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsReqPoMapping">
    insert into dbo.ops_req_po_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requestpurchaseid != null">
        RequestPurchaseId,
      </if>
      <if test="purchaseorderno != null">
        PurchaseOrderNo,
      </if>
      <if test="requestorderno != null">
        RequestOrderno,
      </if>
      <if test="requestitemno != null">
        RequestItemno,
      </if>
      <if test="requestsplititemno != null">
        RequestSplitItemNo,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requestpurchaseid != null">
        #{requestpurchaseid,jdbcType=BIGINT},
      </if>
      <if test="purchaseorderno != null">
        #{purchaseorderno,jdbcType=VARCHAR},
      </if>
      <if test="requestorderno != null">
        #{requestorderno,jdbcType=VARCHAR},
      </if>
      <if test="requestitemno != null">
        #{requestitemno,jdbcType=INTEGER},
      </if>
      <if test="requestsplititemno != null">
        #{requestsplititemno,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsReqPoMappingExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_req_po_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_req_po_mapping
    <set>
      <if test="record.requestpurchaseid != null">
        RequestPurchaseId = #{record.requestpurchaseid,jdbcType=BIGINT},
      </if>
      <if test="record.purchaseorderno != null">
        PurchaseOrderNo = #{record.purchaseorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.requestorderno != null">
        RequestOrderno = #{record.requestorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.requestitemno != null">
        RequestItemno = #{record.requestitemno,jdbcType=INTEGER},
      </if>
      <if test="record.requestsplititemno != null">
        RequestSplitItemNo = #{record.requestsplititemno,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null">
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_req_po_mapping
    set RequestPurchaseId = #{record.requestpurchaseid,jdbcType=BIGINT},
      PurchaseOrderNo = #{record.purchaseorderno,jdbcType=VARCHAR},
      RequestOrderno = #{record.requestorderno,jdbcType=VARCHAR},
      RequestItemno = #{record.requestitemno,jdbcType=INTEGER},
      RequestSplitItemNo = #{record.requestsplititemno,jdbcType=INTEGER},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsReqPoMapping">
    update dbo.ops_req_po_mapping
    <set>
      <if test="requestorderno != null">
        RequestOrderno = #{requestorderno,jdbcType=VARCHAR},
      </if>
      <if test="requestitemno != null">
        RequestItemno = #{requestitemno,jdbcType=INTEGER},
      </if>
      <if test="requestsplititemno != null">
        RequestSplitItemNo = #{requestsplititemno,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RequestPurchaseId = #{requestpurchaseid,jdbcType=BIGINT}
      and PurchaseOrderNo = #{purchaseorderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsReqPoMapping">
    update dbo.ops_req_po_mapping
    set RequestOrderno = #{requestorderno,jdbcType=VARCHAR},
      RequestItemno = #{requestitemno,jdbcType=INTEGER},
      RequestSplitItemNo = #{requestsplititemno,jdbcType=INTEGER},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where RequestPurchaseId = #{requestpurchaseid,jdbcType=BIGINT}
      and PurchaseOrderNo = #{purchaseorderno,jdbcType=VARCHAR}
  </update>
</mapper>