<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OpsWarehouseSupplierConfigMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OpsWarehouseSupplierConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supplierId" jdbcType="VARCHAR" property="supplierid" />
    <result column="warehouseCode" jdbcType="VARCHAR" property="warehousecode" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="matchPattern" jdbcType="NVARCHAR" property="matchpattern" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, supplierId, warehouseCode, priority, day, matchPattern, updateTime
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ops_warehouse_supplier_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ops_warehouse_supplier_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo.ops_warehouse_supplier_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfigExample">
    delete from dbo.ops_warehouse_supplier_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfig">
    insert into dbo.ops_warehouse_supplier_config (id, supplierId, warehouseCode, 
      priority, day, matchPattern, 
      updateTime)
    values (#{id,jdbcType=BIGINT}, #{supplierid,jdbcType=VARCHAR}, #{warehousecode,jdbcType=VARCHAR}, 
      #{priority,jdbcType=INTEGER}, #{day,jdbcType=INTEGER}, #{matchpattern,jdbcType=NVARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfig">
    insert into dbo.ops_warehouse_supplier_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplierid != null">
        supplierId,
      </if>
      <if test="warehousecode != null">
        warehouseCode,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="matchpattern != null">
        matchPattern,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="warehousecode != null">
        #{warehousecode,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        #{day,jdbcType=INTEGER},
      </if>
      <if test="matchpattern != null">
        #{matchpattern,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfigExample" resultType="java.lang.Long">
    select count(*) from dbo.ops_warehouse_supplier_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.ops_warehouse_supplier_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.supplierid != null">
        supplierId = #{record.supplierid,jdbcType=VARCHAR},
      </if>
      <if test="record.warehousecode != null">
        warehouseCode = #{record.warehousecode,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.day != null">
        day = #{record.day,jdbcType=INTEGER},
      </if>
      <if test="record.matchpattern != null">
        matchPattern = #{record.matchpattern,jdbcType=NVARCHAR},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.ops_warehouse_supplier_config
    set id = #{record.id,jdbcType=BIGINT},
      supplierId = #{record.supplierid,jdbcType=VARCHAR},
      warehouseCode = #{record.warehousecode,jdbcType=VARCHAR},
      priority = #{record.priority,jdbcType=INTEGER},
      day = #{record.day,jdbcType=INTEGER},
      matchPattern = #{record.matchpattern,jdbcType=NVARCHAR},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfig">
    update dbo.ops_warehouse_supplier_config
    <set>
      <if test="supplierid != null">
        supplierId = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="warehousecode != null">
        warehouseCode = #{warehousecode,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="matchpattern != null">
        matchPattern = #{matchpattern,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OpsWarehouseSupplierConfig">
    update dbo.ops_warehouse_supplier_config
    set supplierId = #{supplierid,jdbcType=VARCHAR},
      warehouseCode = #{warehousecode,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER},
      matchPattern = #{matchpattern,jdbcType=NVARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>