<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OrdersalesBjMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OrdersalesBj">
    <result column="ROrderNo" jdbcType="CHAR" property="rorderno" />
    <result column="CustomerNo" jdbcType="CHAR" property="customerno" />
    <result column="UserNo" jdbcType="CHAR" property="userno" />
    <result column="DlvEntire" jdbcType="CHAR" property="dlventire" />
    <result column="TransFee" jdbcType="CHAR" property="transfee" />
    <result column="TransChannel" jdbcType="VARCHAR" property="transchannel" />
    <result column="DlvSite" jdbcType="CHAR" property="dlvsite" />
    <result column="DlvType" jdbcType="CHAR" property="dlvtype" />
    <result column="ContractNo" jdbcType="VARCHAR" property="contractno" />
    <result column="QuotationNo" jdbcType="VARCHAR" property="quotationno" />
    <result column="Remark" jdbcType="NVARCHAR" property="remark" />
    <result column="OpLog" jdbcType="VARCHAR" property="oplog" />
    <result column="WorkDay" jdbcType="TIMESTAMP" property="workday" />
    <result column="Sendout" jdbcType="CHAR" property="sendout" />
    <result column="Status" jdbcType="CHAR" property="status" />
    <result column="SendDay" jdbcType="TIMESTAMP" property="sendday" />
    <result column="ROrderItem" jdbcType="SMALLINT" property="rorderitem" />
    <result column="ModelNo" jdbcType="VARCHAR" property="modelno" />
    <result column="Quantity" jdbcType="INTEGER" property="quantity" />
    <result column="Price" jdbcType="DECIMAL" property="price" />
    <result column="DlvDate" jdbcType="TIMESTAMP" property="dlvdate" />
    <result column="RcvClassify" jdbcType="CHAR" property="rcvclassify" />
    <result column="PrjCode" jdbcType="NVARCHAR" property="prjcode" />
    <result column="StockCode" jdbcType="VARCHAR" property="stockcode" />
    <result column="CProductNo" jdbcType="NVARCHAR" property="cproductno" />
    <result column="OrdTransType" jdbcType="CHAR" property="ordtranstype" />
    <result column="SpcPrice" jdbcType="VARCHAR" property="spcprice" />
    <result column="Discount" jdbcType="NUMERIC" property="discount" />
    <result column="NoPrice" jdbcType="CHAR" property="noprice" />
    <result column="Account" jdbcType="DECIMAL" property="account" />
    <result column="SpecMark" jdbcType="CHAR" property="specmark" />
    <result column="RecNo" jdbcType="CHAR" property="recno" />
    <result column="DetailMark" jdbcType="VARCHAR" property="detailmark" />
    <result column="OptDate" jdbcType="TIMESTAMP" property="optdate" />
    <result column="rowguid" jdbcType="CHAR" property="rowguid" />
    <result column="EmpSale" jdbcType="CHAR" property="empsale" />
    <result column="EmpOffice" jdbcType="CHAR" property="empoffice" />
    <result column="DeptNo" jdbcType="CHAR" property="deptno" />
    <result column="PurchaseNo" jdbcType="NVARCHAR" property="purchaseno" />
    <result column="Shikomi" jdbcType="VARCHAR" property="shikomi" />
    <result column="Price_EndUser" jdbcType="DECIMAL" property="priceEnduser" />
    <result column="cttFlag" jdbcType="CHAR" property="cttflag" />
    <result column="WarehouseSendDate" jdbcType="TIMESTAMP" property="warehousesenddate" />
    <result column="CProductName" jdbcType="NVARCHAR" property="cproductname" />
    <result column="OptRecord" jdbcType="VARCHAR" property="optrecord" />
    <result column="PreSaleOrderNo" jdbcType="VARCHAR" property="presaleorderno" />
    <result column="Opponent" jdbcType="VARCHAR" property="opponent" />
    <result column="TypeCode" jdbcType="VARCHAR" property="typecode" />
    <result column="PriceChecked" jdbcType="BIT" property="pricechecked" />
    <result column="EPrice" jdbcType="NUMERIC" property="eprice" />
    <result column="TradeCompanyId" jdbcType="VARCHAR" property="tradecompanyid" />
    <result column="OrderSourceSys" jdbcType="CHAR" property="ordersourcesys" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ROrderNo, CustomerNo, UserNo, DlvEntire, TransFee, TransChannel, DlvSite, DlvType, 
    ContractNo, QuotationNo, Remark, OpLog, WorkDay, Sendout, Status, SendDay, ROrderItem, 
    ModelNo, Quantity, Price, DlvDate, RcvClassify, PrjCode, StockCode, CProductNo, OrdTransType, 
    SpcPrice, Discount, NoPrice, Account, SpecMark, RecNo, DetailMark, OptDate, rowguid, 
    EmpSale, EmpOffice, DeptNo, PurchaseNo, Shikomi, Price_EndUser, cttFlag, WarehouseSendDate, 
    CProductName, OptRecord, PreSaleOrderNo, Opponent, TypeCode, PriceChecked, EPrice, 
    TradeCompanyId, OrderSourceSys
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OrdersalesBjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo._ordersales_bj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OrdersalesBjExample">
    delete from dbo._ordersales_bj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OrdersalesBj">
    insert into dbo._ordersales_bj (ROrderNo, CustomerNo, UserNo, 
      DlvEntire, TransFee, TransChannel, 
      DlvSite, DlvType, ContractNo, 
      QuotationNo, Remark, OpLog, 
      WorkDay, Sendout, Status, 
      SendDay, ROrderItem, ModelNo, 
      Quantity, Price, DlvDate, 
      RcvClassify, PrjCode, StockCode, 
      CProductNo, OrdTransType, SpcPrice, 
      Discount, NoPrice, Account, 
      SpecMark, RecNo, DetailMark, 
      OptDate, rowguid, EmpSale, 
      EmpOffice, DeptNo, PurchaseNo, 
      Shikomi, Price_EndUser, cttFlag, 
      WarehouseSendDate, CProductName, OptRecord, 
      PreSaleOrderNo, Opponent, TypeCode, 
      PriceChecked, EPrice, TradeCompanyId, 
      OrderSourceSys)
    values (#{rorderno,jdbcType=CHAR}, #{customerno,jdbcType=CHAR}, #{userno,jdbcType=CHAR}, 
      #{dlventire,jdbcType=CHAR}, #{transfee,jdbcType=CHAR}, #{transchannel,jdbcType=VARCHAR}, 
      #{dlvsite,jdbcType=CHAR}, #{dlvtype,jdbcType=CHAR}, #{contractno,jdbcType=VARCHAR}, 
      #{quotationno,jdbcType=VARCHAR}, #{remark,jdbcType=NVARCHAR}, #{oplog,jdbcType=VARCHAR}, 
      #{workday,jdbcType=TIMESTAMP}, #{sendout,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{sendday,jdbcType=TIMESTAMP}, #{rorderitem,jdbcType=SMALLINT}, #{modelno,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{dlvdate,jdbcType=TIMESTAMP}, 
      #{rcvclassify,jdbcType=CHAR}, #{prjcode,jdbcType=NVARCHAR}, #{stockcode,jdbcType=VARCHAR}, 
      #{cproductno,jdbcType=NVARCHAR}, #{ordtranstype,jdbcType=CHAR}, #{spcprice,jdbcType=VARCHAR}, 
      #{discount,jdbcType=NUMERIC}, #{noprice,jdbcType=CHAR}, #{account,jdbcType=DECIMAL}, 
      #{specmark,jdbcType=CHAR}, #{recno,jdbcType=CHAR}, #{detailmark,jdbcType=VARCHAR}, 
      #{optdate,jdbcType=TIMESTAMP}, #{rowguid,jdbcType=CHAR}, #{empsale,jdbcType=CHAR}, 
      #{empoffice,jdbcType=CHAR}, #{deptno,jdbcType=CHAR}, #{purchaseno,jdbcType=NVARCHAR}, 
      #{shikomi,jdbcType=VARCHAR}, #{priceEnduser,jdbcType=DECIMAL}, #{cttflag,jdbcType=CHAR}, 
      #{warehousesenddate,jdbcType=TIMESTAMP}, #{cproductname,jdbcType=NVARCHAR}, #{optrecord,jdbcType=VARCHAR}, 
      #{presaleorderno,jdbcType=VARCHAR}, #{opponent,jdbcType=VARCHAR}, #{typecode,jdbcType=VARCHAR}, 
      #{pricechecked,jdbcType=BIT}, #{eprice,jdbcType=NUMERIC}, #{tradecompanyid,jdbcType=VARCHAR}, 
      #{ordersourcesys,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OrdersalesBj">
    insert into dbo._ordersales_bj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rorderno != null">
        ROrderNo,
      </if>
      <if test="customerno != null">
        CustomerNo,
      </if>
      <if test="userno != null">
        UserNo,
      </if>
      <if test="dlventire != null">
        DlvEntire,
      </if>
      <if test="transfee != null">
        TransFee,
      </if>
      <if test="transchannel != null">
        TransChannel,
      </if>
      <if test="dlvsite != null">
        DlvSite,
      </if>
      <if test="dlvtype != null">
        DlvType,
      </if>
      <if test="contractno != null">
        ContractNo,
      </if>
      <if test="quotationno != null">
        QuotationNo,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="oplog != null">
        OpLog,
      </if>
      <if test="workday != null">
        WorkDay,
      </if>
      <if test="sendout != null">
        Sendout,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="sendday != null">
        SendDay,
      </if>
      <if test="rorderitem != null">
        ROrderItem,
      </if>
      <if test="modelno != null">
        ModelNo,
      </if>
      <if test="quantity != null">
        Quantity,
      </if>
      <if test="price != null">
        Price,
      </if>
      <if test="dlvdate != null">
        DlvDate,
      </if>
      <if test="rcvclassify != null">
        RcvClassify,
      </if>
      <if test="prjcode != null">
        PrjCode,
      </if>
      <if test="stockcode != null">
        StockCode,
      </if>
      <if test="cproductno != null">
        CProductNo,
      </if>
      <if test="ordtranstype != null">
        OrdTransType,
      </if>
      <if test="spcprice != null">
        SpcPrice,
      </if>
      <if test="discount != null">
        Discount,
      </if>
      <if test="noprice != null">
        NoPrice,
      </if>
      <if test="account != null">
        Account,
      </if>
      <if test="specmark != null">
        SpecMark,
      </if>
      <if test="recno != null">
        RecNo,
      </if>
      <if test="detailmark != null">
        DetailMark,
      </if>
      <if test="optdate != null">
        OptDate,
      </if>
      <if test="rowguid != null">
        rowguid,
      </if>
      <if test="empsale != null">
        EmpSale,
      </if>
      <if test="empoffice != null">
        EmpOffice,
      </if>
      <if test="deptno != null">
        DeptNo,
      </if>
      <if test="purchaseno != null">
        PurchaseNo,
      </if>
      <if test="shikomi != null">
        Shikomi,
      </if>
      <if test="priceEnduser != null">
        Price_EndUser,
      </if>
      <if test="cttflag != null">
        cttFlag,
      </if>
      <if test="warehousesenddate != null">
        WarehouseSendDate,
      </if>
      <if test="cproductname != null">
        CProductName,
      </if>
      <if test="optrecord != null">
        OptRecord,
      </if>
      <if test="presaleorderno != null">
        PreSaleOrderNo,
      </if>
      <if test="opponent != null">
        Opponent,
      </if>
      <if test="typecode != null">
        TypeCode,
      </if>
      <if test="pricechecked != null">
        PriceChecked,
      </if>
      <if test="eprice != null">
        EPrice,
      </if>
      <if test="tradecompanyid != null">
        TradeCompanyId,
      </if>
      <if test="ordersourcesys != null">
        OrderSourceSys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rorderno != null">
        #{rorderno,jdbcType=CHAR},
      </if>
      <if test="customerno != null">
        #{customerno,jdbcType=CHAR},
      </if>
      <if test="userno != null">
        #{userno,jdbcType=CHAR},
      </if>
      <if test="dlventire != null">
        #{dlventire,jdbcType=CHAR},
      </if>
      <if test="transfee != null">
        #{transfee,jdbcType=CHAR},
      </if>
      <if test="transchannel != null">
        #{transchannel,jdbcType=VARCHAR},
      </if>
      <if test="dlvsite != null">
        #{dlvsite,jdbcType=CHAR},
      </if>
      <if test="dlvtype != null">
        #{dlvtype,jdbcType=CHAR},
      </if>
      <if test="contractno != null">
        #{contractno,jdbcType=VARCHAR},
      </if>
      <if test="quotationno != null">
        #{quotationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="oplog != null">
        #{oplog,jdbcType=VARCHAR},
      </if>
      <if test="workday != null">
        #{workday,jdbcType=TIMESTAMP},
      </if>
      <if test="sendout != null">
        #{sendout,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="sendday != null">
        #{sendday,jdbcType=TIMESTAMP},
      </if>
      <if test="rorderitem != null">
        #{rorderitem,jdbcType=SMALLINT},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="dlvdate != null">
        #{dlvdate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcvclassify != null">
        #{rcvclassify,jdbcType=CHAR},
      </if>
      <if test="prjcode != null">
        #{prjcode,jdbcType=NVARCHAR},
      </if>
      <if test="stockcode != null">
        #{stockcode,jdbcType=VARCHAR},
      </if>
      <if test="cproductno != null">
        #{cproductno,jdbcType=NVARCHAR},
      </if>
      <if test="ordtranstype != null">
        #{ordtranstype,jdbcType=CHAR},
      </if>
      <if test="spcprice != null">
        #{spcprice,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=NUMERIC},
      </if>
      <if test="noprice != null">
        #{noprice,jdbcType=CHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=DECIMAL},
      </if>
      <if test="specmark != null">
        #{specmark,jdbcType=CHAR},
      </if>
      <if test="recno != null">
        #{recno,jdbcType=CHAR},
      </if>
      <if test="detailmark != null">
        #{detailmark,jdbcType=VARCHAR},
      </if>
      <if test="optdate != null">
        #{optdate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowguid != null">
        #{rowguid,jdbcType=CHAR},
      </if>
      <if test="empsale != null">
        #{empsale,jdbcType=CHAR},
      </if>
      <if test="empoffice != null">
        #{empoffice,jdbcType=CHAR},
      </if>
      <if test="deptno != null">
        #{deptno,jdbcType=CHAR},
      </if>
      <if test="purchaseno != null">
        #{purchaseno,jdbcType=NVARCHAR},
      </if>
      <if test="shikomi != null">
        #{shikomi,jdbcType=VARCHAR},
      </if>
      <if test="priceEnduser != null">
        #{priceEnduser,jdbcType=DECIMAL},
      </if>
      <if test="cttflag != null">
        #{cttflag,jdbcType=CHAR},
      </if>
      <if test="warehousesenddate != null">
        #{warehousesenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="cproductname != null">
        #{cproductname,jdbcType=NVARCHAR},
      </if>
      <if test="optrecord != null">
        #{optrecord,jdbcType=VARCHAR},
      </if>
      <if test="presaleorderno != null">
        #{presaleorderno,jdbcType=VARCHAR},
      </if>
      <if test="opponent != null">
        #{opponent,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null">
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="pricechecked != null">
        #{pricechecked,jdbcType=BIT},
      </if>
      <if test="eprice != null">
        #{eprice,jdbcType=NUMERIC},
      </if>
      <if test="tradecompanyid != null">
        #{tradecompanyid,jdbcType=VARCHAR},
      </if>
      <if test="ordersourcesys != null">
        #{ordersourcesys,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OrdersalesBjExample" resultType="java.lang.Long">
    select count(*) from dbo._ordersales_bj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo._ordersales_bj
    <set>
      <if test="record.rorderno != null">
        ROrderNo = #{record.rorderno,jdbcType=CHAR},
      </if>
      <if test="record.customerno != null">
        CustomerNo = #{record.customerno,jdbcType=CHAR},
      </if>
      <if test="record.userno != null">
        UserNo = #{record.userno,jdbcType=CHAR},
      </if>
      <if test="record.dlventire != null">
        DlvEntire = #{record.dlventire,jdbcType=CHAR},
      </if>
      <if test="record.transfee != null">
        TransFee = #{record.transfee,jdbcType=CHAR},
      </if>
      <if test="record.transchannel != null">
        TransChannel = #{record.transchannel,jdbcType=VARCHAR},
      </if>
      <if test="record.dlvsite != null">
        DlvSite = #{record.dlvsite,jdbcType=CHAR},
      </if>
      <if test="record.dlvtype != null">
        DlvType = #{record.dlvtype,jdbcType=CHAR},
      </if>
      <if test="record.contractno != null">
        ContractNo = #{record.contractno,jdbcType=VARCHAR},
      </if>
      <if test="record.quotationno != null">
        QuotationNo = #{record.quotationno,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.oplog != null">
        OpLog = #{record.oplog,jdbcType=VARCHAR},
      </if>
      <if test="record.workday != null">
        WorkDay = #{record.workday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendout != null">
        Sendout = #{record.sendout,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.sendday != null">
        SendDay = #{record.sendday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rorderitem != null">
        ROrderItem = #{record.rorderitem,jdbcType=SMALLINT},
      </if>
      <if test="record.modelno != null">
        ModelNo = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        Quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        Price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.dlvdate != null">
        DlvDate = #{record.dlvdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rcvclassify != null">
        RcvClassify = #{record.rcvclassify,jdbcType=CHAR},
      </if>
      <if test="record.prjcode != null">
        PrjCode = #{record.prjcode,jdbcType=NVARCHAR},
      </if>
      <if test="record.stockcode != null">
        StockCode = #{record.stockcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cproductno != null">
        CProductNo = #{record.cproductno,jdbcType=NVARCHAR},
      </if>
      <if test="record.ordtranstype != null">
        OrdTransType = #{record.ordtranstype,jdbcType=CHAR},
      </if>
      <if test="record.spcprice != null">
        SpcPrice = #{record.spcprice,jdbcType=VARCHAR},
      </if>
      <if test="record.discount != null">
        Discount = #{record.discount,jdbcType=NUMERIC},
      </if>
      <if test="record.noprice != null">
        NoPrice = #{record.noprice,jdbcType=CHAR},
      </if>
      <if test="record.account != null">
        Account = #{record.account,jdbcType=DECIMAL},
      </if>
      <if test="record.specmark != null">
        SpecMark = #{record.specmark,jdbcType=CHAR},
      </if>
      <if test="record.recno != null">
        RecNo = #{record.recno,jdbcType=CHAR},
      </if>
      <if test="record.detailmark != null">
        DetailMark = #{record.detailmark,jdbcType=VARCHAR},
      </if>
      <if test="record.optdate != null">
        OptDate = #{record.optdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rowguid != null">
        rowguid = #{record.rowguid,jdbcType=CHAR},
      </if>
      <if test="record.empsale != null">
        EmpSale = #{record.empsale,jdbcType=CHAR},
      </if>
      <if test="record.empoffice != null">
        EmpOffice = #{record.empoffice,jdbcType=CHAR},
      </if>
      <if test="record.deptno != null">
        DeptNo = #{record.deptno,jdbcType=CHAR},
      </if>
      <if test="record.purchaseno != null">
        PurchaseNo = #{record.purchaseno,jdbcType=NVARCHAR},
      </if>
      <if test="record.shikomi != null">
        Shikomi = #{record.shikomi,jdbcType=VARCHAR},
      </if>
      <if test="record.priceEnduser != null">
        Price_EndUser = #{record.priceEnduser,jdbcType=DECIMAL},
      </if>
      <if test="record.cttflag != null">
        cttFlag = #{record.cttflag,jdbcType=CHAR},
      </if>
      <if test="record.warehousesenddate != null">
        WarehouseSendDate = #{record.warehousesenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cproductname != null">
        CProductName = #{record.cproductname,jdbcType=NVARCHAR},
      </if>
      <if test="record.optrecord != null">
        OptRecord = #{record.optrecord,jdbcType=VARCHAR},
      </if>
      <if test="record.presaleorderno != null">
        PreSaleOrderNo = #{record.presaleorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.opponent != null">
        Opponent = #{record.opponent,jdbcType=VARCHAR},
      </if>
      <if test="record.typecode != null">
        TypeCode = #{record.typecode,jdbcType=VARCHAR},
      </if>
      <if test="record.pricechecked != null">
        PriceChecked = #{record.pricechecked,jdbcType=BIT},
      </if>
      <if test="record.eprice != null">
        EPrice = #{record.eprice,jdbcType=NUMERIC},
      </if>
      <if test="record.tradecompanyid != null">
        TradeCompanyId = #{record.tradecompanyid,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersourcesys != null">
        OrderSourceSys = #{record.ordersourcesys,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo._ordersales_bj
    set ROrderNo = #{record.rorderno,jdbcType=CHAR},
      CustomerNo = #{record.customerno,jdbcType=CHAR},
      UserNo = #{record.userno,jdbcType=CHAR},
      DlvEntire = #{record.dlventire,jdbcType=CHAR},
      TransFee = #{record.transfee,jdbcType=CHAR},
      TransChannel = #{record.transchannel,jdbcType=VARCHAR},
      DlvSite = #{record.dlvsite,jdbcType=CHAR},
      DlvType = #{record.dlvtype,jdbcType=CHAR},
      ContractNo = #{record.contractno,jdbcType=VARCHAR},
      QuotationNo = #{record.quotationno,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=NVARCHAR},
      OpLog = #{record.oplog,jdbcType=VARCHAR},
      WorkDay = #{record.workday,jdbcType=TIMESTAMP},
      Sendout = #{record.sendout,jdbcType=CHAR},
      Status = #{record.status,jdbcType=CHAR},
      SendDay = #{record.sendday,jdbcType=TIMESTAMP},
      ROrderItem = #{record.rorderitem,jdbcType=SMALLINT},
      ModelNo = #{record.modelno,jdbcType=VARCHAR},
      Quantity = #{record.quantity,jdbcType=INTEGER},
      Price = #{record.price,jdbcType=DECIMAL},
      DlvDate = #{record.dlvdate,jdbcType=TIMESTAMP},
      RcvClassify = #{record.rcvclassify,jdbcType=CHAR},
      PrjCode = #{record.prjcode,jdbcType=NVARCHAR},
      StockCode = #{record.stockcode,jdbcType=VARCHAR},
      CProductNo = #{record.cproductno,jdbcType=NVARCHAR},
      OrdTransType = #{record.ordtranstype,jdbcType=CHAR},
      SpcPrice = #{record.spcprice,jdbcType=VARCHAR},
      Discount = #{record.discount,jdbcType=NUMERIC},
      NoPrice = #{record.noprice,jdbcType=CHAR},
      Account = #{record.account,jdbcType=DECIMAL},
      SpecMark = #{record.specmark,jdbcType=CHAR},
      RecNo = #{record.recno,jdbcType=CHAR},
      DetailMark = #{record.detailmark,jdbcType=VARCHAR},
      OptDate = #{record.optdate,jdbcType=TIMESTAMP},
      rowguid = #{record.rowguid,jdbcType=CHAR},
      EmpSale = #{record.empsale,jdbcType=CHAR},
      EmpOffice = #{record.empoffice,jdbcType=CHAR},
      DeptNo = #{record.deptno,jdbcType=CHAR},
      PurchaseNo = #{record.purchaseno,jdbcType=NVARCHAR},
      Shikomi = #{record.shikomi,jdbcType=VARCHAR},
      Price_EndUser = #{record.priceEnduser,jdbcType=DECIMAL},
      cttFlag = #{record.cttflag,jdbcType=CHAR},
      WarehouseSendDate = #{record.warehousesenddate,jdbcType=TIMESTAMP},
      CProductName = #{record.cproductname,jdbcType=NVARCHAR},
      OptRecord = #{record.optrecord,jdbcType=VARCHAR},
      PreSaleOrderNo = #{record.presaleorderno,jdbcType=VARCHAR},
      Opponent = #{record.opponent,jdbcType=VARCHAR},
      TypeCode = #{record.typecode,jdbcType=VARCHAR},
      PriceChecked = #{record.pricechecked,jdbcType=BIT},
      EPrice = #{record.eprice,jdbcType=NUMERIC},
      TradeCompanyId = #{record.tradecompanyid,jdbcType=VARCHAR},
      OrderSourceSys = #{record.ordersourcesys,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>