<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.OrderTempMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.OrderTemp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rorder_no" jdbcType="VARCHAR" property="rorderNo" />
    <result column="order_type" jdbcType="SMALLINT" property="orderType" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="dept_No" jdbcType="VARCHAR" property="deptNo" />
    <result column="rorder_item" jdbcType="INTEGER" property="rorderItem" />
    <result column="model_no" jdbcType="VARCHAR" property="modelNo" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="dlv_entire" jdbcType="CHAR" property="dlvEntire" />
    <result column="ppl_no" jdbcType="VARCHAR" property="pplNo" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="group_customer_no" jdbcType="VARCHAR" property="groupCustomerNo" />
    <result column="sales_info_no" jdbcType="VARCHAR" property="salesInfoNo" />
    <result column="exp_dlv_type" jdbcType="INTEGER" property="expDlvType" />
    <result column="dlv_date" jdbcType="TIMESTAMP" property="dlvDate" />
    <result column="address_no" jdbcType="VARCHAR" property="addressNo" />
    <result column="wms_dlv_date" jdbcType="DATE" property="wmsDlvDate" />
    <result column="ContactPsn" jdbcType="VARCHAR" property="contactpsn" />
    <result column="delivery_dept_no" jdbcType="VARCHAR" property="deliveryDeptNo" />
    <result column="trade_companyId" jdbcType="VARCHAR" property="tradeCompanyid" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rorder_no, order_type, customer_no, user_no, dept_No, rorder_item, model_no, 
    quantity, dlv_entire, ppl_no, project_no, group_customer_no, sales_info_no, exp_dlv_type, 
    dlv_date, address_no, wms_dlv_date, ContactPsn, delivery_dept_no, trade_companyId, 
    price
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.OrderTempExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.order_temp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.order_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dbo.order_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.OrderTempExample">
    delete from dbo.order_temp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.OrderTemp">
    insert into dbo.order_temp (id, rorder_no, order_type, 
      customer_no, user_no, dept_No, 
      rorder_item, model_no, quantity, 
      dlv_entire, ppl_no, project_no, 
      group_customer_no, sales_info_no, exp_dlv_type, 
      dlv_date, address_no, wms_dlv_date, 
      ContactPsn, delivery_dept_no, trade_companyId, 
      price)
    values (#{id,jdbcType=INTEGER}, #{rorderNo,jdbcType=VARCHAR}, #{orderType,jdbcType=SMALLINT}, 
      #{customerNo,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, 
      #{rorderItem,jdbcType=INTEGER}, #{modelNo,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{dlvEntire,jdbcType=CHAR}, #{pplNo,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, 
      #{groupCustomerNo,jdbcType=VARCHAR}, #{salesInfoNo,jdbcType=VARCHAR}, #{expDlvType,jdbcType=INTEGER}, 
      #{dlvDate,jdbcType=TIMESTAMP}, #{addressNo,jdbcType=VARCHAR}, #{wmsDlvDate,jdbcType=DATE}, 
      #{contactpsn,jdbcType=VARCHAR}, #{deliveryDeptNo,jdbcType=VARCHAR}, #{tradeCompanyid,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.OrderTemp">
    insert into dbo.order_temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rorderNo != null">
        rorder_no,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="customerNo != null">
        customer_no,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="deptNo != null">
        dept_No,
      </if>
      <if test="rorderItem != null">
        rorder_item,
      </if>
      <if test="modelNo != null">
        model_no,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="dlvEntire != null">
        dlv_entire,
      </if>
      <if test="pplNo != null">
        ppl_no,
      </if>
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="groupCustomerNo != null">
        group_customer_no,
      </if>
      <if test="salesInfoNo != null">
        sales_info_no,
      </if>
      <if test="expDlvType != null">
        exp_dlv_type,
      </if>
      <if test="dlvDate != null">
        dlv_date,
      </if>
      <if test="addressNo != null">
        address_no,
      </if>
      <if test="wmsDlvDate != null">
        wms_dlv_date,
      </if>
      <if test="contactpsn != null">
        ContactPsn,
      </if>
      <if test="deliveryDeptNo != null">
        delivery_dept_no,
      </if>
      <if test="tradeCompanyid != null">
        trade_companyId,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rorderNo != null">
        #{rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=SMALLINT},
      </if>
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="rorderItem != null">
        #{rorderItem,jdbcType=INTEGER},
      </if>
      <if test="modelNo != null">
        #{modelNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="dlvEntire != null">
        #{dlvEntire,jdbcType=CHAR},
      </if>
      <if test="pplNo != null">
        #{pplNo,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="groupCustomerNo != null">
        #{groupCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="salesInfoNo != null">
        #{salesInfoNo,jdbcType=VARCHAR},
      </if>
      <if test="expDlvType != null">
        #{expDlvType,jdbcType=INTEGER},
      </if>
      <if test="dlvDate != null">
        #{dlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="addressNo != null">
        #{addressNo,jdbcType=VARCHAR},
      </if>
      <if test="wmsDlvDate != null">
        #{wmsDlvDate,jdbcType=DATE},
      </if>
      <if test="contactpsn != null">
        #{contactpsn,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDeptNo != null">
        #{deliveryDeptNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeCompanyid != null">
        #{tradeCompanyid,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.OrderTempExample" resultType="java.lang.Long">
    select count(*) from dbo.order_temp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.order_temp
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rorderNo != null">
        rorder_no = #{record.rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null">
        order_type = #{record.orderType,jdbcType=SMALLINT},
      </if>
      <if test="record.customerNo != null">
        customer_no = #{record.customerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userNo != null">
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNo != null">
        dept_No = #{record.deptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.rorderItem != null">
        rorder_item = #{record.rorderItem,jdbcType=INTEGER},
      </if>
      <if test="record.modelNo != null">
        model_no = #{record.modelNo,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.dlvEntire != null">
        dlv_entire = #{record.dlvEntire,jdbcType=CHAR},
      </if>
      <if test="record.pplNo != null">
        ppl_no = #{record.pplNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectNo != null">
        project_no = #{record.projectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCustomerNo != null">
        group_customer_no = #{record.groupCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.salesInfoNo != null">
        sales_info_no = #{record.salesInfoNo,jdbcType=VARCHAR},
      </if>
      <if test="record.expDlvType != null">
        exp_dlv_type = #{record.expDlvType,jdbcType=INTEGER},
      </if>
      <if test="record.dlvDate != null">
        dlv_date = #{record.dlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addressNo != null">
        address_no = #{record.addressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.wmsDlvDate != null">
        wms_dlv_date = #{record.wmsDlvDate,jdbcType=DATE},
      </if>
      <if test="record.contactpsn != null">
        ContactPsn = #{record.contactpsn,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDeptNo != null">
        delivery_dept_no = #{record.deliveryDeptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeCompanyid != null">
        trade_companyId = #{record.tradeCompanyid,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.order_temp
    set id = #{record.id,jdbcType=INTEGER},
      rorder_no = #{record.rorderNo,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=SMALLINT},
      customer_no = #{record.customerNo,jdbcType=VARCHAR},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      dept_No = #{record.deptNo,jdbcType=VARCHAR},
      rorder_item = #{record.rorderItem,jdbcType=INTEGER},
      model_no = #{record.modelNo,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      dlv_entire = #{record.dlvEntire,jdbcType=CHAR},
      ppl_no = #{record.pplNo,jdbcType=VARCHAR},
      project_no = #{record.projectNo,jdbcType=VARCHAR},
      group_customer_no = #{record.groupCustomerNo,jdbcType=VARCHAR},
      sales_info_no = #{record.salesInfoNo,jdbcType=VARCHAR},
      exp_dlv_type = #{record.expDlvType,jdbcType=INTEGER},
      dlv_date = #{record.dlvDate,jdbcType=TIMESTAMP},
      address_no = #{record.addressNo,jdbcType=VARCHAR},
      wms_dlv_date = #{record.wmsDlvDate,jdbcType=DATE},
      ContactPsn = #{record.contactpsn,jdbcType=VARCHAR},
      delivery_dept_no = #{record.deliveryDeptNo,jdbcType=VARCHAR},
      trade_companyId = #{record.tradeCompanyid,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.OrderTemp">
    update dbo.order_temp
    <set>
      <if test="rorderNo != null">
        rorder_no = #{rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=SMALLINT},
      </if>
      <if test="customerNo != null">
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        dept_No = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="rorderItem != null">
        rorder_item = #{rorderItem,jdbcType=INTEGER},
      </if>
      <if test="modelNo != null">
        model_no = #{modelNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="dlvEntire != null">
        dlv_entire = #{dlvEntire,jdbcType=CHAR},
      </if>
      <if test="pplNo != null">
        ppl_no = #{pplNo,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="groupCustomerNo != null">
        group_customer_no = #{groupCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="salesInfoNo != null">
        sales_info_no = #{salesInfoNo,jdbcType=VARCHAR},
      </if>
      <if test="expDlvType != null">
        exp_dlv_type = #{expDlvType,jdbcType=INTEGER},
      </if>
      <if test="dlvDate != null">
        dlv_date = #{dlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="addressNo != null">
        address_no = #{addressNo,jdbcType=VARCHAR},
      </if>
      <if test="wmsDlvDate != null">
        wms_dlv_date = #{wmsDlvDate,jdbcType=DATE},
      </if>
      <if test="contactpsn != null">
        ContactPsn = #{contactpsn,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDeptNo != null">
        delivery_dept_no = #{deliveryDeptNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeCompanyid != null">
        trade_companyId = #{tradeCompanyid,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.OrderTemp">
    update dbo.order_temp
    set rorder_no = #{rorderNo,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=SMALLINT},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      dept_No = #{deptNo,jdbcType=VARCHAR},
      rorder_item = #{rorderItem,jdbcType=INTEGER},
      model_no = #{modelNo,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      dlv_entire = #{dlvEntire,jdbcType=CHAR},
      ppl_no = #{pplNo,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      group_customer_no = #{groupCustomerNo,jdbcType=VARCHAR},
      sales_info_no = #{salesInfoNo,jdbcType=VARCHAR},
      exp_dlv_type = #{expDlvType,jdbcType=INTEGER},
      dlv_date = #{dlvDate,jdbcType=TIMESTAMP},
      address_no = #{addressNo,jdbcType=VARCHAR},
      wms_dlv_date = #{wmsDlvDate,jdbcType=DATE},
      ContactPsn = #{contactpsn,jdbcType=VARCHAR},
      delivery_dept_no = #{deliveryDeptNo,jdbcType=VARCHAR},
      trade_companyId = #{tradeCompanyid,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>