<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.ProductDeliveryTMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.ProductDeliveryT">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="modelNo" jdbcType="VARCHAR" property="modelno" />
    <result column="orgCountryId" jdbcType="VARCHAR" property="orgcountryid" />
    <result column="supplyId" jdbcType="VARCHAR" property="supplyid" />
    <result column="stdDlvDay" jdbcType="INTEGER" property="stddlvday" />
    <result column="stdDlvDateMaxNumber" jdbcType="INTEGER" property="stddlvdatemaxnumber" />
    <result column="maxProdQty" jdbcType="INTEGER" property="maxprodqty" />
    <result column="enableMaxProdQty" jdbcType="BIT" property="enablemaxprodqty" />
    <result column="isPrimary" jdbcType="BIT" property="isprimary" />
    <result column="supplierPartNo" jdbcType="NVARCHAR" property="supplierpartno" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="resultSource" jdbcType="VARCHAR" property="resultsource" />
    <result column="resultSourceDesc" jdbcType="NVARCHAR" property="resultsourcedesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, modelNo, orgCountryId, supplyId, stdDlvDay, stdDlvDateMaxNumber, maxProdQty, 
    enableMaxProdQty, isPrimary, supplierPartNo, createUser, createTime, updateUser, 
    updateTime, resultSource, resultSourceDesc
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.ProductDeliveryTExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.product_delivery_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.product_delivery_t
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo.product_delivery_t
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.ProductDeliveryTExample">
    delete from dbo.product_delivery_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.ProductDeliveryT">
    insert into dbo.product_delivery_t (id, modelNo, orgCountryId, 
      supplyId, stdDlvDay, stdDlvDateMaxNumber, 
      maxProdQty, enableMaxProdQty, isPrimary, 
      supplierPartNo, createUser, createTime, 
      updateUser, updateTime, resultSource, 
      resultSourceDesc)
    values (#{id,jdbcType=BIGINT}, #{modelno,jdbcType=VARCHAR}, #{orgcountryid,jdbcType=VARCHAR}, 
      #{supplyid,jdbcType=VARCHAR}, #{stddlvday,jdbcType=INTEGER}, #{stddlvdatemaxnumber,jdbcType=INTEGER}, 
      #{maxprodqty,jdbcType=INTEGER}, #{enablemaxprodqty,jdbcType=BIT}, #{isprimary,jdbcType=BIT}, 
      #{supplierpartno,jdbcType=NVARCHAR}, #{createuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{resultsource,jdbcType=VARCHAR}, 
      #{resultsourcedesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.ProductDeliveryT">
    insert into dbo.product_delivery_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelno != null">
        modelNo,
      </if>
      <if test="orgcountryid != null">
        orgCountryId,
      </if>
      <if test="supplyid != null">
        supplyId,
      </if>
      <if test="stddlvday != null">
        stdDlvDay,
      </if>
      <if test="stddlvdatemaxnumber != null">
        stdDlvDateMaxNumber,
      </if>
      <if test="maxprodqty != null">
        maxProdQty,
      </if>
      <if test="enablemaxprodqty != null">
        enableMaxProdQty,
      </if>
      <if test="isprimary != null">
        isPrimary,
      </if>
      <if test="supplierpartno != null">
        supplierPartNo,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="resultsource != null">
        resultSource,
      </if>
      <if test="resultsourcedesc != null">
        resultSourceDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="orgcountryid != null">
        #{orgcountryid,jdbcType=VARCHAR},
      </if>
      <if test="supplyid != null">
        #{supplyid,jdbcType=VARCHAR},
      </if>
      <if test="stddlvday != null">
        #{stddlvday,jdbcType=INTEGER},
      </if>
      <if test="stddlvdatemaxnumber != null">
        #{stddlvdatemaxnumber,jdbcType=INTEGER},
      </if>
      <if test="maxprodqty != null">
        #{maxprodqty,jdbcType=INTEGER},
      </if>
      <if test="enablemaxprodqty != null">
        #{enablemaxprodqty,jdbcType=BIT},
      </if>
      <if test="isprimary != null">
        #{isprimary,jdbcType=BIT},
      </if>
      <if test="supplierpartno != null">
        #{supplierpartno,jdbcType=NVARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultsource != null">
        #{resultsource,jdbcType=VARCHAR},
      </if>
      <if test="resultsourcedesc != null">
        #{resultsourcedesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.ProductDeliveryTExample" resultType="java.lang.Long">
    select count(*) from dbo.product_delivery_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.product_delivery_t
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.modelno != null">
        modelNo = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.orgcountryid != null">
        orgCountryId = #{record.orgcountryid,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyid != null">
        supplyId = #{record.supplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.stddlvday != null">
        stdDlvDay = #{record.stddlvday,jdbcType=INTEGER},
      </if>
      <if test="record.stddlvdatemaxnumber != null">
        stdDlvDateMaxNumber = #{record.stddlvdatemaxnumber,jdbcType=INTEGER},
      </if>
      <if test="record.maxprodqty != null">
        maxProdQty = #{record.maxprodqty,jdbcType=INTEGER},
      </if>
      <if test="record.enablemaxprodqty != null">
        enableMaxProdQty = #{record.enablemaxprodqty,jdbcType=BIT},
      </if>
      <if test="record.isprimary != null">
        isPrimary = #{record.isprimary,jdbcType=BIT},
      </if>
      <if test="record.supplierpartno != null">
        supplierPartNo = #{record.supplierpartno,jdbcType=NVARCHAR},
      </if>
      <if test="record.createuser != null">
        createUser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuser != null">
        updateUser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resultsource != null">
        resultSource = #{record.resultsource,jdbcType=VARCHAR},
      </if>
      <if test="record.resultsourcedesc != null">
        resultSourceDesc = #{record.resultsourcedesc,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.product_delivery_t
    set id = #{record.id,jdbcType=BIGINT},
      modelNo = #{record.modelno,jdbcType=VARCHAR},
      orgCountryId = #{record.orgcountryid,jdbcType=VARCHAR},
      supplyId = #{record.supplyid,jdbcType=VARCHAR},
      stdDlvDay = #{record.stddlvday,jdbcType=INTEGER},
      stdDlvDateMaxNumber = #{record.stddlvdatemaxnumber,jdbcType=INTEGER},
      maxProdQty = #{record.maxprodqty,jdbcType=INTEGER},
      enableMaxProdQty = #{record.enablemaxprodqty,jdbcType=BIT},
      isPrimary = #{record.isprimary,jdbcType=BIT},
      supplierPartNo = #{record.supplierpartno,jdbcType=NVARCHAR},
      createUser = #{record.createuser,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateUser = #{record.updateuser,jdbcType=VARCHAR},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      resultSource = #{record.resultsource,jdbcType=VARCHAR},
      resultSourceDesc = #{record.resultsourcedesc,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.ProductDeliveryT">
    update dbo.product_delivery_t
    <set>
      <if test="modelno != null">
        modelNo = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="orgcountryid != null">
        orgCountryId = #{orgcountryid,jdbcType=VARCHAR},
      </if>
      <if test="supplyid != null">
        supplyId = #{supplyid,jdbcType=VARCHAR},
      </if>
      <if test="stddlvday != null">
        stdDlvDay = #{stddlvday,jdbcType=INTEGER},
      </if>
      <if test="stddlvdatemaxnumber != null">
        stdDlvDateMaxNumber = #{stddlvdatemaxnumber,jdbcType=INTEGER},
      </if>
      <if test="maxprodqty != null">
        maxProdQty = #{maxprodqty,jdbcType=INTEGER},
      </if>
      <if test="enablemaxprodqty != null">
        enableMaxProdQty = #{enablemaxprodqty,jdbcType=BIT},
      </if>
      <if test="isprimary != null">
        isPrimary = #{isprimary,jdbcType=BIT},
      </if>
      <if test="supplierpartno != null">
        supplierPartNo = #{supplierpartno,jdbcType=NVARCHAR},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultsource != null">
        resultSource = #{resultsource,jdbcType=VARCHAR},
      </if>
      <if test="resultsourcedesc != null">
        resultSourceDesc = #{resultsourcedesc,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.ProductDeliveryT">
    update dbo.product_delivery_t
    set modelNo = #{modelno,jdbcType=VARCHAR},
      orgCountryId = #{orgcountryid,jdbcType=VARCHAR},
      supplyId = #{supplyid,jdbcType=VARCHAR},
      stdDlvDay = #{stddlvday,jdbcType=INTEGER},
      stdDlvDateMaxNumber = #{stddlvdatemaxnumber,jdbcType=INTEGER},
      maxProdQty = #{maxprodqty,jdbcType=INTEGER},
      enableMaxProdQty = #{enablemaxprodqty,jdbcType=BIT},
      isPrimary = #{isprimary,jdbcType=BIT},
      supplierPartNo = #{supplierpartno,jdbcType=NVARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      resultSource = #{resultsource,jdbcType=VARCHAR},
      resultSourceDesc = #{resultsourcedesc,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>