<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.PurchaseorderViewMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.PurchaseorderView">
    <result column="order_item" jdbcType="VARCHAR" property="orderItem" />
    <result column="order_item_split" jdbcType="VARCHAR" property="orderItemSplit" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="itemNo" jdbcType="INTEGER" property="itemno" />
    <result column="splitItemNo" jdbcType="INTEGER" property="splititemno" />
    <result column="mergeflag" jdbcType="BIT" property="mergeflag" />
    <result column="modelNo" jdbcType="VARCHAR" property="modelno" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="stdPrice" jdbcType="DECIMAL" property="stdprice" />
    <result column="transType" jdbcType="CHAR" property="transtype" />
    <result column="purchaseDate" jdbcType="TIMESTAMP" property="purchasedate" />
    <result column="hopeDeliveryDate" jdbcType="DATE" property="hopedeliverydate" />
    <result column="supplierId" jdbcType="VARCHAR" property="supplierid" />
    <result column="stateCode" jdbcType="CHAR" property="statecode" />
    <result column="ordType" jdbcType="VARCHAR" property="ordtype" />
    <result column="specMark" jdbcType="CHAR" property="specmark" />
    <result column="receiveWarehouseId" jdbcType="VARCHAR" property="receivewarehouseid" />
    <result column="remark" jdbcType="NVARCHAR" property="remark" />
    <result column="hopeExportDate" jdbcType="DATE" property="hopeexportdate" />
    <result column="inqNo" jdbcType="VARCHAR" property="inqno" />
    <result column="shikomiAnswerNo" jdbcType="VARCHAR" property="shikomianswerno" />
    <result column="operatorId" jdbcType="VARCHAR" property="operatorid" />
    <result column="deptNo" jdbcType="VARCHAR" property="deptno" />
    <result column="apply_dept_no" jdbcType="VARCHAR" property="applyDeptNo" />
    <result column="smcCode" jdbcType="VARCHAR" property="smccode" />
    <result column="invoiceNo" jdbcType="NCHAR" property="invoiceno" />
    <result column="hsCode" jdbcType="NVARCHAR" property="hscode" />
    <result column="greenCode" jdbcType="CHAR" property="greencode" />
    <result column="productType" jdbcType="INTEGER" property="producttype" />
    <result column="customerNo" jdbcType="VARCHAR" property="customerno" />
    <result column="userNo" jdbcType="VARCHAR" property="userno" />
    <result column="salesInfoNo" jdbcType="NVARCHAR" property="salesinfono" />
    <result column="purchaseType" jdbcType="CHAR" property="purchasetype" />
    <result column="supplierPartNo" jdbcType="NVARCHAR" property="supplierpartno" />
    <result column="importFobPriceOriginal" jdbcType="DECIMAL" property="importfobpriceoriginal" />
    <result column="importCurrencyId" jdbcType="NVARCHAR" property="importcurrencyid" />
    <result column="serverremark" jdbcType="NVARCHAR" property="serverremark" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="corderNO" jdbcType="VARCHAR" property="corderno" />
    <result column="inventoryPropertyId" jdbcType="BIGINT" property="inventorypropertyid" />
    <result column="replyOrderNo" jdbcType="VARCHAR" property="replyorderno" />
    <result column="dlvModDate" jdbcType="DATE" property="dlvmoddate" />
    <result column="qtyReceive" jdbcType="INTEGER" property="qtyreceive" />
    <result column="finishDate" jdbcType="TIMESTAMP" property="finishdate" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="information" jdbcType="NVARCHAR" property="information" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="sendVersion" jdbcType="VARCHAR" property="sendversion" />
    <result column="deleteReason" jdbcType="NVARCHAR" property="deletereason" />
    <result column="vipCode" jdbcType="VARCHAR" property="vipcode" />
    <result column="src_delivery_time" jdbcType="VARCHAR" property="srcDeliveryTime" />
    <result column="dlvmoddate_str" jdbcType="VARCHAR" property="dlvmoddateStr" />
    <result column="supplier_assign_type" jdbcType="VARCHAR" property="supplierAssignType" />
    <result column="end_user" jdbcType="VARCHAR" property="endUser" />
    <result column="prepareOrderNo" jdbcType="VARCHAR" property="prepareorderno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_item, order_item_split, id, orderNo, itemNo, splitItemNo, mergeflag, modelNo, 
    quantity, stdPrice, transType, purchaseDate, hopeDeliveryDate, supplierId, stateCode, 
    ordType, specMark, receiveWarehouseId, remark, hopeExportDate, inqNo, shikomiAnswerNo, 
    operatorId, deptNo, apply_dept_no, smcCode, invoiceNo, hsCode, greenCode, productType, 
    customerNo, userNo, salesInfoNo, purchaseType, supplierPartNo, importFobPriceOriginal, 
    importCurrencyId, serverremark, updateTime, corderNO, inventoryPropertyId, replyOrderNo, 
    dlvModDate, qtyReceive, finishDate, operator, information, filepath, sendVersion, 
    deleteReason, vipCode, src_delivery_time, dlvmoddate_str, supplier_assign_type, end_user, 
    prepareOrderNo
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.PurchaseorderViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.purchaseOrder_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.PurchaseorderViewExample">
    delete from dbo.purchaseOrder_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.PurchaseorderView">
    insert into dbo.purchaseOrder_view (order_item, order_item_split, id, 
      orderNo, itemNo, splitItemNo, 
      mergeflag, modelNo, quantity, 
      stdPrice, transType, purchaseDate, 
      hopeDeliveryDate, supplierId, stateCode, 
      ordType, specMark, receiveWarehouseId, 
      remark, hopeExportDate, inqNo, 
      shikomiAnswerNo, operatorId, deptNo, 
      apply_dept_no, smcCode, invoiceNo, 
      hsCode, greenCode, productType, 
      customerNo, userNo, salesInfoNo, 
      purchaseType, supplierPartNo, importFobPriceOriginal, 
      importCurrencyId, serverremark, updateTime, 
      corderNO, inventoryPropertyId, replyOrderNo, 
      dlvModDate, qtyReceive, finishDate, 
      operator, information, filepath, 
      sendVersion, deleteReason, vipCode, 
      src_delivery_time, dlvmoddate_str, supplier_assign_type, 
      end_user, prepareOrderNo)
    values (#{orderItem,jdbcType=VARCHAR}, #{orderItemSplit,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, 
      #{orderno,jdbcType=VARCHAR}, #{itemno,jdbcType=INTEGER}, #{splititemno,jdbcType=INTEGER}, 
      #{mergeflag,jdbcType=BIT}, #{modelno,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{stdprice,jdbcType=DECIMAL}, #{transtype,jdbcType=CHAR}, #{purchasedate,jdbcType=TIMESTAMP}, 
      #{hopedeliverydate,jdbcType=DATE}, #{supplierid,jdbcType=VARCHAR}, #{statecode,jdbcType=CHAR}, 
      #{ordtype,jdbcType=VARCHAR}, #{specmark,jdbcType=CHAR}, #{receivewarehouseid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=NVARCHAR}, #{hopeexportdate,jdbcType=DATE}, #{inqno,jdbcType=VARCHAR}, 
      #{shikomianswerno,jdbcType=VARCHAR}, #{operatorid,jdbcType=VARCHAR}, #{deptno,jdbcType=VARCHAR}, 
      #{applyDeptNo,jdbcType=VARCHAR}, #{smccode,jdbcType=VARCHAR}, #{invoiceno,jdbcType=NCHAR}, 
      #{hscode,jdbcType=NVARCHAR}, #{greencode,jdbcType=CHAR}, #{producttype,jdbcType=INTEGER}, 
      #{customerno,jdbcType=VARCHAR}, #{userno,jdbcType=VARCHAR}, #{salesinfono,jdbcType=NVARCHAR}, 
      #{purchasetype,jdbcType=CHAR}, #{supplierpartno,jdbcType=NVARCHAR}, #{importfobpriceoriginal,jdbcType=DECIMAL}, 
      #{importcurrencyid,jdbcType=NVARCHAR}, #{serverremark,jdbcType=NVARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{corderno,jdbcType=VARCHAR}, #{inventorypropertyid,jdbcType=BIGINT}, #{replyorderno,jdbcType=VARCHAR}, 
      #{dlvmoddate,jdbcType=DATE}, #{qtyreceive,jdbcType=INTEGER}, #{finishdate,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR}, #{information,jdbcType=NVARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{sendversion,jdbcType=VARCHAR}, #{deletereason,jdbcType=NVARCHAR}, #{vipcode,jdbcType=VARCHAR}, 
      #{srcDeliveryTime,jdbcType=VARCHAR}, #{dlvmoddateStr,jdbcType=VARCHAR}, #{supplierAssignType,jdbcType=VARCHAR}, 
      #{endUser,jdbcType=VARCHAR}, #{prepareorderno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.PurchaseorderView">
    insert into dbo.purchaseOrder_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderItem != null">
        order_item,
      </if>
      <if test="orderItemSplit != null">
        order_item_split,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="itemno != null">
        itemNo,
      </if>
      <if test="splititemno != null">
        splitItemNo,
      </if>
      <if test="mergeflag != null">
        mergeflag,
      </if>
      <if test="modelno != null">
        modelNo,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="stdprice != null">
        stdPrice,
      </if>
      <if test="transtype != null">
        transType,
      </if>
      <if test="purchasedate != null">
        purchaseDate,
      </if>
      <if test="hopedeliverydate != null">
        hopeDeliveryDate,
      </if>
      <if test="supplierid != null">
        supplierId,
      </if>
      <if test="statecode != null">
        stateCode,
      </if>
      <if test="ordtype != null">
        ordType,
      </if>
      <if test="specmark != null">
        specMark,
      </if>
      <if test="receivewarehouseid != null">
        receiveWarehouseId,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="hopeexportdate != null">
        hopeExportDate,
      </if>
      <if test="inqno != null">
        inqNo,
      </if>
      <if test="shikomianswerno != null">
        shikomiAnswerNo,
      </if>
      <if test="operatorid != null">
        operatorId,
      </if>
      <if test="deptno != null">
        deptNo,
      </if>
      <if test="applyDeptNo != null">
        apply_dept_no,
      </if>
      <if test="smccode != null">
        smcCode,
      </if>
      <if test="invoiceno != null">
        invoiceNo,
      </if>
      <if test="hscode != null">
        hsCode,
      </if>
      <if test="greencode != null">
        greenCode,
      </if>
      <if test="producttype != null">
        productType,
      </if>
      <if test="customerno != null">
        customerNo,
      </if>
      <if test="userno != null">
        userNo,
      </if>
      <if test="salesinfono != null">
        salesInfoNo,
      </if>
      <if test="purchasetype != null">
        purchaseType,
      </if>
      <if test="supplierpartno != null">
        supplierPartNo,
      </if>
      <if test="importfobpriceoriginal != null">
        importFobPriceOriginal,
      </if>
      <if test="importcurrencyid != null">
        importCurrencyId,
      </if>
      <if test="serverremark != null">
        serverremark,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="corderno != null">
        corderNO,
      </if>
      <if test="inventorypropertyid != null">
        inventoryPropertyId,
      </if>
      <if test="replyorderno != null">
        replyOrderNo,
      </if>
      <if test="dlvmoddate != null">
        dlvModDate,
      </if>
      <if test="qtyreceive != null">
        qtyReceive,
      </if>
      <if test="finishdate != null">
        finishDate,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="information != null">
        information,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="sendversion != null">
        sendVersion,
      </if>
      <if test="deletereason != null">
        deleteReason,
      </if>
      <if test="vipcode != null">
        vipCode,
      </if>
      <if test="srcDeliveryTime != null">
        src_delivery_time,
      </if>
      <if test="dlvmoddateStr != null">
        dlvmoddate_str,
      </if>
      <if test="supplierAssignType != null">
        supplier_assign_type,
      </if>
      <if test="endUser != null">
        end_user,
      </if>
      <if test="prepareorderno != null">
        prepareOrderNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderItem != null">
        #{orderItem,jdbcType=VARCHAR},
      </if>
      <if test="orderItemSplit != null">
        #{orderItemSplit,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="itemno != null">
        #{itemno,jdbcType=INTEGER},
      </if>
      <if test="splititemno != null">
        #{splititemno,jdbcType=INTEGER},
      </if>
      <if test="mergeflag != null">
        #{mergeflag,jdbcType=BIT},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="stdprice != null">
        #{stdprice,jdbcType=DECIMAL},
      </if>
      <if test="transtype != null">
        #{transtype,jdbcType=CHAR},
      </if>
      <if test="purchasedate != null">
        #{purchasedate,jdbcType=TIMESTAMP},
      </if>
      <if test="hopedeliverydate != null">
        #{hopedeliverydate,jdbcType=DATE},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="statecode != null">
        #{statecode,jdbcType=CHAR},
      </if>
      <if test="ordtype != null">
        #{ordtype,jdbcType=VARCHAR},
      </if>
      <if test="specmark != null">
        #{specmark,jdbcType=CHAR},
      </if>
      <if test="receivewarehouseid != null">
        #{receivewarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="hopeexportdate != null">
        #{hopeexportdate,jdbcType=DATE},
      </if>
      <if test="inqno != null">
        #{inqno,jdbcType=VARCHAR},
      </if>
      <if test="shikomianswerno != null">
        #{shikomianswerno,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        #{operatorid,jdbcType=VARCHAR},
      </if>
      <if test="deptno != null">
        #{deptno,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptNo != null">
        #{applyDeptNo,jdbcType=VARCHAR},
      </if>
      <if test="smccode != null">
        #{smccode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceno != null">
        #{invoiceno,jdbcType=NCHAR},
      </if>
      <if test="hscode != null">
        #{hscode,jdbcType=NVARCHAR},
      </if>
      <if test="greencode != null">
        #{greencode,jdbcType=CHAR},
      </if>
      <if test="producttype != null">
        #{producttype,jdbcType=INTEGER},
      </if>
      <if test="customerno != null">
        #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="userno != null">
        #{userno,jdbcType=VARCHAR},
      </if>
      <if test="salesinfono != null">
        #{salesinfono,jdbcType=NVARCHAR},
      </if>
      <if test="purchasetype != null">
        #{purchasetype,jdbcType=CHAR},
      </if>
      <if test="supplierpartno != null">
        #{supplierpartno,jdbcType=NVARCHAR},
      </if>
      <if test="importfobpriceoriginal != null">
        #{importfobpriceoriginal,jdbcType=DECIMAL},
      </if>
      <if test="importcurrencyid != null">
        #{importcurrencyid,jdbcType=NVARCHAR},
      </if>
      <if test="serverremark != null">
        #{serverremark,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="corderno != null">
        #{corderno,jdbcType=VARCHAR},
      </if>
      <if test="inventorypropertyid != null">
        #{inventorypropertyid,jdbcType=BIGINT},
      </if>
      <if test="replyorderno != null">
        #{replyorderno,jdbcType=VARCHAR},
      </if>
      <if test="dlvmoddate != null">
        #{dlvmoddate,jdbcType=DATE},
      </if>
      <if test="qtyreceive != null">
        #{qtyreceive,jdbcType=INTEGER},
      </if>
      <if test="finishdate != null">
        #{finishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        #{information,jdbcType=NVARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="sendversion != null">
        #{sendversion,jdbcType=VARCHAR},
      </if>
      <if test="deletereason != null">
        #{deletereason,jdbcType=NVARCHAR},
      </if>
      <if test="vipcode != null">
        #{vipcode,jdbcType=VARCHAR},
      </if>
      <if test="srcDeliveryTime != null">
        #{srcDeliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="dlvmoddateStr != null">
        #{dlvmoddateStr,jdbcType=VARCHAR},
      </if>
      <if test="supplierAssignType != null">
        #{supplierAssignType,jdbcType=VARCHAR},
      </if>
      <if test="endUser != null">
        #{endUser,jdbcType=VARCHAR},
      </if>
      <if test="prepareorderno != null">
        #{prepareorderno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.PurchaseorderViewExample" resultType="java.lang.Long">
    select count(*) from dbo.purchaseOrder_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.purchaseOrder_view
    <set>
      <if test="record.orderItem != null">
        order_item = #{record.orderItem,jdbcType=VARCHAR},
      </if>
      <if test="record.orderItemSplit != null">
        order_item_split = #{record.orderItemSplit,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderno != null">
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.itemno != null">
        itemNo = #{record.itemno,jdbcType=INTEGER},
      </if>
      <if test="record.splititemno != null">
        splitItemNo = #{record.splititemno,jdbcType=INTEGER},
      </if>
      <if test="record.mergeflag != null">
        mergeflag = #{record.mergeflag,jdbcType=BIT},
      </if>
      <if test="record.modelno != null">
        modelNo = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.stdprice != null">
        stdPrice = #{record.stdprice,jdbcType=DECIMAL},
      </if>
      <if test="record.transtype != null">
        transType = #{record.transtype,jdbcType=CHAR},
      </if>
      <if test="record.purchasedate != null">
        purchaseDate = #{record.purchasedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hopedeliverydate != null">
        hopeDeliveryDate = #{record.hopedeliverydate,jdbcType=DATE},
      </if>
      <if test="record.supplierid != null">
        supplierId = #{record.supplierid,jdbcType=VARCHAR},
      </if>
      <if test="record.statecode != null">
        stateCode = #{record.statecode,jdbcType=CHAR},
      </if>
      <if test="record.ordtype != null">
        ordType = #{record.ordtype,jdbcType=VARCHAR},
      </if>
      <if test="record.specmark != null">
        specMark = #{record.specmark,jdbcType=CHAR},
      </if>
      <if test="record.receivewarehouseid != null">
        receiveWarehouseId = #{record.receivewarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.hopeexportdate != null">
        hopeExportDate = #{record.hopeexportdate,jdbcType=DATE},
      </if>
      <if test="record.inqno != null">
        inqNo = #{record.inqno,jdbcType=VARCHAR},
      </if>
      <if test="record.shikomianswerno != null">
        shikomiAnswerNo = #{record.shikomianswerno,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorid != null">
        operatorId = #{record.operatorid,jdbcType=VARCHAR},
      </if>
      <if test="record.deptno != null">
        deptNo = #{record.deptno,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDeptNo != null">
        apply_dept_no = #{record.applyDeptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.smccode != null">
        smcCode = #{record.smccode,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceno != null">
        invoiceNo = #{record.invoiceno,jdbcType=NCHAR},
      </if>
      <if test="record.hscode != null">
        hsCode = #{record.hscode,jdbcType=NVARCHAR},
      </if>
      <if test="record.greencode != null">
        greenCode = #{record.greencode,jdbcType=CHAR},
      </if>
      <if test="record.producttype != null">
        productType = #{record.producttype,jdbcType=INTEGER},
      </if>
      <if test="record.customerno != null">
        customerNo = #{record.customerno,jdbcType=VARCHAR},
      </if>
      <if test="record.userno != null">
        userNo = #{record.userno,jdbcType=VARCHAR},
      </if>
      <if test="record.salesinfono != null">
        salesInfoNo = #{record.salesinfono,jdbcType=NVARCHAR},
      </if>
      <if test="record.purchasetype != null">
        purchaseType = #{record.purchasetype,jdbcType=CHAR},
      </if>
      <if test="record.supplierpartno != null">
        supplierPartNo = #{record.supplierpartno,jdbcType=NVARCHAR},
      </if>
      <if test="record.importfobpriceoriginal != null">
        importFobPriceOriginal = #{record.importfobpriceoriginal,jdbcType=DECIMAL},
      </if>
      <if test="record.importcurrencyid != null">
        importCurrencyId = #{record.importcurrencyid,jdbcType=NVARCHAR},
      </if>
      <if test="record.serverremark != null">
        serverremark = #{record.serverremark,jdbcType=NVARCHAR},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.corderno != null">
        corderNO = #{record.corderno,jdbcType=VARCHAR},
      </if>
      <if test="record.inventorypropertyid != null">
        inventoryPropertyId = #{record.inventorypropertyid,jdbcType=BIGINT},
      </if>
      <if test="record.replyorderno != null">
        replyOrderNo = #{record.replyorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.dlvmoddate != null">
        dlvModDate = #{record.dlvmoddate,jdbcType=DATE},
      </if>
      <if test="record.qtyreceive != null">
        qtyReceive = #{record.qtyreceive,jdbcType=INTEGER},
      </if>
      <if test="record.finishdate != null">
        finishDate = #{record.finishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.information != null">
        information = #{record.information,jdbcType=NVARCHAR},
      </if>
      <if test="record.filepath != null">
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.sendversion != null">
        sendVersion = #{record.sendversion,jdbcType=VARCHAR},
      </if>
      <if test="record.deletereason != null">
        deleteReason = #{record.deletereason,jdbcType=NVARCHAR},
      </if>
      <if test="record.vipcode != null">
        vipCode = #{record.vipcode,jdbcType=VARCHAR},
      </if>
      <if test="record.srcDeliveryTime != null">
        src_delivery_time = #{record.srcDeliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dlvmoddateStr != null">
        dlvmoddate_str = #{record.dlvmoddateStr,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierAssignType != null">
        supplier_assign_type = #{record.supplierAssignType,jdbcType=VARCHAR},
      </if>
      <if test="record.endUser != null">
        end_user = #{record.endUser,jdbcType=VARCHAR},
      </if>
      <if test="record.prepareorderno != null">
        prepareOrderNo = #{record.prepareorderno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.purchaseOrder_view
    set order_item = #{record.orderItem,jdbcType=VARCHAR},
      order_item_split = #{record.orderItemSplit,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=BIGINT},
      orderNo = #{record.orderno,jdbcType=VARCHAR},
      itemNo = #{record.itemno,jdbcType=INTEGER},
      splitItemNo = #{record.splititemno,jdbcType=INTEGER},
      mergeflag = #{record.mergeflag,jdbcType=BIT},
      modelNo = #{record.modelno,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      stdPrice = #{record.stdprice,jdbcType=DECIMAL},
      transType = #{record.transtype,jdbcType=CHAR},
      purchaseDate = #{record.purchasedate,jdbcType=TIMESTAMP},
      hopeDeliveryDate = #{record.hopedeliverydate,jdbcType=DATE},
      supplierId = #{record.supplierid,jdbcType=VARCHAR},
      stateCode = #{record.statecode,jdbcType=CHAR},
      ordType = #{record.ordtype,jdbcType=VARCHAR},
      specMark = #{record.specmark,jdbcType=CHAR},
      receiveWarehouseId = #{record.receivewarehouseid,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=NVARCHAR},
      hopeExportDate = #{record.hopeexportdate,jdbcType=DATE},
      inqNo = #{record.inqno,jdbcType=VARCHAR},
      shikomiAnswerNo = #{record.shikomianswerno,jdbcType=VARCHAR},
      operatorId = #{record.operatorid,jdbcType=VARCHAR},
      deptNo = #{record.deptno,jdbcType=VARCHAR},
      apply_dept_no = #{record.applyDeptNo,jdbcType=VARCHAR},
      smcCode = #{record.smccode,jdbcType=VARCHAR},
      invoiceNo = #{record.invoiceno,jdbcType=NCHAR},
      hsCode = #{record.hscode,jdbcType=NVARCHAR},
      greenCode = #{record.greencode,jdbcType=CHAR},
      productType = #{record.producttype,jdbcType=INTEGER},
      customerNo = #{record.customerno,jdbcType=VARCHAR},
      userNo = #{record.userno,jdbcType=VARCHAR},
      salesInfoNo = #{record.salesinfono,jdbcType=NVARCHAR},
      purchaseType = #{record.purchasetype,jdbcType=CHAR},
      supplierPartNo = #{record.supplierpartno,jdbcType=NVARCHAR},
      importFobPriceOriginal = #{record.importfobpriceoriginal,jdbcType=DECIMAL},
      importCurrencyId = #{record.importcurrencyid,jdbcType=NVARCHAR},
      serverremark = #{record.serverremark,jdbcType=NVARCHAR},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      corderNO = #{record.corderno,jdbcType=VARCHAR},
      inventoryPropertyId = #{record.inventorypropertyid,jdbcType=BIGINT},
      replyOrderNo = #{record.replyorderno,jdbcType=VARCHAR},
      dlvModDate = #{record.dlvmoddate,jdbcType=DATE},
      qtyReceive = #{record.qtyreceive,jdbcType=INTEGER},
      finishDate = #{record.finishdate,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR},
      information = #{record.information,jdbcType=NVARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      sendVersion = #{record.sendversion,jdbcType=VARCHAR},
      deleteReason = #{record.deletereason,jdbcType=NVARCHAR},
      vipCode = #{record.vipcode,jdbcType=VARCHAR},
      src_delivery_time = #{record.srcDeliveryTime,jdbcType=VARCHAR},
      dlvmoddate_str = #{record.dlvmoddateStr,jdbcType=VARCHAR},
      supplier_assign_type = #{record.supplierAssignType,jdbcType=VARCHAR},
      end_user = #{record.endUser,jdbcType=VARCHAR},
      prepareOrderNo = #{record.prepareorderno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>