<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.RcvdetailCopyMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.RcvdetailCopy">
    <id column="rorder_no" jdbcType="VARCHAR" property="rorderNo" />
    <id column="rorder_item" jdbcType="INTEGER" property="rorderItem" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="rorder_fno" jdbcType="VARCHAR" property="rorderFno" />
    <result column="model_no" jdbcType="VARCHAR" property="modelNo" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="price_enduser" jdbcType="DECIMAL" property="priceEnduser" />
    <result column="eprice" jdbcType="DECIMAL" property="eprice" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="ntax_pice" jdbcType="DECIMAL" property="ntaxPice" />
    <result column="ntax_amount" jdbcType="DECIMAL" property="ntaxAmount" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="dlv_date" jdbcType="TIMESTAMP" property="dlvDate" />
    <result column="cdlv_date" jdbcType="TIMESTAMP" property="cdlvDate" />
    <result column="wms_dlv_date" jdbcType="DATE" property="wmsDlvDate" />
    <result column="spec_offer_no" jdbcType="VARCHAR" property="specOfferNo" />
    <result column="source_type" jdbcType="CHAR" property="sourceType" />
    <result column="cproduct_no" jdbcType="NVARCHAR" property="cproductNo" />
    <result column="spec_mark" jdbcType="CHAR" property="specMark" />
    <result column="remark" jdbcType="NVARCHAR" property="remark" />
    <result column="product_name" jdbcType="NVARCHAR" property="productName" />
    <result column="opponent" jdbcType="VARCHAR" property="opponent" />
    <result column="ppl_no" jdbcType="VARCHAR" property="pplNo" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="group_customer_no" jdbcType="VARCHAR" property="groupCustomerNo" />
    <result column="shikomi_no" jdbcType="VARCHAR" property="shikomiNo" />
    <result column="sales_info_no" jdbcType="VARCHAR" property="salesInfoNo" />
    <result column="pre_sales_order_no" jdbcType="VARCHAR" property="preSalesOrderNo" />
    <result column="corder_no" jdbcType="NVARCHAR" property="corderNo" />
    <result column="custom_code" jdbcType="VARCHAR" property="customCode" />
    <result column="order_type" jdbcType="SMALLINT" property="orderType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="stock_type" jdbcType="VARCHAR" property="stockType" />
    <result column="inventory_type_code" jdbcType="VARCHAR" property="inventoryTypeCode" />
    <result column="prod_flag" jdbcType="CHAR" property="prodFlag" />
    <result column="allot_time" jdbcType="TIMESTAMP" property="allotTime" />
    <result column="ready_time" jdbcType="TIMESTAMP" property="readyTime" />
    <result column="exp_time" jdbcType="TIMESTAMP" property="expTime" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
    <result column="ready_qty" jdbcType="INTEGER" property="readyQty" />
    <result column="exp_qty" jdbcType="INTEGER" property="expQty" />
    <result column="returned_qty" jdbcType="INTEGER" property="returnedQty" />
    <result column="address_no" jdbcType="VARCHAR" property="addressNo" />
    <result column="process_date" jdbcType="TIMESTAMP" property="processDate" />
    <result column="borrow_no" jdbcType="VARCHAR" property="borrowNo" />
    <result column="po_qty" jdbcType="INTEGER" property="poQty" />
    <result column="exp_msg" jdbcType="VARCHAR" property="expMsg" />
    <result column="exp_dlv_type" jdbcType="INTEGER" property="expDlvType" />
    <result column="exp_link_no" jdbcType="VARCHAR" property="expLinkNo" />
    <result column="invoiceGroupKey" jdbcType="NVARCHAR" property="invoicegroupkey" />
    <result column="invoice_qty" jdbcType="INTEGER" property="invoiceQty" />
    <result column="invoice_time" jdbcType="TIMESTAMP" property="invoiceTime" />
    <result column="carrierId" jdbcType="VARCHAR" property="carrierid" />
    <result column="expressNo" jdbcType="VARCHAR" property="expressno" />
    <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="price_user" jdbcType="DECIMAL" property="priceUser" />
    <result column="intercept" jdbcType="BIT" property="intercept" />
    <result column="intercept_time" jdbcType="TIMESTAMP" property="interceptTime" />
    <result column="industryId" jdbcType="VARCHAR" property="industryid" />
    <result column="customerType" jdbcType="VARCHAR" property="customertype" />
    <result column="expected_delivery_time" jdbcType="TIMESTAMP" property="expectedDeliveryTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rorder_no, rorder_item, id, rorder_fno, model_no, quantity, price, price_enduser, 
    eprice, tax_rate, ntax_pice, ntax_amount, tax_amount, amount, discount, dlv_date, 
    cdlv_date, wms_dlv_date, spec_offer_no, source_type, cproduct_no, spec_mark, remark, 
    product_name, opponent, ppl_no, project_no, group_customer_no, shikomi_no, sales_info_no, 
    pre_sales_order_no, corder_no, custom_code, order_type, status, delete_status, stock_code, 
    stock_type, inventory_type_code, prod_flag, allot_time, ready_time, exp_time, ship_time, 
    ready_qty, exp_qty, returned_qty, address_no, process_date, borrow_no, po_qty, exp_msg, 
    exp_dlv_type, exp_link_no, invoiceGroupKey, invoice_qty, invoice_time, carrierId, 
    expressNo, handover_time, version, create_time, update_time, update_user, create_user, 
    price_user, intercept, intercept_time, industryId, customerType, expected_delivery_time
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.RcvdetailCopyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.rcvdetail_copy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.sales.ops.db.entity.RcvdetailCopyKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.rcvdetail_copy
    where rorder_no = #{rorderNo,jdbcType=VARCHAR}
      and rorder_item = #{rorderItem,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sales.ops.db.entity.RcvdetailCopyKey">
    delete from dbo.rcvdetail_copy
    where rorder_no = #{rorderNo,jdbcType=VARCHAR}
      and rorder_item = #{rorderItem,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.RcvdetailCopyExample">
    delete from dbo.rcvdetail_copy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.RcvdetailCopy">
    insert into dbo.rcvdetail_copy (rorder_no, rorder_item, id, 
      rorder_fno, model_no, quantity, 
      price, price_enduser, eprice, 
      tax_rate, ntax_pice, ntax_amount, 
      tax_amount, amount, discount, 
      dlv_date, cdlv_date, wms_dlv_date, 
      spec_offer_no, source_type, cproduct_no, 
      spec_mark, remark, product_name, 
      opponent, ppl_no, project_no, 
      group_customer_no, shikomi_no, sales_info_no, 
      pre_sales_order_no, corder_no, custom_code, 
      order_type, status, delete_status, 
      stock_code, stock_type, inventory_type_code, 
      prod_flag, allot_time, ready_time, 
      exp_time, ship_time, ready_qty, 
      exp_qty, returned_qty, address_no, 
      process_date, borrow_no, po_qty, 
      exp_msg, exp_dlv_type, exp_link_no, 
      invoiceGroupKey, invoice_qty, invoice_time, 
      carrierId, expressNo, handover_time, 
      version, create_time, update_time, 
      update_user, create_user, price_user, 
      intercept, intercept_time, industryId, 
      customerType, expected_delivery_time)
    values (#{rorderNo,jdbcType=VARCHAR}, #{rorderItem,jdbcType=INTEGER}, #{id,jdbcType=BIGINT}, 
      #{rorderFno,jdbcType=VARCHAR}, #{modelNo,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{priceEnduser,jdbcType=DECIMAL}, #{eprice,jdbcType=DECIMAL}, 
      #{taxRate,jdbcType=DECIMAL}, #{ntaxPice,jdbcType=DECIMAL}, #{ntaxAmount,jdbcType=DECIMAL}, 
      #{taxAmount,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, 
      #{dlvDate,jdbcType=TIMESTAMP}, #{cdlvDate,jdbcType=TIMESTAMP}, #{wmsDlvDate,jdbcType=DATE}, 
      #{specOfferNo,jdbcType=VARCHAR}, #{sourceType,jdbcType=CHAR}, #{cproductNo,jdbcType=NVARCHAR}, 
      #{specMark,jdbcType=CHAR}, #{remark,jdbcType=NVARCHAR}, #{productName,jdbcType=NVARCHAR}, 
      #{opponent,jdbcType=VARCHAR}, #{pplNo,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, 
      #{groupCustomerNo,jdbcType=VARCHAR}, #{shikomiNo,jdbcType=VARCHAR}, #{salesInfoNo,jdbcType=VARCHAR}, 
      #{preSalesOrderNo,jdbcType=VARCHAR}, #{corderNo,jdbcType=NVARCHAR}, #{customCode,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{deleteStatus,jdbcType=SMALLINT}, 
      #{stockCode,jdbcType=VARCHAR}, #{stockType,jdbcType=VARCHAR}, #{inventoryTypeCode,jdbcType=VARCHAR}, 
      #{prodFlag,jdbcType=CHAR}, #{allotTime,jdbcType=TIMESTAMP}, #{readyTime,jdbcType=TIMESTAMP}, 
      #{expTime,jdbcType=TIMESTAMP}, #{shipTime,jdbcType=TIMESTAMP}, #{readyQty,jdbcType=INTEGER}, 
      #{expQty,jdbcType=INTEGER}, #{returnedQty,jdbcType=INTEGER}, #{addressNo,jdbcType=VARCHAR}, 
      #{processDate,jdbcType=TIMESTAMP}, #{borrowNo,jdbcType=VARCHAR}, #{poQty,jdbcType=INTEGER}, 
      #{expMsg,jdbcType=VARCHAR}, #{expDlvType,jdbcType=INTEGER}, #{expLinkNo,jdbcType=VARCHAR}, 
      #{invoicegroupkey,jdbcType=NVARCHAR}, #{invoiceQty,jdbcType=INTEGER}, #{invoiceTime,jdbcType=TIMESTAMP}, 
      #{carrierid,jdbcType=VARCHAR}, #{expressno,jdbcType=VARCHAR}, #{handoverTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{priceUser,jdbcType=DECIMAL}, 
      #{intercept,jdbcType=BIT}, #{interceptTime,jdbcType=TIMESTAMP}, #{industryid,jdbcType=VARCHAR}, 
      #{customertype,jdbcType=VARCHAR}, #{expectedDeliveryTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.RcvdetailCopy">
    insert into dbo.rcvdetail_copy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rorderNo != null">
        rorder_no,
      </if>
      <if test="rorderItem != null">
        rorder_item,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="rorderFno != null">
        rorder_fno,
      </if>
      <if test="modelNo != null">
        model_no,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="priceEnduser != null">
        price_enduser,
      </if>
      <if test="eprice != null">
        eprice,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="ntaxPice != null">
        ntax_pice,
      </if>
      <if test="ntaxAmount != null">
        ntax_amount,
      </if>
      <if test="taxAmount != null">
        tax_amount,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="dlvDate != null">
        dlv_date,
      </if>
      <if test="cdlvDate != null">
        cdlv_date,
      </if>
      <if test="wmsDlvDate != null">
        wms_dlv_date,
      </if>
      <if test="specOfferNo != null">
        spec_offer_no,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="cproductNo != null">
        cproduct_no,
      </if>
      <if test="specMark != null">
        spec_mark,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="opponent != null">
        opponent,
      </if>
      <if test="pplNo != null">
        ppl_no,
      </if>
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="groupCustomerNo != null">
        group_customer_no,
      </if>
      <if test="shikomiNo != null">
        shikomi_no,
      </if>
      <if test="salesInfoNo != null">
        sales_info_no,
      </if>
      <if test="preSalesOrderNo != null">
        pre_sales_order_no,
      </if>
      <if test="corderNo != null">
        corder_no,
      </if>
      <if test="customCode != null">
        custom_code,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="stockType != null">
        stock_type,
      </if>
      <if test="inventoryTypeCode != null">
        inventory_type_code,
      </if>
      <if test="prodFlag != null">
        prod_flag,
      </if>
      <if test="allotTime != null">
        allot_time,
      </if>
      <if test="readyTime != null">
        ready_time,
      </if>
      <if test="expTime != null">
        exp_time,
      </if>
      <if test="shipTime != null">
        ship_time,
      </if>
      <if test="readyQty != null">
        ready_qty,
      </if>
      <if test="expQty != null">
        exp_qty,
      </if>
      <if test="returnedQty != null">
        returned_qty,
      </if>
      <if test="addressNo != null">
        address_no,
      </if>
      <if test="processDate != null">
        process_date,
      </if>
      <if test="borrowNo != null">
        borrow_no,
      </if>
      <if test="poQty != null">
        po_qty,
      </if>
      <if test="expMsg != null">
        exp_msg,
      </if>
      <if test="expDlvType != null">
        exp_dlv_type,
      </if>
      <if test="expLinkNo != null">
        exp_link_no,
      </if>
      <if test="invoicegroupkey != null">
        invoiceGroupKey,
      </if>
      <if test="invoiceQty != null">
        invoice_qty,
      </if>
      <if test="invoiceTime != null">
        invoice_time,
      </if>
      <if test="carrierid != null">
        carrierId,
      </if>
      <if test="expressno != null">
        expressNo,
      </if>
      <if test="handoverTime != null">
        handover_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="priceUser != null">
        price_user,
      </if>
      <if test="intercept != null">
        intercept,
      </if>
      <if test="interceptTime != null">
        intercept_time,
      </if>
      <if test="industryid != null">
        industryId,
      </if>
      <if test="customertype != null">
        customerType,
      </if>
      <if test="expectedDeliveryTime != null">
        expected_delivery_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rorderNo != null">
        #{rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="rorderItem != null">
        #{rorderItem,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rorderFno != null">
        #{rorderFno,jdbcType=VARCHAR},
      </if>
      <if test="modelNo != null">
        #{modelNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceEnduser != null">
        #{priceEnduser,jdbcType=DECIMAL},
      </if>
      <if test="eprice != null">
        #{eprice,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="ntaxPice != null">
        #{ntaxPice,jdbcType=DECIMAL},
      </if>
      <if test="ntaxAmount != null">
        #{ntaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="dlvDate != null">
        #{dlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cdlvDate != null">
        #{cdlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wmsDlvDate != null">
        #{wmsDlvDate,jdbcType=DATE},
      </if>
      <if test="specOfferNo != null">
        #{specOfferNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=CHAR},
      </if>
      <if test="cproductNo != null">
        #{cproductNo,jdbcType=NVARCHAR},
      </if>
      <if test="specMark != null">
        #{specMark,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=NVARCHAR},
      </if>
      <if test="opponent != null">
        #{opponent,jdbcType=VARCHAR},
      </if>
      <if test="pplNo != null">
        #{pplNo,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="groupCustomerNo != null">
        #{groupCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="shikomiNo != null">
        #{shikomiNo,jdbcType=VARCHAR},
      </if>
      <if test="salesInfoNo != null">
        #{salesInfoNo,jdbcType=VARCHAR},
      </if>
      <if test="preSalesOrderNo != null">
        #{preSalesOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="corderNo != null">
        #{corderNo,jdbcType=NVARCHAR},
      </if>
      <if test="customCode != null">
        #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=SMALLINT},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockType != null">
        #{stockType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryTypeCode != null">
        #{inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="prodFlag != null">
        #{prodFlag,jdbcType=CHAR},
      </if>
      <if test="allotTime != null">
        #{allotTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readyTime != null">
        #{readyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expTime != null">
        #{expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shipTime != null">
        #{shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readyQty != null">
        #{readyQty,jdbcType=INTEGER},
      </if>
      <if test="expQty != null">
        #{expQty,jdbcType=INTEGER},
      </if>
      <if test="returnedQty != null">
        #{returnedQty,jdbcType=INTEGER},
      </if>
      <if test="addressNo != null">
        #{addressNo,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        #{processDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowNo != null">
        #{borrowNo,jdbcType=VARCHAR},
      </if>
      <if test="poQty != null">
        #{poQty,jdbcType=INTEGER},
      </if>
      <if test="expMsg != null">
        #{expMsg,jdbcType=VARCHAR},
      </if>
      <if test="expDlvType != null">
        #{expDlvType,jdbcType=INTEGER},
      </if>
      <if test="expLinkNo != null">
        #{expLinkNo,jdbcType=VARCHAR},
      </if>
      <if test="invoicegroupkey != null">
        #{invoicegroupkey,jdbcType=NVARCHAR},
      </if>
      <if test="invoiceQty != null">
        #{invoiceQty,jdbcType=INTEGER},
      </if>
      <if test="invoiceTime != null">
        #{invoiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierid != null">
        #{carrierid,jdbcType=VARCHAR},
      </if>
      <if test="expressno != null">
        #{expressno,jdbcType=VARCHAR},
      </if>
      <if test="handoverTime != null">
        #{handoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="priceUser != null">
        #{priceUser,jdbcType=DECIMAL},
      </if>
      <if test="intercept != null">
        #{intercept,jdbcType=BIT},
      </if>
      <if test="interceptTime != null">
        #{interceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="industryid != null">
        #{industryid,jdbcType=VARCHAR},
      </if>
      <if test="customertype != null">
        #{customertype,jdbcType=VARCHAR},
      </if>
      <if test="expectedDeliveryTime != null">
        #{expectedDeliveryTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.RcvdetailCopyExample" resultType="java.lang.Long">
    select count(*) from dbo.rcvdetail_copy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.rcvdetail_copy
    <set>
      <if test="record.rorderNo != null">
        rorder_no = #{record.rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.rorderItem != null">
        rorder_item = #{record.rorderItem,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.rorderFno != null">
        rorder_fno = #{record.rorderFno,jdbcType=VARCHAR},
      </if>
      <if test="record.modelNo != null">
        model_no = #{record.modelNo,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.priceEnduser != null">
        price_enduser = #{record.priceEnduser,jdbcType=DECIMAL},
      </if>
      <if test="record.eprice != null">
        eprice = #{record.eprice,jdbcType=DECIMAL},
      </if>
      <if test="record.taxRate != null">
        tax_rate = #{record.taxRate,jdbcType=DECIMAL},
      </if>
      <if test="record.ntaxPice != null">
        ntax_pice = #{record.ntaxPice,jdbcType=DECIMAL},
      </if>
      <if test="record.ntaxAmount != null">
        ntax_amount = #{record.ntaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.taxAmount != null">
        tax_amount = #{record.taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.dlvDate != null">
        dlv_date = #{record.dlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cdlvDate != null">
        cdlv_date = #{record.cdlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wmsDlvDate != null">
        wms_dlv_date = #{record.wmsDlvDate,jdbcType=DATE},
      </if>
      <if test="record.specOfferNo != null">
        spec_offer_no = #{record.specOfferNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=CHAR},
      </if>
      <if test="record.cproductNo != null">
        cproduct_no = #{record.cproductNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.specMark != null">
        spec_mark = #{record.specMark,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=NVARCHAR},
      </if>
      <if test="record.opponent != null">
        opponent = #{record.opponent,jdbcType=VARCHAR},
      </if>
      <if test="record.pplNo != null">
        ppl_no = #{record.pplNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectNo != null">
        project_no = #{record.projectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCustomerNo != null">
        group_customer_no = #{record.groupCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.shikomiNo != null">
        shikomi_no = #{record.shikomiNo,jdbcType=VARCHAR},
      </if>
      <if test="record.salesInfoNo != null">
        sales_info_no = #{record.salesInfoNo,jdbcType=VARCHAR},
      </if>
      <if test="record.preSalesOrderNo != null">
        pre_sales_order_no = #{record.preSalesOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.corderNo != null">
        corder_no = #{record.corderNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.customCode != null">
        custom_code = #{record.customCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null">
        order_type = #{record.orderType,jdbcType=SMALLINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.deleteStatus != null">
        delete_status = #{record.deleteStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.stockCode != null">
        stock_code = #{record.stockCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stockType != null">
        stock_type = #{record.stockType,jdbcType=VARCHAR},
      </if>
      <if test="record.inventoryTypeCode != null">
        inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.prodFlag != null">
        prod_flag = #{record.prodFlag,jdbcType=CHAR},
      </if>
      <if test="record.allotTime != null">
        allot_time = #{record.allotTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readyTime != null">
        ready_time = #{record.readyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expTime != null">
        exp_time = #{record.expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shipTime != null">
        ship_time = #{record.shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readyQty != null">
        ready_qty = #{record.readyQty,jdbcType=INTEGER},
      </if>
      <if test="record.expQty != null">
        exp_qty = #{record.expQty,jdbcType=INTEGER},
      </if>
      <if test="record.returnedQty != null">
        returned_qty = #{record.returnedQty,jdbcType=INTEGER},
      </if>
      <if test="record.addressNo != null">
        address_no = #{record.addressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.processDate != null">
        process_date = #{record.processDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.borrowNo != null">
        borrow_no = #{record.borrowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.poQty != null">
        po_qty = #{record.poQty,jdbcType=INTEGER},
      </if>
      <if test="record.expMsg != null">
        exp_msg = #{record.expMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.expDlvType != null">
        exp_dlv_type = #{record.expDlvType,jdbcType=INTEGER},
      </if>
      <if test="record.expLinkNo != null">
        exp_link_no = #{record.expLinkNo,jdbcType=VARCHAR},
      </if>
      <if test="record.invoicegroupkey != null">
        invoiceGroupKey = #{record.invoicegroupkey,jdbcType=NVARCHAR},
      </if>
      <if test="record.invoiceQty != null">
        invoice_qty = #{record.invoiceQty,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceTime != null">
        invoice_time = #{record.invoiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.carrierid != null">
        carrierId = #{record.carrierid,jdbcType=VARCHAR},
      </if>
      <if test="record.expressno != null">
        expressNo = #{record.expressno,jdbcType=VARCHAR},
      </if>
      <if test="record.handoverTime != null">
        handover_time = #{record.handoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.priceUser != null">
        price_user = #{record.priceUser,jdbcType=DECIMAL},
      </if>
      <if test="record.intercept != null">
        intercept = #{record.intercept,jdbcType=BIT},
      </if>
      <if test="record.interceptTime != null">
        intercept_time = #{record.interceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.industryid != null">
        industryId = #{record.industryid,jdbcType=VARCHAR},
      </if>
      <if test="record.customertype != null">
        customerType = #{record.customertype,jdbcType=VARCHAR},
      </if>
      <if test="record.expectedDeliveryTime != null">
        expected_delivery_time = #{record.expectedDeliveryTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.rcvdetail_copy
    set rorder_no = #{record.rorderNo,jdbcType=VARCHAR},
      rorder_item = #{record.rorderItem,jdbcType=INTEGER},
      id = #{record.id,jdbcType=BIGINT},
      rorder_fno = #{record.rorderFno,jdbcType=VARCHAR},
      model_no = #{record.modelNo,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      price_enduser = #{record.priceEnduser,jdbcType=DECIMAL},
      eprice = #{record.eprice,jdbcType=DECIMAL},
      tax_rate = #{record.taxRate,jdbcType=DECIMAL},
      ntax_pice = #{record.ntaxPice,jdbcType=DECIMAL},
      ntax_amount = #{record.ntaxAmount,jdbcType=DECIMAL},
      tax_amount = #{record.taxAmount,jdbcType=DECIMAL},
      amount = #{record.amount,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      dlv_date = #{record.dlvDate,jdbcType=TIMESTAMP},
      cdlv_date = #{record.cdlvDate,jdbcType=TIMESTAMP},
      wms_dlv_date = #{record.wmsDlvDate,jdbcType=DATE},
      spec_offer_no = #{record.specOfferNo,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=CHAR},
      cproduct_no = #{record.cproductNo,jdbcType=NVARCHAR},
      spec_mark = #{record.specMark,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=NVARCHAR},
      product_name = #{record.productName,jdbcType=NVARCHAR},
      opponent = #{record.opponent,jdbcType=VARCHAR},
      ppl_no = #{record.pplNo,jdbcType=VARCHAR},
      project_no = #{record.projectNo,jdbcType=VARCHAR},
      group_customer_no = #{record.groupCustomerNo,jdbcType=VARCHAR},
      shikomi_no = #{record.shikomiNo,jdbcType=VARCHAR},
      sales_info_no = #{record.salesInfoNo,jdbcType=VARCHAR},
      pre_sales_order_no = #{record.preSalesOrderNo,jdbcType=VARCHAR},
      corder_no = #{record.corderNo,jdbcType=NVARCHAR},
      custom_code = #{record.customCode,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=SMALLINT},
      delete_status = #{record.deleteStatus,jdbcType=SMALLINT},
      stock_code = #{record.stockCode,jdbcType=VARCHAR},
      stock_type = #{record.stockType,jdbcType=VARCHAR},
      inventory_type_code = #{record.inventoryTypeCode,jdbcType=VARCHAR},
      prod_flag = #{record.prodFlag,jdbcType=CHAR},
      allot_time = #{record.allotTime,jdbcType=TIMESTAMP},
      ready_time = #{record.readyTime,jdbcType=TIMESTAMP},
      exp_time = #{record.expTime,jdbcType=TIMESTAMP},
      ship_time = #{record.shipTime,jdbcType=TIMESTAMP},
      ready_qty = #{record.readyQty,jdbcType=INTEGER},
      exp_qty = #{record.expQty,jdbcType=INTEGER},
      returned_qty = #{record.returnedQty,jdbcType=INTEGER},
      address_no = #{record.addressNo,jdbcType=VARCHAR},
      process_date = #{record.processDate,jdbcType=TIMESTAMP},
      borrow_no = #{record.borrowNo,jdbcType=VARCHAR},
      po_qty = #{record.poQty,jdbcType=INTEGER},
      exp_msg = #{record.expMsg,jdbcType=VARCHAR},
      exp_dlv_type = #{record.expDlvType,jdbcType=INTEGER},
      exp_link_no = #{record.expLinkNo,jdbcType=VARCHAR},
      invoiceGroupKey = #{record.invoicegroupkey,jdbcType=NVARCHAR},
      invoice_qty = #{record.invoiceQty,jdbcType=INTEGER},
      invoice_time = #{record.invoiceTime,jdbcType=TIMESTAMP},
      carrierId = #{record.carrierid,jdbcType=VARCHAR},
      expressNo = #{record.expressno,jdbcType=VARCHAR},
      handover_time = #{record.handoverTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      price_user = #{record.priceUser,jdbcType=DECIMAL},
      intercept = #{record.intercept,jdbcType=BIT},
      intercept_time = #{record.interceptTime,jdbcType=TIMESTAMP},
      industryId = #{record.industryid,jdbcType=VARCHAR},
      customerType = #{record.customertype,jdbcType=VARCHAR},
      expected_delivery_time = #{record.expectedDeliveryTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.RcvdetailCopy">
    update dbo.rcvdetail_copy
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="rorderFno != null">
        rorder_fno = #{rorderFno,jdbcType=VARCHAR},
      </if>
      <if test="modelNo != null">
        model_no = #{modelNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceEnduser != null">
        price_enduser = #{priceEnduser,jdbcType=DECIMAL},
      </if>
      <if test="eprice != null">
        eprice = #{eprice,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="ntaxPice != null">
        ntax_pice = #{ntaxPice,jdbcType=DECIMAL},
      </if>
      <if test="ntaxAmount != null">
        ntax_amount = #{ntaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="dlvDate != null">
        dlv_date = #{dlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cdlvDate != null">
        cdlv_date = #{cdlvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wmsDlvDate != null">
        wms_dlv_date = #{wmsDlvDate,jdbcType=DATE},
      </if>
      <if test="specOfferNo != null">
        spec_offer_no = #{specOfferNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=CHAR},
      </if>
      <if test="cproductNo != null">
        cproduct_no = #{cproductNo,jdbcType=NVARCHAR},
      </if>
      <if test="specMark != null">
        spec_mark = #{specMark,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=NVARCHAR},
      </if>
      <if test="opponent != null">
        opponent = #{opponent,jdbcType=VARCHAR},
      </if>
      <if test="pplNo != null">
        ppl_no = #{pplNo,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="groupCustomerNo != null">
        group_customer_no = #{groupCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="shikomiNo != null">
        shikomi_no = #{shikomiNo,jdbcType=VARCHAR},
      </if>
      <if test="salesInfoNo != null">
        sales_info_no = #{salesInfoNo,jdbcType=VARCHAR},
      </if>
      <if test="preSalesOrderNo != null">
        pre_sales_order_no = #{preSalesOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="corderNo != null">
        corder_no = #{corderNo,jdbcType=NVARCHAR},
      </if>
      <if test="customCode != null">
        custom_code = #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=SMALLINT},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockType != null">
        stock_type = #{stockType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryTypeCode != null">
        inventory_type_code = #{inventoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="prodFlag != null">
        prod_flag = #{prodFlag,jdbcType=CHAR},
      </if>
      <if test="allotTime != null">
        allot_time = #{allotTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readyTime != null">
        ready_time = #{readyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expTime != null">
        exp_time = #{expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shipTime != null">
        ship_time = #{shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readyQty != null">
        ready_qty = #{readyQty,jdbcType=INTEGER},
      </if>
      <if test="expQty != null">
        exp_qty = #{expQty,jdbcType=INTEGER},
      </if>
      <if test="returnedQty != null">
        returned_qty = #{returnedQty,jdbcType=INTEGER},
      </if>
      <if test="addressNo != null">
        address_no = #{addressNo,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        process_date = #{processDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowNo != null">
        borrow_no = #{borrowNo,jdbcType=VARCHAR},
      </if>
      <if test="poQty != null">
        po_qty = #{poQty,jdbcType=INTEGER},
      </if>
      <if test="expMsg != null">
        exp_msg = #{expMsg,jdbcType=VARCHAR},
      </if>
      <if test="expDlvType != null">
        exp_dlv_type = #{expDlvType,jdbcType=INTEGER},
      </if>
      <if test="expLinkNo != null">
        exp_link_no = #{expLinkNo,jdbcType=VARCHAR},
      </if>
      <if test="invoicegroupkey != null">
        invoiceGroupKey = #{invoicegroupkey,jdbcType=NVARCHAR},
      </if>
      <if test="invoiceQty != null">
        invoice_qty = #{invoiceQty,jdbcType=INTEGER},
      </if>
      <if test="invoiceTime != null">
        invoice_time = #{invoiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierid != null">
        carrierId = #{carrierid,jdbcType=VARCHAR},
      </if>
      <if test="expressno != null">
        expressNo = #{expressno,jdbcType=VARCHAR},
      </if>
      <if test="handoverTime != null">
        handover_time = #{handoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="priceUser != null">
        price_user = #{priceUser,jdbcType=DECIMAL},
      </if>
      <if test="intercept != null">
        intercept = #{intercept,jdbcType=BIT},
      </if>
      <if test="interceptTime != null">
        intercept_time = #{interceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="industryid != null">
        industryId = #{industryid,jdbcType=VARCHAR},
      </if>
      <if test="customertype != null">
        customerType = #{customertype,jdbcType=VARCHAR},
      </if>
      <if test="expectedDeliveryTime != null">
        expected_delivery_time = #{expectedDeliveryTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rorder_no = #{rorderNo,jdbcType=VARCHAR}
      and rorder_item = #{rorderItem,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.RcvdetailCopy">
    update dbo.rcvdetail_copy
    set id = #{id,jdbcType=BIGINT},
      rorder_fno = #{rorderFno,jdbcType=VARCHAR},
      model_no = #{modelNo,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      price_enduser = #{priceEnduser,jdbcType=DECIMAL},
      eprice = #{eprice,jdbcType=DECIMAL},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      ntax_pice = #{ntaxPice,jdbcType=DECIMAL},
      ntax_amount = #{ntaxAmount,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      dlv_date = #{dlvDate,jdbcType=TIMESTAMP},
      cdlv_date = #{cdlvDate,jdbcType=TIMESTAMP},
      wms_dlv_date = #{wmsDlvDate,jdbcType=DATE},
      spec_offer_no = #{specOfferNo,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=CHAR},
      cproduct_no = #{cproductNo,jdbcType=NVARCHAR},
      spec_mark = #{specMark,jdbcType=CHAR},
      remark = #{remark,jdbcType=NVARCHAR},
      product_name = #{productName,jdbcType=NVARCHAR},
      opponent = #{opponent,jdbcType=VARCHAR},
      ppl_no = #{pplNo,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      group_customer_no = #{groupCustomerNo,jdbcType=VARCHAR},
      shikomi_no = #{shikomiNo,jdbcType=VARCHAR},
      sales_info_no = #{salesInfoNo,jdbcType=VARCHAR},
      pre_sales_order_no = #{preSalesOrderNo,jdbcType=VARCHAR},
      corder_no = #{corderNo,jdbcType=NVARCHAR},
      custom_code = #{customCode,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      delete_status = #{deleteStatus,jdbcType=SMALLINT},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      stock_type = #{stockType,jdbcType=VARCHAR},
      inventory_type_code = #{inventoryTypeCode,jdbcType=VARCHAR},
      prod_flag = #{prodFlag,jdbcType=CHAR},
      allot_time = #{allotTime,jdbcType=TIMESTAMP},
      ready_time = #{readyTime,jdbcType=TIMESTAMP},
      exp_time = #{expTime,jdbcType=TIMESTAMP},
      ship_time = #{shipTime,jdbcType=TIMESTAMP},
      ready_qty = #{readyQty,jdbcType=INTEGER},
      exp_qty = #{expQty,jdbcType=INTEGER},
      returned_qty = #{returnedQty,jdbcType=INTEGER},
      address_no = #{addressNo,jdbcType=VARCHAR},
      process_date = #{processDate,jdbcType=TIMESTAMP},
      borrow_no = #{borrowNo,jdbcType=VARCHAR},
      po_qty = #{poQty,jdbcType=INTEGER},
      exp_msg = #{expMsg,jdbcType=VARCHAR},
      exp_dlv_type = #{expDlvType,jdbcType=INTEGER},
      exp_link_no = #{expLinkNo,jdbcType=VARCHAR},
      invoiceGroupKey = #{invoicegroupkey,jdbcType=NVARCHAR},
      invoice_qty = #{invoiceQty,jdbcType=INTEGER},
      invoice_time = #{invoiceTime,jdbcType=TIMESTAMP},
      carrierId = #{carrierid,jdbcType=VARCHAR},
      expressNo = #{expressno,jdbcType=VARCHAR},
      handover_time = #{handoverTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      price_user = #{priceUser,jdbcType=DECIMAL},
      intercept = #{intercept,jdbcType=BIT},
      intercept_time = #{interceptTime,jdbcType=TIMESTAMP},
      industryId = #{industryid,jdbcType=VARCHAR},
      customerType = #{customertype,jdbcType=VARCHAR},
      expected_delivery_time = #{expectedDeliveryTime,jdbcType=TIMESTAMP}
    where rorder_no = #{rorderNo,jdbcType=VARCHAR}
      and rorder_item = #{rorderItem,jdbcType=INTEGER}
  </update>
</mapper>