<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.RcvStatusConfigMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.RcvStatusConfig">
    <result column="from_status" jdbcType="TINYINT" property="fromStatus" />
    <result column="target_status" jdbcType="TINYINT" property="targetStatus" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="from_desc" jdbcType="VARCHAR" property="fromDesc" />
    <result column="target_desc" jdbcType="VARCHAR" property="targetDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    from_status, target_status, enable, from_desc, target_desc
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.RcvStatusConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.rcv_status_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.RcvStatusConfigExample">
    delete from dbo.rcv_status_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.RcvStatusConfig">
    insert into dbo.rcv_status_config (from_status, target_status, enable, 
      from_desc, target_desc)
    values (#{fromStatus,jdbcType=TINYINT}, #{targetStatus,jdbcType=TINYINT}, #{enable,jdbcType=BIT}, 
      #{fromDesc,jdbcType=VARCHAR}, #{targetDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.RcvStatusConfig">
    insert into dbo.rcv_status_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fromStatus != null">
        from_status,
      </if>
      <if test="targetStatus != null">
        target_status,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="fromDesc != null">
        from_desc,
      </if>
      <if test="targetDesc != null">
        target_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fromStatus != null">
        #{fromStatus,jdbcType=TINYINT},
      </if>
      <if test="targetStatus != null">
        #{targetStatus,jdbcType=TINYINT},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
      <if test="fromDesc != null">
        #{fromDesc,jdbcType=VARCHAR},
      </if>
      <if test="targetDesc != null">
        #{targetDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.RcvStatusConfigExample" resultType="java.lang.Long">
    select count(*) from dbo.rcv_status_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.rcv_status_config
    <set>
      <if test="record.fromStatus != null">
        from_status = #{record.fromStatus,jdbcType=TINYINT},
      </if>
      <if test="record.targetStatus != null">
        target_status = #{record.targetStatus,jdbcType=TINYINT},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=BIT},
      </if>
      <if test="record.fromDesc != null">
        from_desc = #{record.fromDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.targetDesc != null">
        target_desc = #{record.targetDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.rcv_status_config
    set from_status = #{record.fromStatus,jdbcType=TINYINT},
      target_status = #{record.targetStatus,jdbcType=TINYINT},
      enable = #{record.enable,jdbcType=BIT},
      from_desc = #{record.fromDesc,jdbcType=VARCHAR},
      target_desc = #{record.targetDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>