<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.SalesinfoMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.Salesinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_warehouse_code" jdbcType="VARCHAR" property="sWarehouseCode" />
    <result column="modelno" jdbcType="VARCHAR" property="modelno" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="salsesInfoNo" jdbcType="VARCHAR" property="salsesinfono" />
    <result column="dept_no" jdbcType="VARCHAR" property="deptNo" />
    <result column="expdate" jdbcType="DATE" property="expdate" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="statecode" jdbcType="VARCHAR" property="statecode" />
    <result column="msg" jdbcType="NVARCHAR" property="msg" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="customerNo" jdbcType="VARCHAR" property="customerno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, s_warehouse_code, modelno, quantity, salsesInfoNo, dept_no, expdate, warehouse_code, 
    statecode, msg, inserttime, customerNo
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.SalesinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.salesinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.salesinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dbo.salesinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.SalesinfoExample">
    delete from dbo.salesinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.Salesinfo">
    insert into dbo.salesinfo (id, s_warehouse_code, modelno, 
      quantity, salsesInfoNo, dept_no, 
      expdate, warehouse_code, statecode, 
      msg, inserttime, customerNo
      )
    values (#{id,jdbcType=INTEGER}, #{sWarehouseCode,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{salsesinfono,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, 
      #{expdate,jdbcType=DATE}, #{warehouseCode,jdbcType=VARCHAR}, #{statecode,jdbcType=VARCHAR}, 
      #{msg,jdbcType=NVARCHAR}, #{inserttime,jdbcType=TIMESTAMP}, #{customerno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.Salesinfo">
    insert into dbo.salesinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sWarehouseCode != null">
        s_warehouse_code,
      </if>
      <if test="modelno != null">
        modelno,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="salsesinfono != null">
        salsesInfoNo,
      </if>
      <if test="deptNo != null">
        dept_no,
      </if>
      <if test="expdate != null">
        expdate,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="statecode != null">
        statecode,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
      <if test="customerno != null">
        customerNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sWarehouseCode != null">
        #{sWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="salsesinfono != null">
        #{salsesinfono,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="expdate != null">
        #{expdate,jdbcType=DATE},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="statecode != null">
        #{statecode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=NVARCHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerno != null">
        #{customerno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.SalesinfoExample" resultType="java.lang.Long">
    select count(*) from dbo.salesinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.salesinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sWarehouseCode != null">
        s_warehouse_code = #{record.sWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        modelno = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.salsesinfono != null">
        salsesInfoNo = #{record.salsesinfono,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNo != null">
        dept_no = #{record.deptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.expdate != null">
        expdate = #{record.expdate,jdbcType=DATE},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.statecode != null">
        statecode = #{record.statecode,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null">
        msg = #{record.msg,jdbcType=NVARCHAR},
      </if>
      <if test="record.inserttime != null">
        inserttime = #{record.inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.customerno != null">
        customerNo = #{record.customerno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.salesinfo
    set id = #{record.id,jdbcType=INTEGER},
      s_warehouse_code = #{record.sWarehouseCode,jdbcType=VARCHAR},
      modelno = #{record.modelno,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      salsesInfoNo = #{record.salsesinfono,jdbcType=VARCHAR},
      dept_no = #{record.deptNo,jdbcType=VARCHAR},
      expdate = #{record.expdate,jdbcType=DATE},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      statecode = #{record.statecode,jdbcType=VARCHAR},
      msg = #{record.msg,jdbcType=NVARCHAR},
      inserttime = #{record.inserttime,jdbcType=TIMESTAMP},
      customerNo = #{record.customerno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.Salesinfo">
    update dbo.salesinfo
    <set>
      <if test="sWarehouseCode != null">
        s_warehouse_code = #{sWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        modelno = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="salsesinfono != null">
        salsesInfoNo = #{salsesinfono,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        dept_no = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="expdate != null">
        expdate = #{expdate,jdbcType=DATE},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="statecode != null">
        statecode = #{statecode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=NVARCHAR},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerno != null">
        customerNo = #{customerno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.Salesinfo">
    update dbo.salesinfo
    set s_warehouse_code = #{sWarehouseCode,jdbcType=VARCHAR},
      modelno = #{modelno,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      salsesInfoNo = #{salsesinfono,jdbcType=VARCHAR},
      dept_no = #{deptNo,jdbcType=VARCHAR},
      expdate = #{expdate,jdbcType=DATE},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      statecode = #{statecode,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=NVARCHAR},
      inserttime = #{inserttime,jdbcType=TIMESTAMP},
      customerNo = #{customerno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>