<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.ShikomiModellistMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.ShikomiModellist">
    <result column="ShikomiNo" jdbcType="NVARCHAR" property="shikomino" />
    <result column="ModelNo" jdbcType="NVARCHAR" property="modelno" />
    <result column="Updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="Username" jdbcType="NVARCHAR" property="username" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ShikomiNo, ModelNo, Updatetime, Username
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.ShikomiModellistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo._shikomi_modelList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.ShikomiModellistExample">
    delete from dbo._shikomi_modelList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.ShikomiModellist">
    insert into dbo._shikomi_modelList (ShikomiNo, ModelNo, Updatetime, 
      Username)
    values (#{shikomino,jdbcType=NVARCHAR}, #{modelno,jdbcType=NVARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{username,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.ShikomiModellist">
    insert into dbo._shikomi_modelList
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shikomino != null">
        ShikomiNo,
      </if>
      <if test="modelno != null">
        ModelNo,
      </if>
      <if test="updatetime != null">
        Updatetime,
      </if>
      <if test="username != null">
        Username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shikomino != null">
        #{shikomino,jdbcType=NVARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.ShikomiModellistExample" resultType="java.lang.Long">
    select count(*) from dbo._shikomi_modelList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo._shikomi_modelList
    <set>
      <if test="record.shikomino != null">
        ShikomiNo = #{record.shikomino,jdbcType=NVARCHAR},
      </if>
      <if test="record.modelno != null">
        ModelNo = #{record.modelno,jdbcType=NVARCHAR},
      </if>
      <if test="record.updatetime != null">
        Updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username != null">
        Username = #{record.username,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo._shikomi_modelList
    set ShikomiNo = #{record.shikomino,jdbcType=NVARCHAR},
      ModelNo = #{record.modelno,jdbcType=NVARCHAR},
      Updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      Username = #{record.username,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>