<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.TempModifyAddressOrder0831Mapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.TempModifyAddressOrder0831">
    <id column="rorder_fno" jdbcType="VARCHAR" property="rorderFno" />
    <result column="rorder_no" jdbcType="VARCHAR" property="rorderNo" />
    <result column="rorder_item" jdbcType="INTEGER" property="rorderItem" />
    <result column="handle_status" jdbcType="INTEGER" property="handleStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rorder_fno, rorder_no, rorder_item, handle_status, remark
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.temp_modify_address_order_0831
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.temp_modify_address_order_0831
    where rorder_fno = #{rorderFno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dbo.temp_modify_address_order_0831
    where rorder_fno = #{rorderFno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831Example">
    delete from dbo.temp_modify_address_order_0831
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831">
    insert into dbo.temp_modify_address_order_0831 (rorder_fno, rorder_no, rorder_item, 
      handle_status, remark)
    values (#{rorderFno,jdbcType=VARCHAR}, #{rorderNo,jdbcType=VARCHAR}, #{rorderItem,jdbcType=INTEGER}, 
      #{handleStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831">
    insert into dbo.temp_modify_address_order_0831
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rorderFno != null">
        rorder_fno,
      </if>
      <if test="rorderNo != null">
        rorder_no,
      </if>
      <if test="rorderItem != null">
        rorder_item,
      </if>
      <if test="handleStatus != null">
        handle_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rorderFno != null">
        #{rorderFno,jdbcType=VARCHAR},
      </if>
      <if test="rorderNo != null">
        #{rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="rorderItem != null">
        #{rorderItem,jdbcType=INTEGER},
      </if>
      <if test="handleStatus != null">
        #{handleStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831Example" resultType="java.lang.Long">
    select count(*) from dbo.temp_modify_address_order_0831
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.temp_modify_address_order_0831
    <set>
      <if test="record.rorderFno != null">
        rorder_fno = #{record.rorderFno,jdbcType=VARCHAR},
      </if>
      <if test="record.rorderNo != null">
        rorder_no = #{record.rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.rorderItem != null">
        rorder_item = #{record.rorderItem,jdbcType=INTEGER},
      </if>
      <if test="record.handleStatus != null">
        handle_status = #{record.handleStatus,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.temp_modify_address_order_0831
    set rorder_fno = #{record.rorderFno,jdbcType=VARCHAR},
      rorder_no = #{record.rorderNo,jdbcType=VARCHAR},
      rorder_item = #{record.rorderItem,jdbcType=INTEGER},
      handle_status = #{record.handleStatus,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831">
    update dbo.temp_modify_address_order_0831
    <set>
      <if test="rorderNo != null">
        rorder_no = #{rorderNo,jdbcType=VARCHAR},
      </if>
      <if test="rorderItem != null">
        rorder_item = #{rorderItem,jdbcType=INTEGER},
      </if>
      <if test="handleStatus != null">
        handle_status = #{handleStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where rorder_fno = #{rorderFno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.TempModifyAddressOrder0831">
    update dbo.temp_modify_address_order_0831
    set rorder_no = #{rorderNo,jdbcType=VARCHAR},
      rorder_item = #{rorderItem,jdbcType=INTEGER},
      handle_status = #{handleStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where rorder_fno = #{rorderFno,jdbcType=VARCHAR}
  </update>
</mapper>