<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.TransdataMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.Transdata">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="itemNo" jdbcType="INTEGER" property="itemno" />
    <result column="model_no" jdbcType="VARCHAR" property="modelNo" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="trans_type" jdbcType="INTEGER" property="transType" />
    <result column="trans_time" jdbcType="TIMESTAMP" property="transTime" />
    <result column="trans_psn" jdbcType="NVARCHAR" property="transPsn" />
    <result column="remark" jdbcType="NVARCHAR" property="remark" />
    <result column="corder_no" jdbcType="VARCHAR" property="corderNo" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="from_type" jdbcType="INTEGER" property="fromType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, invoice_no, order_no, itemNo, model_no, quantity, trans_type, trans_time, trans_psn, 
    remark, corder_no, customer_no, user_no, from_type
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.TransdataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo._transdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo._transdata
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo._transdata
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.TransdataExample">
    delete from dbo._transdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.Transdata">
    insert into dbo._transdata (id, invoice_no, order_no, 
      itemNo, model_no, quantity, 
      trans_type, trans_time, trans_psn, 
      remark, corder_no, customer_no, 
      user_no, from_type)
    values (#{id,jdbcType=BIGINT}, #{invoiceNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{itemno,jdbcType=INTEGER}, #{modelNo,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{transType,jdbcType=INTEGER}, #{transTime,jdbcType=TIMESTAMP}, #{transPsn,jdbcType=NVARCHAR}, 
      #{remark,jdbcType=NVARCHAR}, #{corderNo,jdbcType=VARCHAR}, #{customerNo,jdbcType=VARCHAR}, 
      #{userNo,jdbcType=VARCHAR}, #{fromType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.Transdata">
    insert into dbo._transdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="invoiceNo != null">
        invoice_no,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="itemno != null">
        itemNo,
      </if>
      <if test="modelNo != null">
        model_no,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="transTime != null">
        trans_time,
      </if>
      <if test="transPsn != null">
        trans_psn,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="corderNo != null">
        corder_no,
      </if>
      <if test="customerNo != null">
        customer_no,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="fromType != null">
        from_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="itemno != null">
        #{itemno,jdbcType=INTEGER},
      </if>
      <if test="modelNo != null">
        #{modelNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=INTEGER},
      </if>
      <if test="transTime != null">
        #{transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transPsn != null">
        #{transPsn,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="corderNo != null">
        #{corderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="fromType != null">
        #{fromType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.TransdataExample" resultType="java.lang.Long">
    select count(*) from dbo._transdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo._transdata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.invoiceNo != null">
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.itemno != null">
        itemNo = #{record.itemno,jdbcType=INTEGER},
      </if>
      <if test="record.modelNo != null">
        model_no = #{record.modelNo,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.transType != null">
        trans_type = #{record.transType,jdbcType=INTEGER},
      </if>
      <if test="record.transTime != null">
        trans_time = #{record.transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transPsn != null">
        trans_psn = #{record.transPsn,jdbcType=NVARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.corderNo != null">
        corder_no = #{record.corderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerNo != null">
        customer_no = #{record.customerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userNo != null">
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fromType != null">
        from_type = #{record.fromType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo._transdata
    set id = #{record.id,jdbcType=BIGINT},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      itemNo = #{record.itemno,jdbcType=INTEGER},
      model_no = #{record.modelNo,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      trans_type = #{record.transType,jdbcType=INTEGER},
      trans_time = #{record.transTime,jdbcType=TIMESTAMP},
      trans_psn = #{record.transPsn,jdbcType=NVARCHAR},
      remark = #{record.remark,jdbcType=NVARCHAR},
      corder_no = #{record.corderNo,jdbcType=VARCHAR},
      customer_no = #{record.customerNo,jdbcType=VARCHAR},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      from_type = #{record.fromType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.Transdata">
    update dbo._transdata
    <set>
      <if test="invoiceNo != null">
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="itemno != null">
        itemNo = #{itemno,jdbcType=INTEGER},
      </if>
      <if test="modelNo != null">
        model_no = #{modelNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=INTEGER},
      </if>
      <if test="transTime != null">
        trans_time = #{transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transPsn != null">
        trans_psn = #{transPsn,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="corderNo != null">
        corder_no = #{corderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="fromType != null">
        from_type = #{fromType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.Transdata">
    update dbo._transdata
    set invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      itemNo = #{itemno,jdbcType=INTEGER},
      model_no = #{modelNo,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      trans_type = #{transType,jdbcType=INTEGER},
      trans_time = #{transTime,jdbcType=TIMESTAMP},
      trans_psn = #{transPsn,jdbcType=NVARCHAR},
      remark = #{remark,jdbcType=NVARCHAR},
      corder_no = #{corderNo,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      from_type = #{fromType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>