<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.WGroupcustomersMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.WGroupcustomers">
    <id column="GroupId" jdbcType="VARCHAR" property="groupid" />
    <result column="GroupName" jdbcType="NVARCHAR" property="groupname" />
    <result column="VipCode" jdbcType="CHAR" property="vipcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GroupId, GroupName, VipCode
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.WGroupcustomersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.w_GroupCustomers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.w_GroupCustomers
    where GroupId = #{groupid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dbo.w_GroupCustomers
    where GroupId = #{groupid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.WGroupcustomersExample">
    delete from dbo.w_GroupCustomers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.WGroupcustomers">
    insert into dbo.w_GroupCustomers (GroupId, GroupName, VipCode
      )
    values (#{groupid,jdbcType=VARCHAR}, #{groupname,jdbcType=NVARCHAR}, #{vipcode,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.WGroupcustomers">
    insert into dbo.w_GroupCustomers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        GroupId,
      </if>
      <if test="groupname != null">
        GroupName,
      </if>
      <if test="vipcode != null">
        VipCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=NVARCHAR},
      </if>
      <if test="vipcode != null">
        #{vipcode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.WGroupcustomersExample" resultType="java.lang.Long">
    select count(*) from dbo.w_GroupCustomers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.w_GroupCustomers
    <set>
      <if test="record.groupid != null">
        GroupId = #{record.groupid,jdbcType=VARCHAR},
      </if>
      <if test="record.groupname != null">
        GroupName = #{record.groupname,jdbcType=NVARCHAR},
      </if>
      <if test="record.vipcode != null">
        VipCode = #{record.vipcode,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.w_GroupCustomers
    set GroupId = #{record.groupid,jdbcType=VARCHAR},
      GroupName = #{record.groupname,jdbcType=NVARCHAR},
      VipCode = #{record.vipcode,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sales.ops.db.entity.WGroupcustomers">
    update dbo.w_GroupCustomers
    <set>
      <if test="groupname != null">
        GroupName = #{groupname,jdbcType=NVARCHAR},
      </if>
      <if test="vipcode != null">
        VipCode = #{vipcode,jdbcType=CHAR},
      </if>
    </set>
    where GroupId = #{groupid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sales.ops.db.entity.WGroupcustomers">
    update dbo.w_GroupCustomers
    set GroupName = #{groupname,jdbcType=NVARCHAR},
      VipCode = #{vipcode,jdbcType=CHAR}
    where GroupId = #{groupid,jdbcType=VARCHAR}
  </update>
</mapper>