<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sales.ops.db.dao.YyLongmodelexchangeMapper">
  <resultMap id="BaseResultMap" type="com.sales.ops.db.entity.YyLongmodelexchange">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="YYModel" jdbcType="VARCHAR" property="yymodel" />
    <result column="ModelNo" jdbcType="VARCHAR" property="modelno" />
    <result column="Model" jdbcType="VARCHAR" property="model" />
    <result column="ModelCopy" jdbcType="VARCHAR" property="modelcopy" />
    <result column="OtherRules" jdbcType="VARCHAR" property="otherrules" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, YYModel, ModelNo, Model, ModelCopy, OtherRules
  </sql>
  <select id="selectByExample" parameterType="com.sales.ops.db.entity.YyLongmodelexchangeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.YY_LongModelExchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sales.ops.db.entity.YyLongmodelexchangeExample">
    delete from dbo.YY_LongModelExchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sales.ops.db.entity.YyLongmodelexchange">
    insert into dbo.YY_LongModelExchange (id, YYModel, ModelNo, 
      Model, ModelCopy, OtherRules
      )
    values (#{id,jdbcType=INTEGER}, #{yymodel,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{modelcopy,jdbcType=VARCHAR}, #{otherrules,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sales.ops.db.entity.YyLongmodelexchange">
    insert into dbo.YY_LongModelExchange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yymodel != null">
        YYModel,
      </if>
      <if test="modelno != null">
        ModelNo,
      </if>
      <if test="model != null">
        Model,
      </if>
      <if test="modelcopy != null">
        ModelCopy,
      </if>
      <if test="otherrules != null">
        OtherRules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yymodel != null">
        #{yymodel,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="modelcopy != null">
        #{modelcopy,jdbcType=VARCHAR},
      </if>
      <if test="otherrules != null">
        #{otherrules,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sales.ops.db.entity.YyLongmodelexchangeExample" resultType="java.lang.Long">
    select count(*) from dbo.YY_LongModelExchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.YY_LongModelExchange
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.yymodel != null">
        YYModel = #{record.yymodel,jdbcType=VARCHAR},
      </if>
      <if test="record.modelno != null">
        ModelNo = #{record.modelno,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        Model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.modelcopy != null">
        ModelCopy = #{record.modelcopy,jdbcType=VARCHAR},
      </if>
      <if test="record.otherrules != null">
        OtherRules = #{record.otherrules,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.YY_LongModelExchange
    set id = #{record.id,jdbcType=INTEGER},
      YYModel = #{record.yymodel,jdbcType=VARCHAR},
      ModelNo = #{record.modelno,jdbcType=VARCHAR},
      Model = #{record.model,jdbcType=VARCHAR},
      ModelCopy = #{record.modelcopy,jdbcType=VARCHAR},
      OtherRules = #{record.otherrules,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>